<td class="gallery_image" style="{style}">
    <div class="link_image clearfix">
        <a href="{LINK}" title="{LINKDESCRIPTION}"><img src="{FILE}" title="{LINKDESCRIPTION}" alt="{LINKDESCRIPTION}" /></a>
    </div>
    <div class="bottom_links" style="{style_2}">
        <div class="link clearfix">
            <a href="{LINK}" title="{LINKDESCRIPTION}">{SEE_IMAGE} <img src="images/link_pfeil_klein.gif" /> </a>
        </div>
        <div class="link clearfix">
            <a href="{LINK_DOWN}" title="{LINKDESCRIPTION}">{DOWN_IMAGE} <img src="images/link_pfeil_klein.gif" /></a> ({DOWNLOAD_SIZE})
        </div>
    </div>
</td>
