/*form advertisements*/
#slist{
    width: 100px;
}

#catlist{
    width: 100px;
}
#name{
    width: 150px;
}

#email{
    width: 150px;
}
/*
#title{
    margin-left: 12px;
}

#name{
    margin-left: 2px;
}
#email{
    margin-left: 40px;
}

#lcatlist{
    margin-left: 32px;
}
#lemail{
    margin-left: 30px;
}
#text{
    margin-top: 5px;
    width: 463px;
}*/
#title{
    width: 410px;
}
#ctitlelabel{
    width: 60px;
    float:left;
}


#text{
    margin-top: 5px;
    width: 470px;
    height: 80px;
}

#clist{
    width: 250px;
    float: left;
    padding-top: 10px;
}
#clistlabel{
    width: 60px;
    float:left;
}
#clistinput{
    width: 60px;
    float:left;
}
#ccatlist{
    
 
   padding-top: 10px;

}
#ccatlistlabel{
    width: 70px;
   
     
    float:left;
}
#ccatlistselect{
 
}

#cemaillabel{
    width: 60px;
    
}
cemailinput{
    
}
#cnamelabel{
     width: 60px;
    float:left;
}
#cnameinput{
    float:left;
    padding-right: 20px;
}


#cemaillabel{
    width: 70px;
    float:left;
   
}
#cemailinput{
    float:left;
 
}


#cname{
    width:250px;
    float:left;
    padding-top: 10px;

}

#cemail{
    padding-top: 10px;
}

#ctext{
    padding-top: 10px;
}
#ctextlabel{
    padding-top: 10px;
    clear:both;
}
#cinfotext{
    padding-top: 10px;
}
#cerror{
    padding-top: 10px;
}

#login{
   
}
#logintext{
      padding: 7px 8px;
    float:left;

}
#loginlink{
    float:left;

}
