
/* labels for contenttypes in backend edit mode */
.content-type-label {
    color: #F00;
    background-color: #FEE;
    display: block;
    border-top: 1px solid #F00;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bold;
}
.content-type-label-secondary {
    color: #F00;
    background-color: #FEE;
    display: block;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: normal;
}
