@CHARSET "UTF-8";

html {
    background: #f4f4f4 url('../images/backgrounds/bg.png') repeat;
    height: 100%;
}

body {
    /*Pages shadow to be done*/
    font-family: Verdana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #797979;
    overflow-y: scroll;
    height: 100%;
}

#page {
    width: 960px;
    /*height: 100%;*/
    background: #fff;
    margin: 0 auto;
}


/* ----- HEADER ----- */
#header {
    height: 90px;
    width: 920px;
    padding: 0 20px;
    border-bottom: 1px solid #797979;
}

#header #logo {
    margin-top:35px;
}

#header #navigation_header {
    display: inline;
    float: right;
    margin-top: 35px;
}
#header #navigation_header li {
    list-style:none;
    float: left;
}

#header #navigation_header li a {
    text-decoration: none;
    display: block;
    padding: 7px 8px;
    font-weight: bold;
    color: #797979;
    text-transform: capitalize;
}
#header #navigation_header li a:active,
#header #navigation_header li a:hover {
    color: #0083cb;
}

#header #navigation_header li.lang_changer a {
    color: #9ba21b;
}

#header #navigation_header #search_term {
    outline: none;
    background: none;
    border: none;
    width: 135px;
    cursor: pointer;
}
#header #navigation_header form {
    margin-top: 3px;
    background: url('../images/misc/sprite.png') no-repeat -252px -293px;
    width: 24px;
    height: 23px;
    overflow: hidden;
}
#header #navigation_header form.active {
    background: url('../images/misc/sprite.png') no-repeat -252px -335px;
}


/* ----- BREADCRUMB ----- */
#breadcrumb {
    height: 60px;
    padding: 0 0 0 20px;
}

#breadcrumb ul {
    display: inline;
}

#breadcrumb ul li {
    list-style: none;
    float: left;
    padding: 10px 0;
    font-size: 12px;
    color: #797979;
    font-weight: bold;
}
#breadcrumb ul li + li {
    margin-left: 10px;
}
#breadcrumb ul li a,
#breadcrumb ul li a:visited,
#breadcrumb ul li a:active {
    text-decoration: none;
    color: #797979;
    font-weight: normal;
}
#breadcrumb ul li a:active,
#breadcrumb ul li a:hover {
    font-weight: bold;
}

/* ----- MENU ----- */
#menu {
    width: 220px;
    min-height: 50px;
    margin-left: 20px;
    float: left;
    padding-bottom: 50px;
}

#menu .navigation {
    display: inline;
}

#menu .navigation li {
    list-style: none;
}
#menu .navigation li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    color: #797979;
    display: block;
}
#menu .navigation li a:hover {
    color: #0083cb;
    font-weight: bold;
}

#menu .navigation li ul li {
    margin-left: 28px;
    display: none;
}
#menu .navigation li a.active + ul > li {
    display: block;
}
#menu .navigation li ul li a {
    padding-left: 5px;
    border-bottom: 1px dotted #ccc;
}
#menu .navigation li ul li a.first {
    border-top: 1px dotted #ccc;
}

/* ----- CONTENT ----- */
#content {
    width: 920px;
    margin-left: 20px;
    float: left;
}

#menu + #content {
    min-height: 50px;
    width: 670px;
    margin-left: 30px;
}

h1 {
    font-size: 19px;
    color: #9ba21b;
    margin-bottom: 10px;
    font-weight: normal;
}
h2 {
    font-size: 13px;
    color: #0083cb;
    font-weight: normal;
    margin-bottom: 7px;
}

p {
    text-align: justify;
}
p + p {
    margin-top: 7px;
}

p a {
    color: #0083cb;
    text-decoration: none;
    border-bottom: 1px dotted #0083cb;
}
p a:hover {
    color: #9ba21b;
    text-decoration: none;
    border-bottom: 1px dotted #9ba21b;
}

/* ----- SLIDER ----- */
.slider {
    width: 920px;
    height: 280px;
}
.slider .images {
    display: inline;
}
.slider .images li {
    position: absolute;
    opacity: 0;
    list-style: none;
}
.slider .images li.active {
    opacity:1;
}
.slider .images li img {
    position: absolute;
    z-index: 1;
}

.slider .images li h2,
.slider .images li h3 {
    color: #FFFFFF;
    display: block;
    font-family: Verdana;
    font-size: 18px;
    height: 150px;
    left: 290px;
    line-height: 22px;
    position: absolute;
    top: 75px;
    width: 560px;
    z-index: 2;
    display: none;
}

.slider .images li h2 {
    font-weight: bold;
    font-size: 30px;
    top: 27px;
}

.slider .images li.active h2,
.slider .images li.active h3 {
    display: block;
}

.slider .images li a {
    position: absolute;
    z-index:2;
    display: block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color:#fff;
    background: #e50051;
    height: 25px;
    line-height: 25px;
    border-radius: 9px;
    margin: 200px 0 0 700px;
    border-bottom: 1px solid #c31250;
    border-right: 1px solid #c31250;
    border-top: 1px solid #d687a4;
    border-left: 1px solid #d687a4;
}

.slider .pagination{
    margin-top: 245px;
    left: 50%;
    position: absolute;
    z-index: 3;
    background: #fff;
    padding: 0 25px;
}
.slider .pagination li {
    list-style: none;
    float: left;
}
.slider .pagination li + li {
    margin-left: 3px;
}

.slider .pagination li a {
    display: block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: 1px dashed #797979;
    color: #797979;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
.slider .pagination li a:hover,
.slider .pagination li a.active {
    border: 1px solid #0083cb;
    color: #0083cb;
}

/* ----- NEWSTEASER ----- */
/* 4-culumn version */

.column_quarter {
    width: 920px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.column_quarter .col {
    float: left;
    width: 210px;
}
.column_quarter .col + .col {
    margin-left: 20px;
}
.column_quarter .col h3 {
    font-size: 14px;
    line-height: 40px;
}
.column_quarter .col span.date {
    font-size: 9px;
    color: #ccc;
}
.column_quarter .col .teaser_img {
    margin: 0;
    height: 110px;
    width: 215px;
    background: #efefef;
    overflow: hidden;
}
.column_quarter .col .teaser_img p {
    width: 205px;
    height: 100px;
    display: block;
    margin-top: -105px;
    background: #fff;
    opacity: 0.5;
    padding: 5px;
    border-bottom: 15px solid #fff;
}
.column_quarter .col .teaser_img:hover p {
    margin-top: 0;
    opacity: 0.9;
    transition: all 0.4s;
    -moz-transition: all 0.4s; /* Firefox 4 */
    -webkit-transition: all 0.4s; /* Safari and Chrome */
    -o-transition: all 0.4s; /* Opera */
}

.column_quarter .col a.more {
    text-decoration: none;
    color:#9ba21b;
    text-align:right;
    display: block;
    line-height:17px;
    margin-top:5px;
}
.column_quarter .col a.more:hover {
    color: #0083cb;
}

/* ----- SEARCH RESULT ----- */
#search.full {
    width: 316px;
    height: 24px;
    padding: 0 5px;
    border: 1px solid #797979;
    margin-bottom: 30px;
    outline: none;
}
.submit.search {
   vertical-align: top;
   background: #ec0053;
   border: 1px solid #a34a6a;
   border-radius: 12px;
   height: 28px;
   color: #fff;
   padding: 0 15px;
   cursor: pointer;
}

.pagination {
    padding: 10px 0;
    font-size: 11px;
}

.pagination ul {
    display: inline;
    float: right;
}
.pagination ul li {
    list-style: none;
    float: left;
    margin-left: 5px;
}
.pagination ul li a {
    color :#000;
}
.pagination ul li a.active,
.pagination ul li a:hover {
    color: #0083cb;
}
#search_result {
    display: inline;
}
#search_result li {
    list-style: none;
    padding: 0 0 0 30px;
}
#search_result li>span {
    position: absolute;
    width: 29px;
    margin-left: -30px;
    text-align: right;
}

#search_result li a {
    color: #9ba21b;
}
#search_result li a:hover,
#search_result li:hover a {
    color: #0083cb;
}
#search_result li p {
    margin: 5px 0 20px 0;
}

/* ----- GALERY ----- */
.galery {
    width: 670px;
}
.galery .source {
    display: none;
}
.galery .slider,
.galery .pagination {
    display: inline;
}

.galery .slider li,
.galery .pagination li {
    list-style: none;
    float: left;
}

.galery .slider li {
    width: 319px;
    height: 194px;
    border: 3px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}
.galery .slider li img {
    width: 319px;
}
.galery .slider li.odd {
    margin-left: 20px;
}

.galery .pagination li + li {
    margin-left: 2px;
}
.galery .pagination li a {
    text-decoration: none;
    padding: 2px 5px;
    border: 2px solid transparent;
    display: block;
    margin-bottom: 20px;
    color: #797979;
}
.galery .pagination li a.active {
    border: 2px solid #ccc;
    color: #0083cb;
}

/* ----- LINKLIST ----- */

ul.linklist {
    display: inline;
}

ul.linklist li {
    list-style: none;
    margin: 18px 0;
}

ul.linklist li a:link,
ul.linklist li a:active,
ul.linklist li a:visited {
    color: #9ba21b;
    background: url('../images/misc/sprite.png') no-repeat 0 -196px; 
    padding-left: 9px;
}
ul.linklist li:hover a {
    color: #0083cb;
    background: url('../images/misc/sprite.png') no-repeat 0 -231px;
}

ul.linklist li p {
    margin-top: 7px;
}

/* ----- DOWNLOADLIST ----- */

ul.downloadlist {
    display: inline;
}

ul.downloadlist > li {
    list-style: none;
    padding: 15px 0;
}

ul.downloadlist ul.formats {
    display: inline;
}


ul.downloadlist ul.formats li {
    list-style: none;
    float: left;
}
ul.downloadlist ul.formats li + li {
    margin-left: 20px;
}
ul.downloadlist ul.formats li a:link,
ul.downloadlist ul.formats li a:visited,
ul.downloadlist ul.formats li a:active {
  background: url('../images/misc/sprite.png') no-repeat 0 -267px; 
  padding-left: 35px; 
  height: 19px; 
  display: block; 
  color: #9ba21b;
}

ul.downloadlist ul.formats li:hover a {
   color: #0083cb; 
}

ul.downloadlist > li > img {
    width:148px;
    height: 74px;
    float: left;
    margin-right: 20px;
    border: 3px solid #f5f5f5;
}
ul.downloadlist > li > img + .content {
    float: left;
    width: 490px;

}

ul.downloadlist > li  span.info {
    color: #a1a1a1;
    font-size: 9px;
    display: block;
    margin: 10px 0 4px 0;
}

ul.downloadlist > li p {
    font-size: 11px;
}


/* Overlays */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* workarounds */
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0; /* reset extra padding in Firefox */
}

.ui-dialog {
    position: absolute;
    overflow: hidden;
}
.ui-dialog .ui-dialog-titlebar {
    height: 30px;
    position: relative;
}
.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .1em 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin-top: -18px;
    height: 18px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    background: none;
    overflow: auto;
    zoom: 1;
}
.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
}
.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

/* Component containers
----------------------------------*/

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1em;
}
.ui-widget-content {
    background: #fff;
    color: #797979;
    border: 20px solid #fff;
}
.ui-widget-content a {
    color: #333;
}
.ui-widget-header a {
    color: #797979;
    text-decoration: none;
    font-size:15px;
    text-align: right;
}

/* Overlays */
.ui-widget-overlay {
    background: #66;
    opacity: .5;
    filter:Alpha(Opacity=50);
}
.ui-widget-shadow {
    margin: -5px 0 0 -5px;
    padding: 5px;
    background: #000;
    opacity: .2;
    filter: Alpha(Opacity=20);
    -moz-border-radius:5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ui-dialog-content {
    text-align: center;
}

/* ----- FOOTER ----- */

#footer {
    width: 920px;
    padding: 0 20px;
    min-height: 30px;
    clear: both;
    background: #a6d4ec;
}

#footer .navigation {
    display: inline;
}
#footer .navigation li {
    list-style: none;
    float: left;
}

#footer .navigation li + li {
    margin-left: 15px;
}

#footer .navigation li a {
    font-size: 13px;
    text-decoration: none;
    line-height: 30px;
    color: #797979;
}

#copyright {
    width: 100%;
    height: 80px;
    margin-top: 10px;
}

/* ----- SOCIAL MEDIA ----- */
ul.social_media {
    float: right;
    list-style-type: none;
    margin-top: 5px;
}

ul.social_media li {
    float: left;
    display: block;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    background: url('../images/misc/sprite.png') no-repeat;
}

ul.social_media li a {
    display: block;
    height: 20px;
    width: 20px;
}

ul.social_media li.facebook {
    background-position: -323px -388px;
}

ul.social_media li.rss {
    background-position: -358px -388px;
}

ul.social_media li.youtube {
    background-position: -287px -388px;
}

ul.social_media li.twitter {
    background-position: -251px -388px;
}
