@CHARSET "UTF-8";      

html{
	    background: #f4f4f4 url('../images/backgrounds/bg.png') repeat;     
}  
body{
/*Pages shadow to be done*/  
 	font-family: Verdana, sans-serif;
	font-size:12px;
}  

#page {
	width: 960px;
	min-height:100%;
	background: #fff;
	margin: 0 auto;
} 


 
/* ----- HEADER ----- */
#header {
	height:90px;   
	width: 920px;
	padding: 0 20px;
	border-bottom: 1px solid #797979;
} 

#header #logo  {
	margin-top:35px;
}  


/* ----- BREADCRUMB ----- */ 
#breadcrumb {
	height:60px;  
	padding: 0 0 0 20px;  
}  
 
#breadcrumb ul {
	display: inline; 
	
}  

#breadcrumb ul li {
	list-style:none;
	float:left; 
	padding: 10px 0;
	font-size:12px;  
	color: #797979; 
	font-weight:bold;
}  
#breadcrumb ul li + li {
	margin-left:10px;   
} 
#breadcrumb ul li a,
#breadcrumb ul li a:visited,
#breadcrumb ul li a:active {
	text-decoration: none;  
	color: #797979;  
	font-weight:normal;
} 
#breadcrumb ul li a:active,
#breadcrumb ul li a:hover {
	font-weight:bold;
}  

/* ----- MENU ----- */  
#menu {
	width: 220px;
	min-height:50px; 
	margin-left:20px; 
	float: left;  
	padding-bottom: 50px;
} 

#menu .navigation {
	display: inline;
}    

#menu .navigation li {
	list-style:none;
} 
#menu .navigation li a {
	text-decoration: none; 
	font-size: 12px;  
	line-height:24px;  
	color: #797979;
	display: block; 
} 
#menu .navigation li a:hover {
 	color: #0083cb;
	font-weight: bold; 
}

#menu .navigation li ul li {
	margin-left: 28px; 
	display: none; 
}
#menu .navigation li a.active + ul > li {
	display: block;
}
#menu .navigation li ul li a { 
	padding-left:5px;  
	border-bottom: 1px dotted #ccc;
} 
#menu .navigation li ul li a.first {
	border-top: 1px dotted #ccc;
}
 
/* ----- CONTENT ----- */  
#content {
	width: 920px;
	margin-left:20px; 
	float: left; 
}     

#menu + #content {
	min-height:50px;
	width: 670px;
	margin-left: 30px;
}    
 

/* ----- FOOTER ----- */  

#footer {
	width: 920px;  
	padding: 0 20px;
	min-height:30px; 
	clear:both; 
	background: #a6d4ec;
} 

#footer .navigation {
	display: inline;
}  
#footer .navigation li {
	list-style: none;  
	float:left;
}

#footer .navigation li + li {
	margin-left: 15px;
}

#footer .navigation li a {
	font-size: 13px;
	text-decoration: none;  
	line-height: 30px; 
	color: #797979;
}      

#copyright {
	width: 100%;
	height:80px;
}