html, body {height:100%}

body {
	padding:0;
	margin:0;
	text-align:left;
	background-color: #FFFFFF;
	font-size:11px;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif;
	color: rgb(0,0,0);
	overflow-x: hidden;
	overflow: -moz-scrollbars-vertical;
}

td {
	font-size:11px;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif;
	color: rgb(0,0,0);
	width:240px;
	margin-bottom:8px;
}

.input {
	font-size:11px;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif;
	color: rgb(0,0,0);
	width:240px;
	margin-bottom:8px;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}

.label {
	font-size:11px;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif;
	color: rgb(0,0,0);
}

.small {
	font-size:9px;
}

#outer{
	height:100%;
	min-height:100%;
	color: #000000;
	text-align:left;
	position:relative;
}
 
html>body #outer{height:auto;} 

#innerwrap {
	float:left;
        
}

#header{
	display:none;
}

#left {
	display:none;
}

#left p {padding-left:3px;padding-right:2px}

#right p {padding-left:4px;padding-right:2px}

#imagecolumn {
	display:none;
}

#imagecolumn a {
	padding:0;
	font-weight:normal;
	font-size:11px;
	color: rgb(217,104,28);
	margin:0;
}

#imagecolumn h1 {
	padding-left:0px;
	font-weight:normal;
	font-size:11px;
	color: rgb(217,104,28);
	margin:0;
}

#right {
	position:relative;
	width:170px;
	margin-top:10px;
	padding-top:170px;
	padding-bottom:20px;
	background-color:#999999;
	background:url('../images/randbg.jpg');
	background-position:0px 0px;
	background-repeat:no-repeat;
}

div,p  {margin-top:0;}

#centrecontent {
	padding-left:0px;
	padding-right:10px;
	padding-bottom:20px;
}

#centrecontent p {padding-left:3px}

#clearfooter {width:100%;height:52px;clear:both}

#bottomnavi {
	display:none;
}

#additionalnavi {
	display:none;
}

#logo {
	margin-top:18px;
	padding-left:30px;
	vertical-align:top;
}

#logo1 {
	float:left;
	padding-top:16px;
}

#logo2 {
	margin-left:150px;
	padding-top:15px;
}

#navipath {
	display:none;
}

.navi{
	width:180px;
	/*border-bottom: 1px dotted rgb(169,174,194);*/
	border-bottom: 1px dotted rgb(229,241,248);
	background-color:rgb(255,255,255);
}

h1 {
	padding-left:2px;
	font-weight:normal;
	font-size:11px;
	color: rgb(217,104,28);
	margin:0;
}

h1.content {
	padding-bottom:12px;
}

hr { 	display:none; }

a { font-size:11px;  color: rgb(0,0,0);text-decoration:none;}
a:hover { text-decoration:underline; }

a.newsheadline { font-weight:bold; } 

a.bottomnavi { color: rgb(160,160,160); } 

a.additionalnavi { font-size:10px; color: rgb(0,0,0); }

a.navipath { font-size:10px; color: rgb(99,99,99); } 

a.navileft_passive {
	display:block;
	background-color:#E8E8EE;
	padding-top:3px;
	padding-bottom:3px;
	color:rgb(51,79,119);
} 
a.navileft_active {
	display:block;
	background-color:#ffffff;
	background:url("../images/navi_pfeil_rechts.gif") no-repeat;
	background-position:right;
	padding-top:3px;
	padding-bottom:3px;
	color:rgb(51,79,119);
} 
a.navileft_open {
	padding-left:10px;
	display:block;
	background:url("../images/navi_pfeil.gif") no-repeat;
	background-position:right;
	background-color:#E8E8EE;
	padding-top:3px;
	padding-bottom:3px;
	color:rgb(51,79,119);
} 

a.sitemap_level1 {
	display:block;
	border-bottom:1px solid #b4a8b4;
	color: #33475f;
	font-weight:bold;
	padding-bottom:.4em;
	background:url("../images/navi_pfeil_rechts.gif") no-repeat;
	background-position:right;
}

a.sitemap_level2 {
	color:#4b5459;
	background:url("../images/navi_pfeil_rechts.gif") no-repeat;
	background-position:170px 4px;
	display:block;
}

a.sitemap_level3 {
	color:#4b5459
}

.sitemap_level2_container {
	float:left;
	width:50%;
	padding-top:.3em;
}

.sitemap_level3_container {
	float:right;
	width:50%;
	padding-top:.3em;
}

.input_searchbox {
	width:65px;
	vertical-align:middle;
	font-size:11px;
	position:relative;
	left:80px;
}

.label_searchbox {
	vertical-align:middle;
	color: #9d9ea2;
	position: relative;
	left:-65px;
}

#loginbox {
	background-color:#DFE0E5;
	border-top:1px solid #aeaeae;
	border-bottom:1px solid #aeaeae;
	padding-bottom:.6em;
	padding-top:.6em;
	padding-left:.5em;
	padding-right:.5em;
	margin-top:1.5em;
	margin-bottom:1.5em;
}

#searchbox {
	background-color:#DFE0E5;
	border-top:1px solid #aeaeae;
	border-bottom:1px solid #aeaeae;
	padding-bottom:.6em;
	padding-top:.6em;
	padding-left:.5em;
	padding-right:.5em;
	margin-top:1.5em;
	margin-bottom:1.5em;
}

#newsletterbox {
   background-color:#DFE0E5;
   border-top:1px solid #aeaeae;
   border-bottom:1px solid #aeaeae;
   padding-bottom:.6em;
   padding-top:.6em;
   padding-left:.5em;
   padding-right:.5em;
   margin-top:1.5em;
   margin-bottom:1.5em;
}

.hidden {
	display:none;
}


.teaser_img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px; 
}