/* General */
* {
	margin: 0;
	padding: 0;
}

html, body {
	background: url(../images/bg.gif) repeat-y;
	font-size: 1em;
	font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
}

body {
	font-size: 100.01%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

.y {
	clear: both;
}

.x {
	height: 0px;
	width: 0px;
	display: block;
	overflow: hidden;
}

ul, li, ol {
	list-style: none;
}

div#wrap {
 width: 779px;
}

/* Meta navigation */
div#meta {
	background: #F1F1F1;
	font-size: 0.6875em;
	padding: 3px 0 0 0;
	width: 779px;
}

div#meta p {
	background: #fff;
	width: 170px;
	margin: 0 0 0 609px;
	padding: 0 0 3px 0;
	text-align: center;
	color: #a0a0a0;
}

div#meta p a {
	color: #a0a0a0;
}

/* Header */
div#header {
	background: url(../images/bg2.gif);
	padding: 0 0 5px 0;
}

div#header p {
	background: #fff no-repeat top right;
	height: 80px;
}

div#header p img {
	margin: 10px 0 0 30px;
}

/* Layout columns */
div#col-left {
	width: 180px;
	float: left;
	font-size: 0.6875em;
}

div#col-body {
	width: 429px;
	float: left;
}

div#col-right {
	width: 170px;
	float: left;
}

/* Main navigation */
div#mnavi a {
	display: block;
	color: #334f77;
	background-color: #fff;
	border-bottom: 1px solid #aaaaaa;
}

div#col-left ul.e1 {
	margin: 15px 0 0 0;
}

div#col-left li a.e1p {
	padding: 3px 5px 3px 10px;
}

div#col-left li a.e1a,
div#col-left li a.e1o,
div#col-left li a.e1oa {
	padding: 3px 5px 3px 10px;
	background: #fff url(../images/navi_pfeil_rechts.gif) no-repeat right center;
}

div#col-left li a.e1oa {
	background: #fff url(../images/navi_pfeil.gif) no-repeat right center;
}

div#col-left li a.e1o {
	background: #E2E2E2 url(../images/navi_pfeil.gif) no-repeat right center;
}

div#col-left li a.e2p {
	padding: 3px 5px 3px 20px;
}

div#col-left li a.e2a,
div#col-left li a.e2o,
div#col-left li a.e2oa {
	padding: 3px 5px 3px 20px;
	background: #fff url(../images/navi_pfeil_rechts.gif) no-repeat right center;
}

div#col-left li a.e2oa {
	background: #fff url(../images/navi_pfeil.gif) no-repeat right center;
}

div#col-left li a.e2o {
	background: #E2E2E2 url(../images/navi_pfeil.gif) no-repeat right center;
}

div#col-left li a.e3p {
	padding: 3px 5px 3px 30px;
	background: #E2E2E2 url(../images/pf_navi1.gif) no-repeat 25px 8px;
}

div#col-left li a.e3a,
div#col-left li a.e3o {
	padding: 3px 5px 3px 30px;
	background: #fff url(../images/navi_pfeil_rechts.gif) no-repeat right center;
}

div#col-left li a.e3o {
	background: #E2E2E2 url(../images/navi_pfeil.gif) no-repeat right center;
}

div#col-left ul.e3 {

}

/* Boxes, left */
div.boxleft,
div.logoutbox {
	background: #dfe0e5;
	width: 180px;
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	margin: 15px 0 0 0;
	padding: 5px 0 0 0;
	font-size: 1.45em;
}

div.boxleft label {
	float: left;
	width: 75px;
	text-indent: 10px;
	padding: 1px 0 0 0;
	cursor: pointer;
	color: #9d9ea2;
	font-size: 0.6875em;
}

div.boxleft input {
	float: left;
	width: 65px;
	margin: 0 5px 5px 0;
	font-size: 0.6875em;
}

div.boxleft a {
	float: left;
	width: 30px;
	color: #9d9ea2;
	padding: 1px 0 0 0;
	font-size: 0.6875em;
}

div.boxleft a:hover {
	text-decoration: none;
}

div.boxleft select {
	float: left;
	width: 85px;
	font-size: 0.6875em;
	margin: 0 5px 5px 59px;
}

div.logoutbox p {
	font-size: 0.6875em;
	padding: 0 10px 10px 10px;
}

div.logoutbox p {
	font-size: 0.6875em;
	padding: 0 10px 10px 10px;
}

div.logoutbox p a {
	color: #9d9ea2;
	padding: 0 13px 0 0;
	background: url(../images/navi_pfeil_rechts.gif) no-repeat right center;
}


/* Content */
h1 {
	font-size: 0.75em;
	color: #D9681C;
	padding: 0 10px 2px 10px;
}

div#col-body h2 {
	font-size: 0.6875em;
	color: #D9681C;
	padding: 20px 10px 5px 10px;
}

div#col-body p {
	font-size: 0.6875em;
	color: #3E4D74;
	padding: 10px 10px 0 10px;
	line-height: 1.5;
}

div#col-body div.artikelliste p {
	padding: 0 10px;
}

div#col-body h2 a,
div#col-body div.artikelliste p a {
	color: #D9681C;
}

div#col-body a {
	color: #D9681C;
}

div#col-body div.content ul {
	color: #3E4D74;
	padding: 10px 10px 0 10px;
	font-size: 0.6875em;
}

div#col-body div.content ul li {
	background: url(../images/navi_pfeil_rechts.gif) no-repeat 0px 7px;
	padding: 3px 0 3px 10px;
}

* html div#col-body div.content ul {
	width: 100%;
}

* html div#col-body div.content ul li {
	float: left;
	width: 400px;
}

div#bc {
	color: #a0a0a0;
	font-size: 0.6875em;
	padding: 2px 10px 10px 10px;
}

div#bc a {
	color: #a0a0a0;
}

/* Footer */
div#footer {
	border-top: 1px solid #d2d2d2;
	margin: 40px 10px 50px 10px;
	padding: 5px 0 0 0;
	text-align: center;
	font-size: 0.6875em;
	color: #a0a0a0;
}

div#footer a {
	color: #a0a0a0;
}

/* Contact form */
div.kontaktformular label {
	float: left;
	width: 100px;
}

div.kontaktformular input {
	vertical-align: middle;
}

div.kontaktformular p.abschicken {
	margin: 0 0 0 100px;
}

div.kontaktformular p.abschicken input {
	font-size: 11px;
}

div.kontaktformular input.eingabe,
div.kontaktformular textarea {
	width: 300px;
}

div.kontaktformular textarea {
	height: 150px;
}

/* Right column */
div#col-right h1 {
	padding: 10px 10px 0 10px;
}

div#col-right h3 {
	font-size: 0.6875em;
	padding: 0 10px;
}

div#col-right p {
	font-size: 0.6875em;
	padding: 0 10px 20px 10px;
	color: #3E4D74;
	line-height: 1.5;
}

div#col-right a {
	color: #D9681C;
}

/* Search results */
div.suchausgabe hr.noshade {
	border: none;
	border-top: 1px solid #a0a0a0;
	height: 0px;
	margin: 15px 10px 0 10px;
}

div.suchausgabe h2 {
	padding: 0;
}

div.suchausgabe p {
	padding: 0;
	margin: 0;
}

div.suchausgabe h2 span {
	color: #000;
	font-weight: normal;
}

/* Image gallery */
table.gallery {
	margin: 20px 10px 0 10px;
	width: 410px;
}

table.gallery td.gallery-navigation {
	font-size: 0.6875em;	
}

table.gallery tr.thumbnails td {
	padding: 0 0 30px 0;
}

table.gallery dd {
	font-size: 0.6875em;
}

div.download {
	font-size: 0.6875em;
	padding: 3px 0 3px 10px;
	background: url(../images/navi_pfeil_rechts.gif) no-repeat 0px 7px;
}

div.download-img {
	font-size: 0.6875em;
	padding: 3px 0 3px 20px;
	background: url(../images/navi_pfeil_rechts.gif) no-repeat 10px 7px;
}

dl.gallery-detail {
	font-size: 0.6875em;
	margin: 20px 10px 0 10px;
	color: #3E4D74;
}

dl.gallery-detail dt {
	text-align: center;
	padding: 0 0 5px 0;
}

/* Sitemap */
ul.sitemap {
	width: 400px;
	margin: 20px 0 0 0;
}

ul.sitemap li {
	background: url(../images/navi_pfeil_rechts.gif) no-repeat 10px 7px;
	padding: 3px 0 3px 20px;
	float: left;
	font-size: 0.6875em;
	width: 390px;
}

ul.sitemap li ul {
	width: 350px;
	margin: 5px 0 0 0;
}

ul.sitemap li ul li {
	float: left;
	width: 300px;
}

ul.sitemap li ul li {
	font-size: 1em;
}

a.extern {
	padding: 0 0 0 12px;
	background: url(../images/button_externen_link.gif) no-repeat 0 4px;
}