body {
	font-size:11px;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif;
	color: rgb(0,0,0);
}

td {
	font-size:11px;
	font-family: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif;
	color: rgb(0,0,0);
	width:240px;
	margin-bottom:8px;
}

h1 {
	padding-left:2px;
	font-weight:normal;
	font-size:11px;
	color: rgb(217,104,28);
	margin:0;
}

hr { color: rgb(210,210,210); }

a { font-size:11px;  color: rgb(0,0,0);text-decoration:none;}
a:hover { text-decoration:underline; }
