.cms_dynamic_toolbar {
	background-color: #F1F1F1;
	border: 1px solid #CCC;
	margin-top: 10px;
	padding-top: 3px;
}
.cms_dynamic_toolbar a{
	outline: 0;
}
.cms_dynamic_content_title{
	float: left;
}
.cms_dynamic_toolbar a:hover, .cms_dynamic_edit .cms_dynamic_content_action a {
	text-decoration: none;
}
.cms_dynamic_toolbar .cms_dynamic_toolbar_header ul {
	margin-left: 0;
	padding-left: 0;
}
.cms_dynamic_toolbar .cms_dynamic_toolbar_header ul li{
	display: inline;
}

.cms_dynamic_edit {
	;
}
a.cms_dynamic_link_disabled {
	color: #CCC;
}
.cms_dynamic_toolbar_header li a{
	padding-left: 3px; 
	padding-right: 3px;
}
.cms_dynamic_toolbar_header li a:hover {
	background-color: #C8DCF4;
}
.cms_dynamic_toolbar_header li a.cms_dynamic_active_link {
	background-color: #C8DCF4;
}
.cms_dynamic_types {
	float: left;
	margin-top: 0;
}
.cms_dynamic_header_action {
	float: right;
	margin-right: 3px;
}
.cms_dynamic_edit .cms_dynamic_content_action {
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: right;
	text-decoration: none;
}

.cms_dynamic_content_action_move {
	cursor: move;
}

.cms_dynamic_content_action_delete {

}

.cms_dynamic_element_index_form {
	display: none; 
	height: 0;
	visibility: hidden;
}

.cms_dynamic_config {
	clear: both;
}

.cms_dynamic_config_element {
	display: none;
	padding-bottom: 3px;
	padding-left: 3px;
}

.cms_dynamic_config_element select{
	width: 250px;
}
.cms_dynamic_clean {
	clear: both;
	display: block;
	height: 1px;
}

