html, body, div, p, td, a, input, textarea, select {
    color: #606060;
    font-family: Verdana,Arial,sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.clearfix{
	display:block;
}
.clearfix:after{
	content:".";
	display:block;
	clear: both;
	height:0px;
	visibility:hidden;
	line-height: 0;

}
/* Button */
.cms_linkeditor_img {
	margin-right: 2px; 
	margin-top: 2px;
    position: absolute;
    z-index: 999;
}
/* Editor Fenster */
.cms_linkeditor  * {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

.cms_linkeditor {
	padding: 3px;
	position:absolute; 
	width: 432px;	
	height:auto;
	background-color:#F1F1F1; 
	border:1px solid #B3B3B3; 
	display:none;
	top: 40px;
	left: 40px;	
	z-index: 1000;
    margin: 0;
	font-size:12px;
}
/* Editor close Button */
.cms_linkeditor .close {
	margin:0; 
	float:right;
}

.cms_linkeditor .toolbar {
    position: relative;
	top:3px;
    right: 0px;	
	text-align: right;
	width:100%; 
	font-style:italic; 
	margin:0; 	
	clear:both;
	height: 20px;
}
/* Editor header */
.cms_linkeditor .head {
    font-weight:bold; 
	margin:0; 
	padding: 0;
	margin-bottom: 5px;
    margin-top: 5px;
}

/* Settings */
.cms_linkeditor .menu {
    clear: both;
    font-size: 11px;
    list-style: none inside none;
    margin-bottom: 5px;
    margin-right: -6px;
    margin-top: 10px;
    width: 430px;
}

.cms_linkeditor .menu li {
    background: none repeat scroll 0 0 transparent !important;
    border-bottom: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 !important;
    padding: 0 10px !important;
    text-align: center;
    vertical-align: bottom;
    /*width: 150px;*/
}
.cms_linkeditor .menu .extern {
    font-weight: bold;
}
.cms_linkeditor .linkeditor_tabs {
    height: auto;
    width: 430px;
}
.cms_linkeditor .cms_linkeditor_extern,
.cms_linkeditor .cms_linkeditor_intern{
    padding-top: 5px;
    width: 430px;
}
.cms_linkeditor .cms_linkeditor_extern label,
.cms_linkeditor .cms_linkeditor_intern label {
    display: block;
    float: left;
    margin: 10px 0 3px 10px;
    width: 100px;
}
.cms_linkeditor .cms_linkeditor_extern input,
.cms_linkeditor .cms_linkeditor_intern input{
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    font-size: 11px;
    margin: 10px 0 3px 10px;
    width: 275px;
}
/*.cms_linkeditor .cms_linkeditor_attr input[name="Href"]{
    width: 15px;
}*/
.cms_linkeditor .cms_linkeditor_extern input[name="externlink"]{
    width: 95%;
}
.cms_linkeditor_intern .directoryList,
.cms_linkeditor_intern .directoryFile,
.cms_linkeditor_directories .directoryList,
.cms_linkeditor_directories .directoryFile {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 210px;
    overflow: auto;
    width: 210px;
	margin-top:10px;
}
.cms_linkeditor_intern .directoryList,
.cms_linkeditor_directories .directoryList{
    margin-right: 5px;
}
.directoryList ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: block;
	background: #FFFFFF;
}

.directoryList  ul li {
	line-height: 20px;
	display: block;
	padding-left: 0px;
	width: 100%;
	float: left;
	white-space: nowrap;
	background-color: #FFFFFF;
}

.directoryList ul li div {
    float: left;
    width: 100%;
    display: block;
    background: #FFF url("../images/dash.gif") no-repeat 16px 8px;
    white-space: nowrap;
}    
.directoryList ul li li li div {
    background-position: 36px 8px;
}
.directoryList ul li li li li div {
    background-position: 56px 8px;
}
.directoryList ul li li li li li div {
    background-position: 76px 8px;
}
.directoryList ul li li li li li li div {
    background-position: 96px 8px;
}
.directoryList ul li li li li li li li div {
    background-position: 116px 8px;
}
.directoryList ul li li li li li li li li div {
    background-position: 136px 8px;
}
.directoryList ul li li li li li li li li li div {
    background-position: 156px 8px;
}
.directoryList ul li li li li li li li li li li div {
    background-position: 176px 8px;
}
.directoryList ul li li li li li li li li li li li div {
    background-position: 196px 8px;
}         
.directoryList ul li li li div {
    background-color: #FFF;
}
.directoryList ul li#root li li em {
    width: 40px;
}
.directoryList ul li#root li li li em {
    width: 60px;
}
.directoryList ul li#root li li li li em {
    width: 80px;
}
.directoryList ul li#root li li li li li em {
    width: 100px;
}
.directoryList ul li#root li li li li li li em {
    width: 120px;
}
.directoryList ul li#root li li li li li li li em {
    width: 140px;
}
.directoryList ul li#root li li li li li li li li em {
    width: 160px;
}
.directoryList ul li#root li li li li li li li li li em {
    width: 180px;
}
.directoryList ul li#root li li li li li li li li li li em {
    width: 200px;
}
.directoryList ul li div.active,
.directoryList ul li#root li div.active a, 
.directoryList ul li#root li div.active em a, 
.directoryList ul li#root li div.active em span {
	background-color: #ECF1B2 !important;
}
.directoryList ul li div:focus ul, 
.directoryList ul lidiv:active ul {
	background-color: #FFF;
}
.directoryList ul li div:hover {
	cursor: pointer;
}
.directoryList ul li div:hover, 
.directoryList ul li div:hover a, 
.directoryList ul li#root li div:hover a, 
.directoryList ul li#root li div:hover em a, 
.directoryList ul li#root li div:hover em span, 
.directoryList div.hover, .directoryList div.hover a, 
.directoryList ul li#root li div.hover a, 
.directoryList ul li#root li div.hover em a, 
.directoryList ul li#root li div.hover em span {
	background-color: #F8FDDC !important;
}
.directoryList ul li div:hover ul {
	background-color: #FFF;
}

.directoryList ul li a:hover{
	background-color: #F8FDDC !important;
	color: #0060B1 !important;
	text-decoration: none;
}

.directoryList ul li li li {
	margin-left: 0;
}

.directoryList ul li a {
	padding: 4px 5px 4px 20px;
    width: auto;
    line-height: 20px;
    display: inline;
    background: #FFF;
	color: #000000;
}
.directoryList ul li#root em {
	width: auto;
	height: 20px;
	display: block;
	float: left;
	padding-left: 20px;
}
.directoryList ul li#root li em {
	/*background: transparent url("../images/vert-neu.gif") no-repeat right top;*/
	margin-right: 0px;
	padding: 0 0 0 0;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}
.directoryList ul li#root li.last ul em {
    background-position: -1000px 0px;
	
}
.directoryList ul li#root li li.last ul em {
    background-position: -980px 0px;
}
.directoryList ul li#root li li li.last ul em {
    background-position: -960px 0px;
}
.directoryList ul li#root li li li li.last ul em {
    background-position: -940px 0px;
}
.directoryList ul li#root li li li li li.last ul em {
    background-position: -920px 0px;
}
.directoryList ul li#root li li li li li li.last ul em {
    background-position: -900px 0px;
}
.directoryList ul li#root li li li li li li li.last ul em {
    background-position: -880px 0px;
}
.directoryList ul li#root li li li li li li li li.last ul em {
    background-position: -860px 0px;
}
.directoryList ul li#root li li li li li li li li li.last ul em {
    background-position: -840px 0px;
}
.directoryList ul li#root li li li li li li li li li li.last ul em {
    background-position: -820px 0px;
}
.directoryList ul li#root li em a,
.directoryList ul li#root li em span{
	background: #FFF url("../images/but_minus.gif") no-repeat 0 0;
	float: right;
	width: 16px;
	height: 20px;
	padding: 0;
	margin: 0 4px 0 0;
	display: block;
}
.directoryList ul li#root li.collapsed em a,
.directoryList ul li#root li.collapsed em span {
	background: #FFF url("../images/but_plus.gif") no-repeat 0 0;
}
.directoryList ul li#root li.last em a,
.directoryList ul li#root li.last li.last em a,
.directoryList ul li#root li.last em span,
.directoryList ul li#root li.last li.last em span {
	background: #FFF url("../images/but_lastnode.gif") no-repeat 0 0;
}
.directoryList ul li#root li.last li em a,
.directoryList ul li#root li.collapsed li em a,
.directoryList ul li#root li.last li.collapsed li em a,
.directoryList ul li#root li.last li em span,
.directoryList ul li#root li.collapsed li em span,
.directoryList ul li#root li.last li.collapsed li em span {
	background: #FFF url("../images/but_minus.gif") no-repeat 0 0;
}
.directoryList ul li#root li.last li.collapsed em a,
.directoryList ul li#root li.last.collapsed em a,
.directoryList ul li#root li.last li.collapsed em span,
.directoryList ul li#root li.last.collapsed em span {
	background: #FFF url("../images/but_plus.gif") no-repeat 0 0;
}
.directoryList ul li#root li.last {

}
.directoryList ul li#root li.collapsed ul {
	display: none;
}
.directoryList ul li#root>div>a {
	background: transparent url("../images/ordner_oben.gif") no-repeat 0px 2px;
}
.directoryList ul li#root>div>em>a{
	padding:0;
	background:none;
}
.directoryList ul li#root>div>em{
	padding:0;
}
.directoryList ul li#root>div {
	background: none;
}
.directoryList ul li a {
	background: #FFF url("../images/folder_on.gif") no-repeat 0px 2px;
}
.directoryList ul li a.on {
	background-image: url("../images/folder_on.gif");
}
.directoryList ul li ul {
	list-style: none;
	display: block;
	padding-left: 0px;
	margin-left: 0px;
	float: left;
	clear: left;
	width: 100%;
	position: relative;
}
.directoryList ul li ul ul {
	margin-left: 0px;
}
.cms_linkeditor .cms_linkeditor_intern,
.cms_linkeditor .cms_linkeditor_upload{
	display:none;
}

.cms_linkeditor select.text_medium{
    border: 0 none;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,Sans-Serif;
    font-size: 11px;
    height: 210px;
    width: 210px;
}
.loading {
    left: 22%;
    position: absolute;
    top: 25%;
}