/**
 * Content elements used in con_content_list & con_editcontent.
 *
 * The prefix "con_" is needed to prevent any conflicts when using the elements
 * within a frontend layout.
 */

.con_img_button,
.con_img_button_off,
.con_func_button {
    border: 0;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0;
    position: relative;
    top: -1px;
    vertical-align: middle;
}
.con_func_button {
    width: auto;
}
.con_img_button img,
.con_func_button img {
 /*   position: relative;
    top: -1px;*/
    vertical-align: middle;
}
.con_img_button_off {
    cursor: default;
}
.con_img_button.con_img_button_content_type {
    margin-right: 10px;
}
.con_content_type_controls {
    display: inline-block;
    margin: 5px 0;
}

.ui-widget {
    z-index: 20000;
}
.ui-widget,
.ui-widget * {
    font-family: verdana, arial, helvetica, sans-serif !important;
    color: #000 !important;
    font-size: 12px !important;
}
