/**
 * Content elements used in con_content_list & con_editcontent.
 *
 * The prefix "con_" is needed to prevent any conflicts when using the elements
 * within a frontend layout.
 */

.con_img_button {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    outline: 1px solid #7F0055;
}
.con_img_button.con_img_button_content_type {
    margin-right: 5px;
}
.con_content_type_controls {
    display: inline-block;
    margin: 5px 0;
}