/*****************************************
*
* $Id: header_ie.css,v 1.1 2003/09/26 15:46:34 jan Exp $
*
* File      :   $RCSfile: header_ie.css,v $
* Project   :
* Descr     :
*
* Author    :   $Author: jan $
* Modified  :   $Date: 2003/09/26 15:46:34 $
*
* © four for business AG, www.4fb.de
******************************************/

#firstrow   { margin-left: 110px; height: 20px }
#secondrow  { margin-left: 142px; height: 20px; }
#thirdrow   { padding-right: 10px; height: 30px; border-bottom: 1px solid #000000; text-align: right; padding-top: 7px}
