@import "notifications.css"; /* @see CON-1992 */

a.standard {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #000000;
}

a.standard:hover {
	color: #0060B1;
}
