/*****************************************
*
* $Id$
*
* File      :   $RCSfile: str_overview.css,v $
* Project   : CONTENIDO
* Descr     : File contains specific css informations for Content->Category forms and layers
*
* Author    :   $Author: timo.trautmann$
* Modified  :   $Date: 2008/02/25 13:41:52 $
*
* � four for business AG, www.4fb.de
******************************************/

/* general initilization */
input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

img.spaced {
    vertical-align: middle;
    margin-left:5px;
    margin-right: 10px;
}

/*Formating for category table cells */
#category_list .str-style-a {
    border: 0 solid #B3B3B3;
    border-bottom-width: 1px;
    border-left-width: 1px;
    white-space:nowrap;
    padding: 0 2px;
}

#category_list .str-style-b, #category_list  tr td {
    border: 0 solid #B3B3B3;
    border-bottom-width: 1px;
    white-space:nowrap;
    padding: 0 2px;
}

#category_list .str-style-c, #category_list .str-style-d , #category_list .str-style-f {
    border: 0 solid #B3B3B3;
    border-right-width: 1px;
    border-bottom-width: 1px;
    white-space:nowrap;
    padding: 0 2px;
}

#category_list .str-style-f  {
border-width: 1px 1px 0 0;
}

#category_list .str-style-d {
    border-width: 0 0 1px 1px;
}


#category_list {
    border: 0 solid #B3B3B3;
}

/*Formating for category table header */
#category_list td.header {
    border: 1px solid #B3B3B3;
    border-bottom: 0;
    border-left: 0;
    font-size: 11px;
    color: #666666;
    font-weight:normal;
    background-color: #E2E2E2;
    margin-left: 5px;
    height: 20px;
}

#category_list #cat_navbar {
    height:25px;
    line-height:25px;
    vertical-align:middle;
    border: 1px solid #B3B3B3;
    background-color: #E2E2E2;
    padding-left:5px;
}

#category_list tr.text_medium {
    cursor: move;
}

/* Classes for category new layer*/
#cat_inline_layer {
    display: none;
    height:40px;
    line-height:40px;
    vertical-align:middle;
}

.cat_label, .cat_input, .cat_icon, .cat_icon_text {
    height: 20px;
    line-height:17px;
    vertical-align:middle;
}

.cat_label {
    float:left;
    width:75px;
    padding-left:10px;
}

.cat_input {
    float:left;
    width:176px;
    text-align:left;
    padding-left:10px;
}

.cat_icon {
    float:left;
    width:21px;
}

.cat_icon_text {
    float:left;
    width:155px;
    text-align:left;
    padding-left:10px;
    padding-right:10px;
}

.cat_large {
    float:left;
    width:360px;
    text-align:left;
    padding-right:10px;
}

.cat_new_layer {
    position:absolute;
    width:475px;
    display:none;
    border: 1px solid #B3B3B3;
    background-color:#F1F1F1;
    text-align:right;
    z-index: 10;
}

.cat_set_template {
    position:absolute;
    width:250px;
    display:none;
    border: 1px solid #B3B3B3;
    background-color:#F1F1F1;
    text-align:right;
    z-index: 1000;
}

.cat_new_layer_disable {
    position:absolute;
    width:475px;
    display:none;
    border:1px;
    z-index: 900;
}

.cat_end_row {
    clear:both;
}

.cat_spacer {
    height:10px;
}

.overview_dist_right{
    margin-right: 5px;
    white-space:nowrap;
}

.cat_new_layer input, .cat_set_template input  {
    vertical-align:middle;
    height:17px;
    line-height:17px;
}