/**
 * Version selection box.
 *
 * The prefix "con_" is needed to prevent any conflicts when using the elements
 * within a frontend layout.
 */

.con_version_selection {
    border: 1px solid #B3B3B3;
    padding: 10px;
    margin: 10px 0;
}

.con_version_selection .con_version_selection_content,
.con_version_selection .con_version_selection_controls select,
.con_version_selection .con_version_selection_controls input,
.con_version_selection .con_version_selection_controls a {
    line-height: 16px !important;
}

.con_version_selection .con_version_selection_content {
    width: 280px;
    display: inline;
    padding: 0 0 0 2px;
}

.con_version_selection .con_version_selection_label,
.con_version_selection .con_version_selection_controls select,
.con_version_selection .con_version_selection_controls input {
    font-family: verdana, arial, helvetica, sans-serif !important;
    font-size: 11px !important;
    color: #000 !important;
}

.con_version_selection .con_version_selection_label {
    font-weight: bold;
    color: black;
}

.con_version_selection .con_version_selection_controls {
    margin: 0;
}

.con_version_selection .con_version_selection_controls input {
    margin: 0 !important;
    padding: 0 4px !important;
    line-height: 14px !important;
    border: 1px solid #666;
}

.con_version_selection .con_version_selection_controls a {
    vertical-align: text-top !important;
}

.con_version_selection .no_active {
    border: 1px solid red;
}
.con_version_selection div {
    min-height: 13px;
}
.con_version_selection span.mceEditor div {
    min-height: 0;
}
