<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <general active="1">
        <plugin_name>Cronjobs Overview</plugin_name>
        <plugin_foldername>cronjobs_overview</plugin_foldername>
        <uuid>5AD0160D-EC51-9481-C9AB-A89319B55057</uuid>
        <description>Managed cronjobs at backend</description>
        <author>Rusmir Jusufovic</author>
        <copyright>four for business AG</copyright>
        <mail>info@4fb.de</mail>
        <website>https://www.4fb.de</website>
        <version>2.0.0</version>
    </general>
    <requirements php="7.0">
        <contenido minversion="4.10.0"/>
    </requirements>
    <contenido>
        <areas>
            <area menuless="0">cronjob</area>
        </areas>
        <actions>
            <action area="cronjob">cronjob_execute</action>
            <action area="cronjob">cronjob_overview</action>
        </actions>
        <frames>
            <frame area="cronjob" filetype="main"
                   name="cronjobs_overview/includes/include.left_top.php" frameId="1"/>
            <frame area="cronjob" filetype="main"
                   name="cronjobs_overview/includes/include.left_bottom.php" frameId="2"/>
            <frame area="cronjob" filetype="main"
                   name="cronjobs_overview/includes/include.right_top.php" frameId="3"/>
            <frame area="cronjob" filetype="main"
                   name="cronjobs_overview/includes/include.right_bottom.php" frameId="4"/>
        </frames>
        <nav_sub>
            <nav area="cronjob" level="0" navm="administration">cronjobs_overview/xml/cronjobs_overview.xml;plugin/cronjob</nav>
        </nav_sub>
    </contenido>
</plugin>