<div class="slider">
    <ul class="images">
        <li class="active"><img src="upload/slider/slider_1.jpg" alt="" /><a href="">Jetzt informieren &raquo;</a></li>
        <li><img src="upload/slider/slider_2.jpg" alt="" /><a href="">Jetzt informieren &raquo;</a></li>
        <li><img src="upload/slider/slider_3.jpg" alt="" /><a href="">Jetzt informieren &raquo;</a></li>
        <li><img src="upload/slider/slider_4.jpg" alt="" /><a href="">Jetzt informieren &raquo;</a></li>
    </ul>
    <ul class="pagination"></ul>
</div>