<div class="column_quarter">
    <div class="col"><h3>Headline</h3><div class="teaser_img" /><p>Teaserinfo mit einer Zeile Text</p></div></div>
    <div class="col"><h3>Headline</h3><div class="teaser_img" /><p>Teaserinfo mit einer Zeile Text</p></div></div>
    <div class="col"><h3>Headline</h3><div class="teaser_img" /><p>Teaserinfo mit einer Zeile Text</p></div></div>
    <div class="col"><h3>Headline</h3><div class="teaser_img" /><p>Teaserinfo mit einer Zeile Text</p></div></div>
    <div class="clear"></div>
</div>