<table border="0" cellspacing="0" cellpadding="0">
         <tr><td style="border: 0px; border-top:1px; border-color: #F7C473; border-style: solid"><img src="wuerfel.gif" width="15" height="15" border="0"></td>
     <!-- BEGIN:BLOCK -->
      <td style="border: 0px; border-top:1px; border-color: #F7C473; border-style: dashed; background-color: #FCF2D5; padding-left:20px"><img src="images/wuerfel.gif">
       <a class="klein" href="{HREF}" target="{TARGET}">{NAME}</a></td>
    <!-- END:BLOCK -->
  </tr>
</table>
