<div id="contactForm">
    <form action="{form_action}" method="post">
        <input type="hidden" name="send" value="1" />
        <fieldset>
            <div class="contactRow">
                <table>
                    <tr>
                        <td class="pt" style="width:80px;"><label for="Anrede">{ANREDE}</label></td>
                        <td style="width:10px;"><input type="radio" name="Anrede" value="{ANREDE_OPTION1}" id="Anrede" checked="checked" style="width:auto;border:0;" /></td>
                        <td class="pt">{ANREDE_OPTION1}</td>
                        <td style="width:10px;"><input type="radio" name="Anrede" value="{ANREDE_OPTION2}" style="width:auto;border:0;" /></td>
                        <td class="pt">{ANREDE_OPTION2}</td>
                        <td class="pt" style="text-align:right;">* {PFLICHTFELDER}</td>
                    </tr>
                </table>
            </div>
            <div class="contactRow">
                <label for="Vorname">{VORNAME} *</label>
                <input type="text" name="Vorname" id="Vorname" maxlength="100" />
            </div>
            <div class="contactRow">
                <label for="Name">{NACHNAME} *</label>
                <input type="text" name="Nachname" id="Nachname" maxlength="100" />
            </div>
            <div class="contactRow">
                <label for="Firma">{FIRMA} *</label>
                <input type="text" name="Firma" id="Firma" maxlength="100" />
            </div>
            <div class="contactRow">
                <label for="Strasse">{STRASSE} *</label>
                <input type="text" name="Strasse" id="Strasse" maxlength="100" />
            </div>
            <div class="contactRow">
                <label for="PLZOrt">{PLZORT} *</label>
                <input type="text" name="PLZOrt" id="PLZOrt" maxlength="100" />
            </div>
            <div class="contactRow">
                <label for="Telefon">{TELEFON} *</label>
                <input type="text" name="Telefon" id="Telefon" maxlength="100" />
            </div>
            <div class="contactRow">
                <label for="EMail">{EMAIL} *</label>
                <input type="text" name="EMail" id="EMail" maxlength="100" />
            </div>
            <div class="contactRow">
                <label for="Anliegen">{ANLIEGEN} *</label>
                <textarea name="Anliegen" id="Anliegen"></textarea>
            </div>
            <div id="contactFormSubmit">
                <div id="contactFormSubmitLeft">
                    <input type="reset" value="{LOESCHEN}" />
                </div>
                <div id="contactFormSubmitRight">
                    <input type="submit" value="{ABSCHICKEN}" />
                </div>
            </div>
        </fieldset>
    </form>
</div>