<p>* {PFLICHTFELDER}</p>
<p>
<label for="Anrede">{ANREDE}</label>
<input type="radio" name="Anrede" value="{ANREDE_OPTION1}" id="Anrede" checked="checked"/> {ANREDE_OPTION1} &nbsp; <input type="radio" name="Anrede" value="{ANREDE_OPTION2}"/> {ANREDE_OPTION2}
</p>
<p>
<label for="Vorname">{VORNAME} *</label>
<input type="text" name="Vorname" id="Vorname" class="eingabe" maxlength="100"/>
</p>
<p>
<label for="Nachname">{NACHNAME} *</label>
<input type="text" name="Nachname" id="Nachname" class="eingabe" maxlength="100"/>
</p>
<p>
<label for="Firma">{FIRMA} *</label>
<input type="text" name="Firma" id="Firma" class="eingabe" maxlength="100"/>
</p>
<p>
<label for="Strasse">{STRASSE} *</label>
<input type="text" name="Strasse" id="Strasse" class="eingabe" maxlength="100"/>
</p>
<p>
<label for="PLZOrt">{PLZORT} *</label>
<input type="text" name="PLZOrt" id="PLZOrt" class="eingabe" maxlength="100"/>
</p>
<p>
<label for="Telefon">{TELEFON} *</label>
<input type="text" name="Telefon" id="Telefon" class="eingabe" maxlength="100"/>
</p>
<p>
<label for="EMail">{EMAIL} *</label>
<input type="text" name="EMail" id="EMail" class="eingabe" maxlength="100"/>
</p>
<p>
<label for="Anliegen">{ANLIEGEN} *</label>
<textarea name="Anliegen" id="Anliegen"></textarea>
</p>
<p class="abschicken">
<input type="submit" value="{ABSCHICKEN}"/> &nbsp; <input type="reset" value="{LOESCHEN}"/>