   <div class="boxleft">
      <form method="post" action="{FORM_ACTION}" name="loginform">
         <label for="username">{USERNAME}</label>
         <input type="input" name="username" id="username" value="" class="input_boxleft" style="margin-bottom:.4em;"/>
         <br class="y"/>
         <label for="password">{PASSWORD}</label>
         <input id="password" type="password" name="password" value=""/>
         <a href="javascript:document.forms['loginform'].submit();" title="{LOGIN}">Go <img src="images/navi_pfeil_rechts.gif" alt="{LOGIN}"/><br/></a>
         <br class="y"/>
      </form>
   </div>