<!-- BEGIN:BLOCK -->
  <table width="165" border="0" cellspacing="0" cellpadding="0">
         <tr><td height="30" colspan="2" ></td></tr>
         <tr><td height="21" width="22" style="border: 0px; border-top:1px; border-bottom:1px; border-color: #F7C473; border-style: solid; background-color: #FCF2D5"><img src="wuerfel.gif" width="22" height="21" border="0"></td>
         <td width="143" style="border: 1px; border-left:0px; border-color: #F7C473; border-style: dashed; background-color: #FCF2D5; padding-left:10px" class="punkte">News</td></tr>
         <tr><td colspan="2" class="text" height="22" style="border: 1px; border-top:0px; border-color: #F7C473; border-style: dashed; background-color: #FCF2D5; padding-left:10px">blablabla</td></tr>
  </table><br>
<!-- END:BLOCK -->