   <div class="boxleft">
      <form method="post" action="{FORM_ACTION}" name="newsletterform"{FORM_TARGET}>
         <label for="emailname">{EMAILNAME}</label>
         <input id="emailname" type="text" name="emailname" value=""/>
         <br class="y"/>
         <label for="email">{EMAIL}</label>
         <input id="email" type="text" name="email" value=""/>
         <br class="y"/>
{EXTRAHTML}
         <label for="action">&nbsp;</label>
         <select name="action">
            <option value="subscribe" selected>{SUBSCRIBE}</option>
            <option value="delete">{DELETE}</option>
         </select>
         <a href="javascript:document.forms['newsletterform'].submit();" title="{GO}">Go <img src="images/but_ok.gif" alt="" title="Absenden"/><br/></a>
         <br class="y"/>
      </form>
   </div>