<div id="rating">
	<strong>{LABEL_TOP}</strong><br/>
	{MESSAGE}<br/>
	{LABEL_LEFT}&nbsp;
	<!-- BEGIN:BLOCK -->
	<a href="{PAGE_URL}&amp;{RATING_PARAM_NAME}={RATING_VALUE}"><img src="{RATING_OFF}" border="0"/></a>&nbsp;
	<!-- END:BLOCK -->
	{LABEL_RIGHT}<br/>
	{NUM_RATINGS}, {AVG_RATING}
</div>
<script language="javascript" type="text/javascript">
jsApi.include("usability.rating");
</script>

<script language="javascript" type="text/javascript">
//var RatingStars = new RatingStars("rating", "resetMode");
var RatingStars = new RatingStars("rating");
RatingStars.setSettings("{IMG_PATH}", "{IMG_OFF}", "{IMG_ON}");

</script>
