/.buildpath
/.cache
/.project
/.settings
cms/cache/*
cms/version/css/*
cms/version/js/*
cms/version/layout/*
cms/version/module/*
cms/version/templates/*
contenido/cache/*
contenido/includes/config.local.php
contenido/includes/config.php
contenido/logs/*.txt
/nbproject
