/.buildpath
/.cache
/.idea
/.phpunit.result.cache
/.project
/.settings
/.vscode
/composer.lock
/desktop.ini
/nbproject
/node_modules
/package-lock.json
/vendor
/visual-studio-code.code-workspace

cms/cache/*
cms/css/*
!cms/css/.gitignore
cms/data/config/production/*.local.php
cms/data/layouts
cms/data/logs/*
cms/data/modules
cms/data/version/*
cms/images/*
!cms/images/.gitignore
cms/includes/*
!cms/includes/.gitignore
cms/js/*
!cms/js/.gitignore
cms/templates/*
!cms/templates/.gitignore
cms/upload/*
!cms/upload/.gitignore
cms/xml/*
!cms/**/.keep

contenido/cronjobs/*.job
contenido/external/frontend/.htaccess_recommended
contenido/includes/*.local.php
contenido/includes/config.clients.php
contenido/includes/config.php
!contenido/**/.keep

data/cache/*
data/config/production/*.local.php
data/config/production/config.clients.php
data/config/production/config.php
data/config/production/config.wysiwyg_tinymce4.php
data/config/test/*.local.php
data/config/test/config.clients.php
data/config/test/config.php
data/config/test/config.wysiwyg_tinymce4.php
data/cronlog/*.job
data/logs/*
!data/**/.keep
