/.buildpath
/.cache
/.project
/.settings
cms/cache/*
cms/version/css/*
cms/version/js/*
cms/version/layout/*
cms/version/module/*
cms/version/templates/*
contenido/cronjobs/*.job
contenido/includes/config.clients.php
contenido/includes/config.local.php
contenido/includes/config.php
data/config/production/config.clients.php
data/config/production/config.php
data/logs/deprecatedlog.txt
data/logs/errorlog.txt
/nbproject
