#googleMap {
    width: 490px;
    height: 150px;
    float: left;
}

#address {
    float: right;
    margin-left: 8px;
    margin-top: 15px;
}

#dialogContent {
    display: none;
}

#clearFloat {
    clear: both;
}

/*
.ui-dialog-titlebar-close {
    background-image:url('http://www.charlottemotorspeedway.com/images/icon_x.png');
}
*/