<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>HTML5 Layout</title>   
    <link rel="stylesheet" href="css/reset.css" type="text/css" /> 
    <link rel="stylesheet" href="css/main.css" type="text/css" />
  </head>
  <body>
    <div id="page">
      <div id="header">
         <img src="../../../images/misc/logo.png" width="279" height="41" alt="Contenido Logo" id="logo">
      </div>
      <div id="breadcrumb">
        <ul>
          <li>Breadcrumb:</li>
          <li><a href="">point</a></li>
          <li><a href="">point</a></li>
         </ul>
      </div>   
      <div id="content">
        content here
      </div>   
      <div id="footer">
          <ul class="navigation">
            <li><a href="">Sitemap</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Datenschutz</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Forum</a></li>
          </ul>
      </div> 
      <div id="copyright"></div>
    </div>
  </body>
</html>