td input {
	width: 330px;
	margin: 5px;
	
}
select {
	width: 335px;
	margin: 5px;
}

td {
	font-weight: bold;
}

#submit {
	float: left;
	font-weight: bold;
	background-color: #BFCF00;
}
#rssreader > h1{
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

