<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>

    <general active="1">
        <plugin_name>User Forum</plugin_name>
        <plugin_foldername>user_forum</plugin_foldername>
        <uuid>34E59F15-606A-81F4-1520-59E86230BE38</uuid>
        <description>Administration of user forum entries (Article comments)</description>
        <author>Claus Schunk (4fb)</author>
        <copyright>four for business AG</copyright>
        <mail>claus.schunk@4fb.de</mail>
        <website>https://www.4fb.de</website>
        <version>1.0.0</version>
    </general>

    <requirements php="5.2.3">
        <contenido minversion="4.9.0"/>
    </requirements>

    <contenido>

        <areas>
            <area>user_forum</area>
        </areas>

        <frames>
            <frame area="user_forum" filetype="main"
                   name="user_forum/includes/include.left_bottom.php" frameId="2"/>
            <frame area="user_forum" filetype="main"
                   name="user_forum/includes/include.right_bottom.php" frameId="4"/>
            <frame area="user_forum" filetype="main" name="user_forum/includes/include.left_top.php"
                   frameId="1"/>
        </frames>

        <nav_sub>
            <nav area="user_forum" level="0" navm="extra">user_forum/xml/lang_de_DE.xml;plugins/user_forum/label</nav>
        </nav_sub>

    </contenido>
    <content_types>
        <type>CMS_USERFORUM</type>
    </content_types>
</plugin>