<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>

    <general active="1">
        <plugin_name>Form Assistant</plugin_name>
        <plugin_foldername>form_assistant</plugin_foldername>
        <uuid>34E59F15-606A-81F4-1520-59E86230BE37</uuid>
        <description>Generating forms in backend, includes data storage and mailing</description>
        <author>Marcus Gnaß (4fb)</author>
        <copyright>four for business AG</copyright>
        <mail>marcus.gnass@4fb.de</mail>
        <website>http://www.4fb.de</website>
        <version>1.1.0</version>
    </general>

    <requirements php="5.2.3">
        <contenido minversion="4.9.0" />
    </requirements>

     <contenido>

        <areas>
            <area>form</area>
            <area parent="form" menuless="0">form_fields</area>
            <area parent="form" menuless="0">form_data</area>
            <area parent="form" menuless="0">form_export</area>
            <area parent="form" menuless="0">form_import</area>
            <area parent="form">form_ajax</area>
        </areas>

        <actions>
            <action area="form">pifa_show_form</action>
            <action area="form">pifa_store_form</action>
            <action area="form">pifa_delete_form</action>
            <action area="form_fields">pifa_show_fields</action>
            <action area="form_data">pifa_show_data</action>
            <action area="form_export">pifa_export_form</action>
            <action area="form_import">pifa_import_form</action>
            <action area="form_ajax">pifa_get_field_form</action>
            <action area="form_ajax">pifa_post_field_form</action>
            <action area="form_ajax">pifa_reorder_fields</action>
            <action area="form_ajax">pifa_export_data</action>
            <action area="form_ajax">pifa_get_file</action>
            <action area="form_ajax">pifa_delete_field</action>
            <action area="form_ajax">pifa_get_option_row</action>
        </actions>

        <frames>
            <frame area="form" filetype="main" name="form_assistant/includes/include.left_top.php" frameId="1" />
            <frame area="form" filetype="main" name="form_assistant/includes/include.left_bottom.php" frameId="2" />
            <frame area="form" filetype="main" name="form_assistant/includes/include.right_top.php" frameId="3" />
            <frame area="form_import" filetype="main" name="form_assistant/includes/include.right_top.php" frameId="3" />
            <frame area="form" filetype="main" name="form_assistant/includes/include.right_bottom.form.php" frameId="4" />
            <frame area="form_fields" filetype="main" name="form_assistant/includes/include.right_bottom.form_fields.php" frameId="4" />
            <frame area="form_data" filetype="main" name="form_assistant/includes/include.right_bottom.form_data.php" frameId="4" />
            <frame area="form_export" filetype="main" name="form_assistant/includes/include.right_bottom.form_export.php" frameId="4" />
            <frame area="form_import" filetype="main" name="form_assistant/includes/include.right_bottom.form_import.php" frameId="4" />
            <frame area="form_ajax" filetype="main" name="form_assistant/includes/include.right_bottom.form_ajax.php" frameId="4" />
        </frames>

        <nav_sub>
            <nav area="form" level="0" navm="3">form_assistant/xml/lang_de_DE.xml;plugins/form_assistant/label</nav>
        </nav_sub>

    </contenido>

    <content_types>
        <type>CMS_PIFAFORM</type>
    </content_types>

</plugin>