<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <general active="1">
        <plugin_name>Smarty Wrapper</plugin_name>
        <plugin_foldername>smarty</plugin_foldername>
        <uuid>82b117e94bb2cbcbce4e56b79a7d0c23</uuid>
        <description>Provides smarty template engine for CONTENIDO Backend and Frontend
        </description>
        <author>Bilal Arslan, Andreas Dieter</author>
        <copyright>four for business AG</copyright>
        <mail>info@4fb.de</mail>
        <website>https://www.4fb.de</website>
        <version>2.0.0</version>
    </general>

    <requirements php="7.1">
        <contenido minversion="4.10.2"/>
    </requirements>

    <contenido/>
</plugin>