<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <general active="1">
        <plugin_name>Content Allocation</plugin_name>
        <plugin_foldername>content_allocation</plugin_foldername>
        <uuid>5FA97416-2C24-10E9-FFD2-B2054750F111</uuid>
        <description></description>
        <author>Marco Jahn</author>
        <copyright>four for business AG</copyright>
        <mail>info@4fb.de</mail>
        <website>http://www.4fb.de</website>
        <version>1.0.1</version>
    </general>
    <requirements php="5.2.3">
        <contenido minversion="4.9.0" />
    </requirements>
    <contenido>
        <areas>
            <area menuless="1">content_allocation</area>
            <area parent="con" menuless="0">con_contentallocation</area>
        </areas>
        <actions>
            <action area="con_contentallocation">storeallocation</action>
        </actions>
        <frames>
            <frame area="content_allocation" filetype="main" name="content_allocation/includes/include.left_top.php" frameId="1" />
            <frame area="content_allocation" filetype="main" name="content_allocation/includes/include.left_bottom.php" frameId="2" />
            <frame area="content_allocation" filetype="main" name="content_allocation/includes/include.right_bottom.php" frameId="4" />
            <frame area="con_contentallocation" filetype="main" name="content_allocation/includes/include.contentallocation_article.php" frameId="4" />
        </frames>
        <nav_sub>
            <nav area="content_allocation" level="0" navm="extra">content_allocation/xml/;navigation/extra/content_allocation/main</nav>
            <nav area="con_contentallocation" level="1" navm="0">content_allocation/xml/;navigation/contenido/article/content_allocation</nav>
        </nav_sub>
    </contenido>
</plugin>