@CHARSET "UTF-8";

.gallery .slider li {
    margin-top: 0;
}

.gallery .slider li + li {
    margin-top: 0;
}

input {
    font-family: inherit;
}

.slider .images li {
    display: none;
}

.slider .images li.active {
    display: block;
}