html {
    background: #f4f4f4 url('../images/backgrounds/bg.png') repeat;
    height: 100%;
}

body {
    /*Pages shadow to be done*/
    font-family: Verdana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #797979;
    height: 100%;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;
}

#page {
    width: 960px;
    min-height: 100%;
    position: relative;
    background: #fff;
    margin: 0 auto;
}

/* ----- HEADER ----- */
#header {
    height: 90px;
    width: 920px;
    padding: 0 20px;
    border-bottom: 1px solid #797979;
}

#header #logo {
    margin-top: 35px;
    position: absolute;
}

#header #navigation_header {
    display: inline;
    float: right;
    margin-top: 35px;
    margin-right: -5px;
}

#header #navigation_header li {
    list-style: none;
    float: left;
}

#header #navigation_header li a {
    text-decoration: none;
    display: block;
    padding: 7px 8px;
    font-weight: bold;
    color: #797979;
    text-transform: capitalize;
}

#header #navigation_header li a:active,
#header #navigation_header li a:hover
{
    color: #0083cb;
}

#header #navigation_header li.lang_changer a {
    color: #9ba21b;
}

#header #navigation_header #search_term {
    outline: none;
    background: none;
    border: none;
    width: 130px;
    cursor: pointer;
    padding-left: 2px;
}

#header #navigation_header form {
    margin-top: 3px;
    background: url('../images/misc/sprite.png') no-repeat -252px -293px;
    width: 24px;
    height: 23px;
    overflow: hidden;
}

#header #navigation_header form.active {
    background: url('../images/misc/sprite.png') no-repeat -252px -335px;
}

/* ----- BREADCRUMB ----- */
#breadcrumb {
    height: 60px;
    padding: 0 0 0 20px;
}

#breadcrumb ul {
    display: inline;
}

#breadcrumb ul li {
    list-style: none;
    float: left;
    padding: 10px 0;
    font-size: 12px;
    color: #797979;
    font-weight: bold;
}

#breadcrumb ul li+li {
    margin-left: 5px;
}

#breadcrumb ul li a,
#breadcrumb ul li a:visited,
#breadcrumb ul li a:active
{
    text-decoration: none;
    color: #797979;
    font-weight: normal;
}


/* ----- MENU ----- */
#menu {
    width: 220px;
    min-height: 50px;
    margin-left: 20px;
    float: left;
    padding-bottom: 50px;
}

#menu .navigation {
    display: inline;
}

#menu .navigation li {
    list-style: none;
}

#menu .navigation li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    color: #797979;
    display: block;
}

#menu .navigation li a:hover,
#menu .navigation li a.active {
    color: #0083cb;
}

#menu .navigation li ul li {
    margin-left: 28px;
    display: none;
}

#menu .navigation li a.active+ul>li {
    display: block;
}

#menu .navigation li ul li a {
    padding-left: 5px;
    border-bottom: 1px dotted #ccc;
}

#menu .navigation li ul li a.first {
    border-top: 1px dotted #ccc;
}

/* ----- CONTENT ----- */
#content {
    width: 920px;
    margin-left: 20px;
    padding-bottom: 145px;
    min-height: 300px;
    float: left;
}

#content sup {
    vertical-align: super;
}

#content sub {
    vertical-align: sub;
}
#menu+#content {
    min-height: 50px;
    width: 660px;
    margin-left: 30px;
}

/*
#content img {
    margin: 20px 0;
    max-width: 100%;
}
*/
h1 {
    font-size: 19px;
    color: #9ba21b;
    margin-bottom: 15px;
    font-weight: normal;
}

h2 {
    font-size: 13px;
    color: #0083cb;
    font-weight: normal;
    margin-bottom: 9px;
}

p {
    /*text-align: justify;*/
    line-height: 19px;
}

p+p {
    margin-top: 7px;
}

p a {
    color: #0083cb;
    text-decoration: none;
    border-bottom: 1px dotted #0083cb;
}

p a:hover {
    color: #9ba21b;
    text-decoration: none;
    border-bottom: 1px dotted #9ba21b;
}

#content ul,
#content ol {
    margin: 20px 0 20px 20px;
    line-height: 19px;
}

/* ----- SLIDER ----- */
.slider {
    width: 920px;
    height: 280px;
}

.slider .images {
    display: inline;
    margin: 0;
}

.slider .images li {
    filter: alpha(opacity=0);
    list-style: none;
    left: 20px;
    opacity: 0;
    position: absolute;
}


.slider .images li.active {
    opacity: 1;
}

#content .slider .images li img {
    position: absolute;
    z-index: 1;
    margin: 0;
    max-width: none;
}

.slider .images li h2,
.slider .images li h3 {
    color: #fff;
    display: block;
    font-family: Verdana;
    font-size: 18px;
    height: 150px;
    left: 290px;
    line-height: 22px;
    position: absolute;
    top: 75px;
    width: 560px;
    z-index: 2;
    display: none;
}

.slider .images li h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    top: 27px;
}

.slider .images li.active h2,
.slider .images li.active h3 {
    display: block;
}

.slider .images li a,
.login input[type="submit"],
.button.red,
div.button_red input
{
    position: absolute;
    z-index: 2;
    display: block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #e50051;
    height: 25px;
    border-radius: 9px;
    border: 1px solid #d687a4;
    border-right-color: #c31250;
    border-bottom-color: #c31250;
    font-size: 12px;
}

div.button_red input {
    position: relative;
    float: left;
    margin-right: 20px;
}

.button.grey,
div.button_grey input {
    position: relative;
    z-index: 2;
    display: block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #ccc;
    height: 25px;
    border-radius: 9px;
    border: 1px solid #efefef;
    border-right-color: #bbb;
    border-bottom-color: #bbb;
    font-size: 12px;
}

.button.red,
.login input[type="submit"] {
    margin-top: 30px;
    position: relative;
}

#contact_form_submit_right .button.red {
    margin-top: 0;
}

p+.button.red {
    line-height: 25px;
}

.slider .images li a {
    margin: 200px 0 0 700px;
    line-height: 25px;
}

#content .slider ul.pagination {
    margin-top: 245px;
    left: 50%;
    position: absolute;
    z-index: 3;
    padding: 0 25px;
}

#content .slider ul {
    display: block;
}

.slider .pagination li {
    list-style: none;
    float: left;
}

.slider .pagination li+li {
    margin-left: 3px;
}

.slider .pagination li a {
    display: block;
    background: url('../images/misc/sprite.png') no-repeat -43px -316px;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    outline: none;
}

.slider .pagination li a:hover,
.slider .pagination li a.active {
    background: url('../images/misc/sprite.png') no-repeat -2px -316px;
    width: 30px;
    height: 30px;
}

/* ----- UserForum ----- */
.user_forum .button.red,
.user_forum .button.grey {
    line-height: 25px;
    width: 190px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user_forum input[type="text"] {
    width: 180px;
}

.user_forum .input_forum_text {
    width: 100% !IMPORTANT;
}

.user_forum .submitbuttons {
    padding-left: 120px;
}

.user_forum .modtext {
    text-align: center;
}

/* ----- NEWSTEASER ----- */
/* 4-culumn version */
.column_quarter.text.teaser {
    width: 700px;
}

.teaser-text .column_quarter.text {
    width: 100%;
}
.teaser-text .column_quarter.text .col {
    width: 200px;
}
.column_quarter {
    width: 920px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.column_quarter .col {
    float: left;
    position: relative;
    width: 210px;
}

.column_quarter .col {
    margin-right: 20px;
}

.column_quarter .col h3 {
    font-size: 14px;
    line-height: 40px;
}

.column_quarter .col span.date {
    font-size: 10px;
    color: #aaa;
}

.column_quarter .col .teaser_img {
    margin: 0;
    height: 110px;
    width: 215px;
    background: #efefef;
    overflow: hidden;
}

.column_quarter .col .teaser_img p {
    width: 205px;
    height: 100px;
    display: block;
    margin-top: -105px;
    background: #fff;
    opacity: 0.5;
    padding: 5px;
    border-bottom: 15px solid #fff;
}

.column_quarter .col .teaser_img:hover p {
    margin-top: 0;
    opacity: 0.9;
    transition: all 0.4s;
    -moz-transition: all 0.4s; /* Firefox 4 */
    -webkit-transition: all 0.4s; /* Safari and Chrome */
    -o-transition: all 0.4s; /* Opera */
}

.column_quarter .col .teaser_img p a {
    display: none;
}

.column_quarter .col .teaser_img:hover p a {
    display: block
}

.column_quarter .col a.more {
    text-decoration: none;
    color: #9ba21b;
    text-align: right;
    display: block;
    line-height: 17px;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.column_quarter .col a.more:hover {
    color: #0083cb;
}

/* ----- SEARCH RESULT ----- */
#search_term.full {
    width: 316px;
    height: 24px;
    padding: 0 5px;
    border: 1px solid #797979;
    margin-bottom: 30px;
    outline: none;
}
#navigation_searchform_top + h3 {
    white-space: pre-line;
    word-break: break-all;
}

.submit.search {
    vertical-align: top;
    background: #ec0053;
    border: 1px solid #a34a6a;
    border-radius: 12px;
    height: 28px;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
}

.pagination {
    padding: 10px 0;
    font-size: 11px;
}

.pagination ul {
    display: inline;
    margin: 0;
    float: right;
}

.pagination ul li {
    list-style: none;
    float: left;
    margin-left: 5px;
}

.pagination ul li a {
    color: #000;
}

.pagination ul li a.active,
.pagination ul li a:hover {
    color: #0083cb;
}

#content ul#search_result {
    display: inline;
}

#search_result li {
    list-style: none;
    padding: 0 10px 0 20px;
}

#search_result li>span {
    position: absolute;
    width: 29px;
    margin-left: -33px;
    text-align: right;
}

#search_result li a {
    color: #9ba21b;
}

#search_result li a:hover,
#search_result li:hover a {
    color: #0083cb;
}

#search_result li p {
    margin: 5px 0 20px 0;
}

/* ----- GALERY ----- */
.galery {
    width: 700px;
}

.galery .source {
    display: none;
}

.galery .slider,.galery .pagination {
    display: inline;
}

.galery .slider li,.galery .pagination li {
    list-style: none;
    float: left;
}

.galery .slider li {
    width: 319px;
    height: 194px;
    border: 3px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 1px;
}

.galery .slider li img {
    width: 319px;
}

.galery .slider li.odd {
    margin-left: 20px;
}

.galery .pagination li+li {
    margin-left: 2px;
}

.galery .pagination li a {
    text-decoration: none;
    padding: 2px 5px;
    border: 2px solid transparent;
    display: block;
    margin-bottom: 20px;
    color: #797979;
}

.galery .pagination li a.active {
    border: 2px solid #ccc;
    color: #0083cb;
}

.lightbox .next_image,
.lightbox .prev_image {
    position: absolute;
    outline-style: none;
    z-index: 1004;
    display: block;
    height: 30px;
    width: 40px;
    background: #fff;
    opacity: 0.7;
    border-radius: 9px;
    line-height: 30px;
    text-align: center;
    top: 50%;
    margin-top: -18px;
    margin-left: 5px;
    text-decoration: none;
}
.lightbox .next_image {
    right: 5px;
}

/* ----- LINKLIST ----- */
div.link_list {
    margin-top: 40px;
}

div.link_list h2 {
    margin: 0;
}

ul.link_list {
    display: inline;
}

ul.link_list li {
    list-style: none;
    margin: 0 0 18px;
}

ul.link_list li a:first-child {
    background: url('../images/misc/sprite.png') no-repeat 0 -196px;
}

ul.link_list li:hover a:first-child {
    color: #0083cb;
    background: url('../images/misc/sprite.png') no-repeat 0 -231px;
}

ul.link_list li a:link,ul.link_list li a:active,ul.link_list li a:visited {
    color: #9ba21b;
    padding-left: 9px;
}

/*Todo fix without important*/
ul.link_list .mceButton {
    background: none !important;
}

ul.link_list li p {
    margin-top: 7px;
}

/* ----- DOWNLOADLIST ----- */
ul.download_list {
    display: inline;
}

ul.download_list>li {
    list-style: none;
    padding: 15px 0;
}

ul.download_list ul.formats {
    display: inline;
}

ul.download_list ul.formats li {
    list-style: none;
    float: left;
}

ul.download_list ul.formats li+li {
    margin-left: 20px;
}

ul.download_list ul.formats li a:link,
ul.download_list ul.formats li a:visited,
ul.download_list ul.formats li a:active {
    background: url('../images/misc/sprite.png') no-repeat 0 -267px;
    padding-left: 35px;
    height: 19px;
    display: block;
    color: #9ba21b;
}

ul.download_list ul.formats li:hover a {
    color: #0083cb;
}

ul.download_list>li>img {
    width: 148px;
    height: 74px;
    float: left;
    margin-right: 20px;
    border: 3px solid #f5f5f5;
}

ul.download_list>li>img+.content {
    float: left;
    width: 470px;
}

ul.download_list>li  span.info {
    color: #a1a1a1;
    font-size: 9px;
    display: block;
    margin: 10px 0 4px 0;
}

ul.download_list>li p {
    font-size: 11px;
}

h2.download_list {
    margin-top: 10px;
}

/* ----- UI WIDGETS ----- */

/* workarounds */
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0; /* reset extra padding in Firefox */
}

/* ------------ DIALOG -------------- */
.ui-dialog {
    position: absolute;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 5px 25px 25px 25px;
    border-radius: 7px;
    box-shadow: 2px 2px 32px #999;
    -moz-box-shadow: 2px 2px 32px #999;
}

.ui-dialog .ui-dialog-titlebar {
    height: 30px;
    position: relative;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .1em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin-top: -18px;
    height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    background: none;
    overflow: auto;
    zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
    padding-top: 50px;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
}

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

/* Component containers */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1em;
}

.ui-widget-content {
    background: #fff;
    color: #797979;
    border: 20px solid #fff;
}

.ui-widget-content a {
    color: #333;
}

.ui-widget-header a {
    color: #797979;
    text-decoration: none;
    font-size: 15px;
    text-align: right;
}

/* Overlays */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666;
    opacity: .5;
    filter: Alpha(Opacity = 50);
}

.ui-widget-shadow {
    margin: -5px 0 0 -5px;
    padding: 5px;
    background: #000;
    opacity: .2;
    filter: Alpha(Opacity = 20);
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* ----- FOOTER ----- */
#footer {
    width: 920px;
    padding: 0 20px;
    min-height: 30px;
    clear: both;
    background: #ccc;
    color: #fff;
    position: absolute;
    bottom: 90px;
}

#footer .navigation {
    display: inline;
    margin: 0;
}

#footer .navigation li {
    list-style: none;
    float: left;
}

#footer .navigation li+li {
    margin-left: 15px;
}

#footer .navigation li a {
    font-size: 13px;
    text-decoration: none;
    line-height: 30px;
    color: #333;
}

#copyright {
    width: 920px;
    padding: 10px 20px 0 20px;
    height: 80px;
    bottom: 0;
    position: absolute;
    background: #fff;
    font-size: 10px;
}

#copyright p {
    line-height: 15px;
}

/* ----- SITEMAP ----- */
#content ul.sitemap {
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
}

#content ul.sitemap ul {
    margin: 0;
}

.sitemap .sitemap {
    margin: 0;
}

.sitemap li {
    list-style: none;
}

.sitemap li a {
    display: block;
    padding: 7px 0 7px 0;
    color: #797979;
    text-decoration: none;
}

.sitemap li a:hover {
    color: #0083cb;
}

/* styling the different levels */
.sitemap>li {
    border-bottom: 1px dashed #0384cc;
}

.sitemap>li>a {
    font-weight: bold;
}

.sitemap>li ul li {
    padding-left: 35px;
}

.sitemap>li>ul>li>ul>li a:hover {
    color: #9ba21b;
}

/* ----- LOGIN FORM ----- */
.login {
    padding: 40px 0;
    display: block;
}

.login label {
    display: inline-block;
    width: 150px;
}

.login input[type="text"] {
    margin-bottom: 3px;
}

/* ----- NEWSLETTER FORM ----- */
#contact_form_submit_left,
#contact_form_submit_right {
    float: left;
    margin-right: 15px;
}

/* ----- SOCIAL MEDIA ----- */
ul.social_media {
    float: right;
    list-style-type: none;
    margin-top: 5px;
}

ul.social_media li {
    float: left;
    display: block;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    background: url('../images/misc/sprite.png') no-repeat;
}

ul.social_media li a {
    display: block;
    height: 20px;
    width: 20px;
}

ul.social_media li.facebook {
    background-position: -323px -388px;
}

ul.social_media li.google {
    background-position: -393px -388px;
}

ul.social_media li.xing {
    background-position: -426px -388px;
}


ul.social_media li.rss {
    background-position: -358px -388px;
}

ul.social_media li.youtube {
    background-position: -287px -388px;
}

ul.social_media li.twitter {
    background-position: -251px -388px;
}

/* ----- BLOG ----- */
.blog {
    margin-bottom: 45px;
}

.blog h2 {
    font-size: 15px;
    margin-top: 30px;
}

.blog h3 {
    font-size: 11px;
    margin-top: 10px;
}

.blog p {
    margin: 8px 0;
}

.blog .date {
    font-size: 11px;
}

.blog a {
    color: #0083cb;
    text-decoration: none;
}

.blog a:hover {
    color: #9ba21b;
    text-decoration: none;
}

.blog span+a {
    float: right;
}

/* ----- PIFAFORM ----- */
.pifa-form {
    margin-top: 30px;
    position: relative;
}

.pifa-form label {
    display: block;
    width: 160px;
    float: left;
}

.pifa-form div.checkbox-wrapper label {
    width: 438px;
}

.pifa-form div.privacy {
    margin-bottom: 15px;
}

.pifa-form div {
    margin-bottom: 3px;
}

.pifa-form select {
    width: 456px;
}

.pifa-form input[type="text"],
textarea {
    width: 450px;
}

.pifa-form .pifa-error select,
.pifa-form .pifa-error input,
.pifa-form .pifa-error textarea {
    border: 1px solid #C31250;
}

.pifa-form .pifa-error input[type="text"],
.pifa-form .pifa-error textarea {
    width: 454px;
}

.pifa-form .pifa-error label {
    color: #C31250;
}

.pifa-form p {
    display: none;
}

.pifa-form .pifa-error .pifa-error-message {
    display: block;
}

.pifa-form .pifa-error:hover p {
    display: block;

}

/* ----- NEWSLETTERFORM ----- */
#contact_form {
    margin-top: 10px;
}

#contact_form label {
    display: block;
    float: left;
    width: 100px;
}

#contact_form input[type="text"] {
    width: 312px;
}

#contact_form select {
    width: 318px;
}

#contact_form div.policy label {
    width: 300px;
    margin-left: 100px;
}

#contact_form div.contact_row {
    margin-bottom: 3px;
}

/* ----- COOKIE DIRECTIVE ----- */
#cookie_note {
    background: #fff;
    left: 0;
    filter: alpha(opacity = 90);
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
}

#cookie_note div.notify {
    font-size: 14px;
    padding: 10px 100px;
    position: relative;
}

#cookie_note a.dismiss {
    border: 1px solid #9ba21b;
    border-radius: 10px;
    color: #9ba21b;
    display: block;
    line-height: 14px;
    padding: 1px 4px 4px 4px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-decoration: none;
}

#cookie_note a.dismiss:hover {
    background: #9ba21b;
    color: #fff;
}

#cookie_note .cancel_cookie {
    color: #9ba21b;
    line-height: 17px;
}


#content sup {
    vertical-align:super;
}

#content sub {
    vertical-align: sub;
}
