<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>

    <general active="1">
        <plugin_name>Advanced Mod Rewrite</plugin_name>
        <plugin_foldername>mod_rewrite</plugin_foldername>
        <uuid>3A0E10FA-D668-222C-3C97-89F347B45B8E</uuid>
        <description>Mod Rewrite Plugin for CONTENIDO</description>
        <author>Murat Purc</author>
        <copyright>Murat Purc</copyright>
        <mail>murat@purc.de</mail>
        <website>https://www.purc.de</website>
        <version>2.0.0</version>
    </general>

    <requirements php="7.0">
        <contenido minversion="4.10.0"/>
    </requirements>

    <contenido>

        <areas>
            <area menuless="1">mod_rewrite</area>
            <area parent="mod_rewrite" menuless="1">mod_rewrite_expert</area>
            <area parent="mod_rewrite" menuless="1">mod_rewrite_test</area>
        </areas>

        <actions>
            <action area="mod_rewrite">mod_rewrite</action>
            <action area="mod_rewrite">mod_rewrite_expert</action>
            <action area="mod_rewrite">mod_rewrite_test</action>
        </actions>

        <frames>
            <frame area="mod_rewrite" filetype="main"
                   name="mod_rewrite/includes/include.mod_rewrite_content.php" frameId="4"/>
            <frame area="mod_rewrite_expert" filetype="main"
                   name="mod_rewrite/includes/include.mod_rewrite_contentexpert.php" frameId="4"/>
            <frame area="mod_rewrite_test" filetype="main"
                   name="mod_rewrite/includes/include.mod_rewrite_contenttest.php" frameId="4"/>
        </frames>

        <nav_sub>
            <nav area="mod_rewrite" level="0" navm="extra">mod_rewrite/xml/;navigation/extra/mod_rewrite/main</nav>
            <nav area="mod_rewrite" level="1" navm="0">mod_rewrite/xml/;navigation/extra/mod_rewrite/settings</nav>
            <nav area="mod_rewrite_expert" level="1" navm="0">mod_rewrite/xml/;navigation/extra/mod_rewrite/expert</nav>
            <nav area="mod_rewrite_test" level="1" navm="0">mod_rewrite/xml/;navigation/extra/mod_rewrite/test</nav>
        </nav_sub>

    </contenido>

</plugin>