.dialog-gallery.invisible {
    visibility: hidden !important;
}

/* ----- GALLERY ----- */
.gallery {
    width: 700px;
}

.gallery .source {
    display: none;
}

.gallery .slider,
.gallery .pagination {
    display: inline;
}

.gallery .pagination::before,
.gallery .pagination::after {
    content: " ";
    display: table;
}

.gallery .pagination::after {
    clear: both;
}

.gallery .slider li,
.gallery .pagination li {
    list-style: none;
    float: left;
}

.gallery .slider li {
    width: 319px;
    height: 194px;
    border: 3px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 1px;
}

.gallery .slider li img {
    width: 319px;
}

.gallery .slider li.odd {
    margin-left: 20px;
}

.gallery .pagination li + li {
    margin-left: 2px;
}

.gallery .pagination li a {
    text-decoration: none;
    padding: 2px 5px;
    border: 2px solid transparent;
    display: block;
    margin-bottom: 20px;
    color: #797979;
}

.gallery .pagination li a.active {
    border: 2px solid #ccc;
    color: #0083cb;
}

.lightbox .next_image,
.lightbox .prev_image {
    position: absolute;
    outline-style: none;
    z-index: 1004;
    display: block;
    height: 30px;
    width: 40px;
    background: #fff;
    opacity: 0.7;
    border-radius: 9px;
    line-height: 30px;
    text-align: center;
    top: 50%;
    margin-top: -18px;
    margin-left: 5px;
    text-decoration: none;
}

.lightbox .next_image {
    right: 5px;
}