<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="utf-8" />
    <title>HTML5 Layout</title>   
    <link rel="stylesheet" type="text/css" href="css/reset.css" /> 
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/contenido_backend.css" />
  </head>

  <body>

    <div id="page">
      <div id="header">
         <img src="images/misc/logo.png" width="279" height="41" alt="Contenido Logo" id="logo">
      </div>
      <div id="breadcrumb">
           <ul>
            <li>Breadcrumb:</li>
            <li><a href="">point</a></li>
            <li><a href="">point</a></li>
           </ul>
      </div> 
      <div id="menu">
          <ul class="navigation">
            <li>
              <a href="" class="active first">Navigation</a>
              <ul>
                <li><a href="" class="first active">Navigation</a>
                  <ul>
                    <li><a href="">Navigation</a></li>
                    <li><a href="">Navigation</a></li>
                    <li><a href="">Navigation</a></li>
                  </ul>
                </li>
                <li><a href="">Navigation</a></li>
                <li><a href="">Navigation</a></li>
              </ul>
            </li>
            <li>
              <a href="">Navigation</a>
              <ul>
                <li><a href="">Navigation</a></li>
                <li><a href="">Navigation</a></li>
                <li><a href="">Navigation</a></li>
              </ul>
            </li>
            <li>
              <a href="">Navigation</a>
              <ul>
                <li><a href="">Navigation</a></li>
                <li><a href="">Navigation</a></li>
                <li><a href="">Navigation</a></li>
              </ul>
            </li>
          </ul>
      </div>    

        <div id="content">
            <container id="110" name="first header" types="content" mode="fixed" default="content_header_first">first header</container>
			<container id="120" name="second header" types="content" mode="fixed" default="content_header_second">second header</container>
            <container id="130" name="image" types="content" mode="fixed" default="content_image">image</container>
            <container id="140" name="text" types="content" mode="fixed" default="content_text">text</container>
            <container id="150" name="date" types="content" mode="fixed" default="content_date">date</container>
	    </div>   
	
        <div id="footer">
            <container id="210" name="bottom navigation" types="navigation" mode="fixed" default="navigation_bottom">bottom navigation</container>
        </div>
	
        <div id="copyright"></div>
	
    </div>

    </body>

	<script src="js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-ui-1.9.1.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>

</html>