.cms_teaser {
    min-height: 525px;
    max-height: 550px;
    overflow: auto;
    width: 322px;
}

.cms_teaser .manual {
    width: 320px;
}

.cms_teaser select.teaser_type_select {
    width: 36%;
}

.cms_teaser input.teaser_type_count {
    width: 11%;
    margin-left: 3%;
}
