/**
 * #############################################################################
 * @section Tree_Navigation
 */

.con_str_tree {
    display: block;
    margin: 10px 0 0 0;
    padding: 0 2px;
    list-style: none;
}
.con_str_tree li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.con_str_tree li em {
    display: block;
}
.con_str_tree li ul {
    display: block;
    margin: 0;
    padding: 0;
}
.con_str_tree li ul li {
    background: url("../../images/tree/tree_i.gif") repeat-y scroll left top transparent;
    margin: 0 0 0 20px;
}
.con_str_tree > li > ul > li {
    margin: 0;
}
.con_str_tree li div {
    height: 20px;
}
.con_str_tree li div em {
    float: left;
    width: 20px;
}
.con_str_tree li div em a {
    background: url("../../images/tree/but_minus.gif") no-repeat scroll left top #fff;
    display: block;
    height: 20px;
    font-style: normal;
    width: 20px;
}
.con_str_tree li div em span {
    background: url("../../images/tree/but_minus.gif") no-repeat scroll left top #fff;
    display: block;
    height: 20px;
    font-style: normal;
    width: 20px;
}
.con_str_tree li div > a {
    background:  url("../../images/folder_on.gif") no-repeat scroll left 2px transparent;
    color: #000;
    display: block;
    font-size: 11px;
    line-height: 20px;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    white-space: nowrap;
}
.con_str_tree li.last {
    background: none;
}
.con_str_tree li.last > div > em > a,
.con_str_tree li.last > div > em > span {
    background: url("../../images/tree/but_last.gif") no-repeat scroll 0 0 #fff;
}
.con_str_tree li.collapsed div em a {
    background: url("../../images/tree/but_plus.gif") no-repeat scroll left top #fff;
}
.con_str_tree li.collapsed ul {
    display: none;
}
.con_str_tree li.last.collapsed div em a {
    background: url("../../images/tree/but_last_plus.gif") no-repeat scroll 0 0 #fff;
}
.con_str_tree li div.active,
.con_str_tree li div.active em a,
.con_str_tree li div.active em span {
    background-color: #ecf1b2;
}
.con_str_tree li div.hover,
.con_str_tree li div.hover em a,
.con_str_tree li div.hover em span {
    background-color: #f8fddc;
}

.directoryList {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 170px;
    margin-bottom: 10px;
    overflow: auto;
}
.directoryList .con_str_tree {
    margin: 0;
}
.directoryList li.root > div > em {
    background: url("../../images/ordner_oben.gif") no-repeat 0 2px;
    font-style: italic;
    height: 20px;
    padding: 0;
}
.directoryList li.root > div > em a {
    display: none;
}
.directoryList li.root > div > a {
    background: none;
    padding: 0;
}

.cms_linkeditor .loading {
    display: none;
    margin-top: 15px;
    margin-left: -95px;
}