.cms_abstract_img {
    margin: 2px 2px 0;
    position: absolute;
    z-index: 10000;
}

.cms_abstract {
    background-color: #F1F1F1;
    border: 1px solid #B3B3B3;
    display: none;
    font-size: 12px;
    left: 40px;
    padding: 3px;
    position: absolute;
    top: 40px;
    z-index: 20000;
}

.cms_abstract  * {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

.cms_abstract .close {
    float: right;
}

.cms_abstract .tabs {
    padding-top: 10px;
}

.cms_abstract .head {
    font-weight: bold;
    margin: 5px 0;
}

.cms_abstract .head_sub {
    clear: both;
    font-style: italic;
    margin: 10px 0 5px;
}

.cms_abstract label {
    display: block;
    float: left;
    width: 120px;
}

.cms_abstract input,.cms_abstract select {
    margin-bottom: 3px;
    width: 194px;
}

.cms_abstract input {
    width: 198px;
}

.cms_abstract input[type="checkbox"] {
    width: 20px;
}

.cms_abstract select {
    width: 200px;
}

.cms_abstract .toolbar {
    clear: both;
    float: right;
    margin: 5px 0;
}

.cms_abstract .menu {
    clear: both;
    list-style-type: none;
    margin: 10px 0 0;
}

.cms_abstract .menu li {
    border-bottom: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    cursor: pointer;
    float: left;
    line-height: 20px;
    padding: 0 10px;
    width: auto;
}

.cms_abstract .menu li.active {
    font-weight: bold;
}

.cms_abstract .checkboxWrapper {
    float: left;
    width: 120px;
}