@import url("cms_dirlist.css");

.cms_imgeditor .con_directory_list {
    float: left;
    margin-right: 1.5%;
    width: 48%;
}

.cms_imgeditor .con_directory_show {
    width: 99%;
}

.cms_imgeditor {
    width: 550px;
}

.cms_imgeditor .con_directory_file {
    background-color: #ffffff;
    border: 1px solid #CCC;
    height: 170px;
    overflow: auto;
    width: 49%;
}

.cms_imgeditor .con_tab_directories_content .con_directory_show,
.cms_imgeditor .con_tab_upload_content .con_directory_show
    {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    min-height: 50px;
    margin-top: 5px;
    max-height: 210px;
    overflow: auto;
}
.cms_imgeditor b {
    display: block;
}
.cms_imgeditor .con_tab_meta_content label {
   /* margin: 10px 0 3px 10px;*/
}

.cms_imgeditor .con_tab_meta_content .con_selected_file {
    margin-bottom: 5px;
}

.cms_imgeditor .con_tab_meta_content input {
    border: 1px solid #ccc;
    font-size: 11px;
    margin-bottom: 5px;
    width: 50%;
    margin-top: 2px;
}

.cms_imgeditor .con_tab_meta_content textarea {
    border: 1px solid #ccc;
    font-size: 11px;
    height: 50px;
    margin-bottom: 5px;
    resize: vertical;
    width: 50%;
}

.cms_imgeditor select {
    background-color: #ffffff;
    border: none;
    color: #000;
    font-size: 11px;
    height: 165px;
    width: 100%;
}

.cms_imgeditor select option {
    margin-left: 2px;
}

.cms_imgeditor input[type="image"] {
    height: 16px;
    margin-left: 5px;
    vertical-align: middle;
    width: 16px;
}

.cms_imgeditor .loading {
    display: none;
    margin-top: -29px;
    position: absolute;
}

.cms_imgeditor .con_caption,
.cms_imgeditor .image_meta_url {
    margin-left: 10px;
}

#imgeditor_tabs input[type='file'] {
    width: 99%;
    margin-bottom: 8px;
    display: block;
    margin-top: 8px;
}
