<!DOCTYPE html>

<!-- standard layout -->

<html lang="de">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />

        <title><container id="10" name="title element" types="head" mode="fixed" default="head_title">title element</container></title>

        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/media.css" />
        <link rel="stylesheet" type="text/css" href="css/contenido_backend.css" />

        <!--[if IE 8]>
            <link type="text/css" rel="stylesheet" href="css/ie_8.css" media="all" />
        <![endif]-->

    </head>

    <body>

        <div id="page">

            <div id="header">
                <container id="205" name="layout_logo" types="layout" mode="fixed" default="layout_logo">layout_logo</container>
                <ul id="navigation_header">
                    <li class="lang_changer">
                        <container id="211" name="language_changer" types="navigation" mode="fixed" default="navigation_lang_changer">lang changer</container>
                    </li>
                    <li>
                        <container id="212" name="navigation_top" types="navigation" mode="fixed" default="navigation_top">navigation_top</container>
                    </li>
                    <li>
                        <container id="213" name="searchform_top" types="navigation" mode="fixed" default="navigation_searchform_top">searchform_top</container>
                    </li>
                </ul>
            </div>

            <div id="breadcrumb">
                <container id="90" name="breadcrumb" types="navigation" mode="fixed" default="navigation_breadcrumb">breadcrumb</container>
            </div>

            <div id="menu">
                <container id="100" name="left navigation" types="navigation" mode="fixed" default="navigation_main">left navigation</container>
            </div>

            <div id="content">
                <!--start:content-->
                <container id="110" name="content" types="content" mode="optional" default="content_header_first">first header</container>
                <container id="120" name="content" types="content" mode="optional" default="content_header_second">second header</container>
                <container id="130" name="content" types="content" mode="optional" default="content_image">image</container>
                <div class="teaser-text">
                    <container id="140" name="content" types="content" mode="optional" default="content_text">text</container>
                </div>
                <container id="150" name="content" types="content" mode="optional" default="content_date">date</container>
				<container id="160" name="content" types="content" mode="optional" default="">content</container>
                <container id="170" name="content" types="content" mode="optional" default="">content</container>
                <container id="180" name="content" types="content" mode="optional" default="">content</container>
                <container id="190" name="content" types="content" mode="optional" default="">content</container>
                <container id="200" name="content" types="content" mode="optional" default="">content</container>
				<!--end:content-->
            </div>
            <div class="clear"></div>
            <div id="footer">
                <container id="210" name="bottom navigation" types="navigation" mode="optional" default="navigation_bottom">bottom navigation</container>
                <container id="220" name="social media links" types="navigation" mode="optional" default="navigation_social_media">social media links</container>
            </div>

            <div id="copyright">
                <container id="230" name="copyright notice" types="content" mode="optional" default="content_copyright_notice">copyright notice</container>
            </div>

        </div>

        <container id="300" name="Facebook SDK" types="script" mode="optional" default="script_fb_sdk">Facebook SDK</container>
        <container id="310" name="tracker script" types="script" mode="optional" default="script_tracker_google">tracker script</container>
        <container id="320" name="tracker script" types="script" mode="optional" default="script_tracker_piwik">tracker script</container>
        <container id="999" name="script_cookie_directive" types="script" mode="fixed" default="script_cookie_directive">script_cookie_directive</container>

        <script type="text/javascript" charset="utf-8" src="js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/jquery-ui-1.9.1.custom.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/main.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/media.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/jquery.validate.js"></script>

        <script type="text/javascript" charset="utf-8" src="js/velocity.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/velocity.ui.min.js"></script>

        <script type="text/javascript" charset="utf-8" src="js/respond.min.js"></script>
    </body>

</html>