#twitter {
width:500px;
}
#twitter_small {
width:225px;
}
#twitter {

    margin:0;
    padding:0;
    font-family: Arial,"Helvetica Neue",sans-serif;
}

    #twitter_head , #twitter_head_small{
    
        display:block;
        height:32px;
        border-bottom:1px solid gray;
        background-image: url(../module/Twitter/image/logo_twitter_withbird.png);
        background-repeat : no-repeat;
    }
 
 #twitter_head_small {
 
 	background-image: none;
 	height:48px;
 	padding-bottom:2px;
 }
    
    .twitter_row {
        display:block;
        border-bottom:1px solid #EBEBEB;
        padding-top:10px;
        padding-bottom:10px;
        clear:both;
    }
    
    .image  {
        float:left;
        display:block;
        margin-right:10px;
        height:48px;
        width:48px;
    }
    
    .display_name, .user_name , .message , .message_date {
        padding:0;
        margin:0;
    }
    a.display_name {
        float:left;
        display:block;
        font-weight:bold;
        margin-right:10px;
        text-decoration:none;
        color:black;
        font-size:16px;
    }
    
    a.display_name:hover {
        color:blue;
        text-decoration:underline;
        
    }
    
    .user_name {
        float:left;
        font-size:12px;
        color:gray;
        line-height:14px;
        
    }
    .message {
        display:block;
        width:430px;
        float:left;
        color:#444444;
        font-size:16px;
    }
    
    
   
    .twitter_row .message_date {
        display:block;
        clear:both;
        color:gray;
        font-size:11px;
        margin-left:58px;
        padding-top:5px;
        float:left;   
    }
    
     #twitter_small .message {
    	width:230px;
    	
    }
    
    #twitter_small .message_date {
    	float:left;
    	margin-left:0;
    }
    
    .clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


#twitter_head .folow_button {
    float:right;
    display:block;
    margin-top:5px;
}
#twitter_small .folow_button {
	float:left;
    display:block;
    margin-top:5px;
    height:32px;
}

