.blog-data {
	width: 100%;
	clear: both;
}

.block p {
	word-wrap: break-word;
	max-width: 500px;
}

.user_forum {
	font-size: 11px;
	padding: 10px 0;
}

table#calendarTable {
	width: 100%;
}

.user_forum #calendarTable tr td {
	vertical-align: top;
}

.user_forum #calendarTable tr td+td {
	width: 148px;
}

.user_forum #calendarTable .block {
	display: block;
	width: 100%;
	padding-top: 10px;
	border-top: 1px dotted #9ba21b;
}

.user_forum #calendarTable td+td .block {
	padding-left: 23px;
	width: 150px;
}

.user_forum a.reply,.user_forum a.reply_quote,.user_forum .like+a {
	background: url("../images/nav_bg.jpg") repeat-x 0 -10px transparent;
	display: block;
	float: right;
	text-decoration: none;
	height: 15px;
	color: #0083cb;
	line-height: 15px;
	padding: 0 5px;
	margin-bottom: 5px;
	margin-right: 6px;
	margin-left: 70px;
}

.user_forum div.like,.user_forum div.dislike {
	float: right;
	padding-left: 23px;
	height: 17px;
	line-height: 17px background-size:    18px;
	margin-bottom: 10px;
	cursor: pointer;
}

a.submit,a.cancel {
	background: url("../images/nav_bg.jpg") repeat-x 0 -10px transparent;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	height: 15px;
	line-height: 15px;
	padding: 0 5px;
	margin-bottom: 5px;
	margin-left: 6px;
}

.user_forum div.like {
	background: url("../images/buttons/like.png") no-repeat;
	margin-right: 15px;
	color: #40aa3c;
}

.user_forum div.like a {
	color: #40aa3c;
	text-decoration: none;
}

.user_forum div.dislike {
	background: url("../images/buttons/dislike.png") no-repeat;
	color: #e9001d;
}

.user_forum div.dislike a {
	color: #e9001d;
	text-decoration: none;
}

.user_forum p.right {
	font-size: 9px;
	margin: 0;
	text-align: right;
}

.user_forum .number {
	color: #0083cb;
}

.user_forum .inputs {
	width: 100%;
}

.user_forum .name {
	float: left;
}

.user_forum .email {
	float: right;
}

.forum_quote,.replyment {
	background: #dadada;
	padding: 3px 6px;
	margin-bottom: 5px;
}

.user_forum .yourcomment{
	clear: both;
}

.quote_handler,.replyment_handler {
	padding: 0 0 0 8px;
	background: url("../images/buttons/quote_tick.png") 0 20% no-repeat;
}

.form_status_message {
	background: #fefefe;
	padding: 7px;
	border: 1px dashed #999;
	border-radius: 7px;
	margin-bottom: 7px;
	color: #e9001d;
}