<h2 class="download_list">{TITLE}</h2>

<ul class="download_list">
    <!-- BEGIN:BLOCK -->
    <li>
        <img src="{FILETHUMB}" alt="" />
        <div class="content">
            <p>
                {FILEMETA_DESCRIPTION}
            </p>
            <span class="info">{FILEMETA_COPYRIGHT}</span>
            <ul class="formats">
                <li>
                    <a href="{FILELINK}" >{FILEEXTENSION} ({FILESIZE})</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </li>
    <!-- END:BLOCK -->
</ul>
<div class="clear"></div>