@CHARSET "ISO-8859-1";

@import "../version_selection.css";
@import "../content_elements.css";

.no_active {
    border: 1px solid red;
}

.con_content_type_block {
    margin-bottom: 1.0em;
}

.con_content_type_block span.mceEditor div {
    min-height: 0;
}

