@CHARSET "ISO-8859-1";

@import "../version_selection.css";
@import "../content_elements.css";
@import "../jquery/plugins/atooltip.css";

.no_active {
    border: 1px solid red;
}

.con_editcontent_list span.mceEditor div {
    min-height: 0;
}

.sr_only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
