@CHARSET "UTF-8";

table.systemcheck {
    width: 70%;
}

table.systemcheck td.right {
    width: 0;
}

table.systemcheck td.left {
    width: 100%;
    padding: 5px;
}

span.headline {
    font-weight: bold;
}

span.message {
    font-style: italic;
    font-size: 87%;
}