/* @since CONTENIDO 4.10.2 */

.upl_files_overview {
}

.upl_files_overview .con_navbar .right {
    display: inline-block;
    line-height: 16px;
}

.upl_files_overview .con_navbar .right > div {
    display: inline-block;
}

.upl_files_overview select {
    vertical-align: middle;
}

.upl_files_overview a.invert_hover:active,
.upl_files_overview a.invert_hover:link,
.upl_files_overview a.invert_hover:visited {
    color: #0060B1;
}
.upl_files_overview a.invert_hover:hover {
    color: #000;
}

.upl_files_overview .con_empty_cell {
    height: 10px;
    padding: 0;
}

/* Centering the dialog content */
.ui-dialog .upl_files_zoom_dialog {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-dialog .upl_files_zoom_dialog > div > a > img {
    border: 1px solid black;
    max-height: 480px;
    max-width: 640px;
}

