<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <general active="1">
        <plugin_name>Newsletter</plugin_name>
        <plugin_foldername>newsletter</plugin_foldername>
        <uuid>88783B7D-9C64-A284-9A70-721F09BF7FE4</uuid>
        <description>Newsletter System for CONTENIDO</description>
        <author>Bjoern Behrens</author>
        <copyright>four for business AG</copyright>
        <mail>info@4fb.de</mail>
        <website>https://www.4fb.de</website>
        <version>1.0.0</version>
    </general>
    <requirements php="5.2.3">
        <contenido minversion="4.9.0" />
    </requirements>
    <contenido>
        <areas>
            <area menuless="0">news</area>
            <area parent="news" menuless="0">news_edit</area>
            <area menuless="0">recipients</area>
            <area menuless="0">recipientgroups</area>
            <area parent="news" menuless="0">news_jobs</area>
            <area parent="recipients" menuless="0">recipients_import</area>
        </areas>
        <actions>
            <action area="news">news_save</action>
            <action area="news">news_create</action>
            <action area="news">news_delete</action>
            <action area="news">news_duplicate</action>
            <action area="news">news_add_job</action>
            <action area="news">news_send_test</action>
            <action area="news_jobs">news_job_delete</action>
            <action area="news_jobs">news_job_details</action>
            <action area="news_jobs">news_job_detail_delete</action>
            <action area="news">news_html_settings</action>
            <action area="news_jobs">news_job_run</action>
            <action area="recipients">recipients_save</action>
            <action area="recipients">recipients_create</action>
            <action area="recipients">recipients_delete</action>
            <action area="recipientgroups">recipientgroup_delete</action>
            <action area="recipientgroups">recipientgroup_create</action>
            <action area="recipientgroups">recipientgroup_recipient_delete</action>
            <action area="recipientgroups">recipientgroup_save_group</action>
            <action area="recipients">recipients_purge</action>
            <action area="recipients_import">recipients_import</action>
            <action area="recipients_import">recipients_import_exec</action>
        </actions>
        <frames>
            <frame area="news" filetype="main" name="newsletter/includes/include.newsletter_left_top.php" frameId="1" />
            <frame area="news" filetype="main" name="newsletter/includes/include.newsletter_menu.php" frameId="2" />
            <frame area="news" filetype="main" name="newsletter/includes/include.newsletter_edit.php" frameId="4" />
            <frame area="recipients" filetype="main" name="newsletter/includes/include.recipients_left_top.php" frameId="1" />
            <frame area="recipients" filetype="main" name="newsletter/includes/include.recipients_menu.php" frameId="2" />
            <frame area="recipients" filetype="main" name="include.subnav_blank.php" frameId="3" />
            <frame area="recipients" filetype="main" name="newsletter/includes/include.recipients_edit.php" frameId="4" />
            <frame area="news" filetype="main" name="newsletter/includes/include.newsletter_subnav.php" frameId="3" />
            <frame area="recipientgroups" filetype="main" name="newsletter/includes/include.recipients.group_menu.php" frameId="2" />
            <frame area="recipientgroups" filetype="main" name="newsletter/includes/include.recipients.group.subnav.php" frameId="3" />
            <frame area="recipientgroups" filetype="main" name="newsletter/includes/include.recipients.group_edit.php" frameId="4" />
            <frame area="news_jobs" filetype="main" name="newsletter/includes/include.newsletter_jobs_menu.php" frameId="2" />
            <frame area="news_jobs" filetype="main" name="newsletter/includes/include.newsletter_jobs_details.php" frameId="4" />
            <frame area="news_jobs" filetype="main" name="newsletter/includes/include.newsletter_jobs_subnav.php" frameId="3" />
            <frame area="news_edit" filetype="main" name="newsletter/includes/include.newsletter_edit_message.php" frameId="4" />
            <frame area="recipients_import" filetype="main" name="newsletter/includes/include.recipients_import.php" frameId="4" />
        </frames>
        <nav_sub>
            <nav area="news" level="0" navm="3">newsletter/xml/;navigation/extra/newsletter</nav>
            <nav area="recipients" level="1" navm="3">newsletter/xml/;navigation/extra/recipients</nav>
            <nav area="recipientgroups" level="1" navm="3">newsletter/xml/;navigation/extra/recipientgroups</nav>
        </nav_sub>
    </contenido>
</plugin>