<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

<!-- frameset_content_left -->

<html>

	<head>
	
	    <title>:: :: :: :: CONTENIDO {VERSION}</title>
	
	    <meta http-equiv="expires" content="0">
	    <meta http-equiv="cache-control" content="no-cache">
	    <meta http-equiv="pragma" content="no-cache">
	
	    <script type="text/javascript" src="scripts/browserCheck.js"></script>
	
	    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
	
	    <link rel="SHORTCUT ICON" href="{CONTENIDOPATH}">
	
	</head>
	
	<frameset id="framesetleft" rows="29,150,*" frameborder="0" framespacing="0" border="0">
	
	    <frame src="{FRAME[3]}" name="left_deco" frameborder="0" scrolling="no">
	    <frame src="{FRAME[1]}" name="left_top" frameborder="0" scrolling="no">
	    <frame src="{FRAME[2]}" name="left_bottom" frameborder="0" scrolling="yes">
	
	    <noframes>
	        <body bgcolor="#000000">
	            CONTENIDO uses frames but your browser does not support frames
	        </body>
	    </noframes>
	
	</frameset>

</html>
