<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
    <title>:: :: :: :: Contenido {VERSION} {LOCATION}</title>
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">    
    <link REL="SHORTCUT ICON" HREF="{CONTENIDOPATH}"> 
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
    <script type="text/javascript" src="scripts/browserCheck.js"></script>
    <script type="text/javascript" src="scripts/conFrameResize.js"></script>

    <script language="javascript">

        frameResize = new conFrameResize();

    </script>
</head>

<!--

Content Frameset for Contenido.

Contains four frames:

    #1:     Left Top Frame
            Quick actions for anything
            listed in the Left Bottom Frame
            
    #2:     Left Bottom Frame
            Usually Item Lists like Structure,
            Modules or Templates.
            
    #3:     Right Top Frame
            Contains the 3rd navigation level.
            
    #4:     The Main Frame
            Contains the main Contenido Functions
            and Forms
-->

<!-- Default for FF -->
<script language="javascript">
var ua = navigator.userAgent;
var m = false;

m = ua.match(/MSIE\s([^;]*)/);
s = ua.match(/safari/gi); /*If there is no frameborder, safari does not allow to resize frame*/
if (m && m[1]) {
	document.writeln("<frameset id=\"contentFrame\" cols=\"{WIDTH},*\" bordercolor=\"white\" border=\"5\" frameborder=\"0\" framespacing=\"5\">");
	document.writeln("<frame name=\"left\" id=\"left\" bordercolor=\"#FFF\" scrolling=\"no\" src=\"{LEFT}\" bordercolor=\"white\" frameborder=\"0\">");
	document.writeln("<frame name=\"right\" id=\"right\" bordercolor=\"#FFF\" scrolling=\"no\" src=\"{RIGHT}\" bordercolor=\"white\" frameborder=\"0\">");		
	document.writeln("</frameset>")
} else if (s) {
	document.writeln("<frameset id=\"contentFrame\" cols=\"{WIDTH},*\" bordercolor=\"white\" border=\"5\" frameborder=\"1\" framespacing=\"5\">");
	document.writeln("<frame name=\"left\" id=\"left\" bordercolor=\"#FFF\" scrolling=\"no\" src=\"{LEFT}\" bordercolor=\"white\" frameborder=\"1\">");
	document.writeln("<frame name=\"right\" id=\"right\" bordercolor=\"#FFF\" scrolling=\"no\" src=\"{RIGHT}\" bordercolor=\"white\" frameborder=\"0\">");		
	document.writeln("</frameset>")
} else {
	document.writeln("<frameset id=\"contentFrame\" cols=\"{WIDTH},*\" bordercolor=\"white\" border=\"5\" frameborder=\"1\" framespacing=\"5\">");
	document.writeln("<frame name=\"left\" id=\"left\" bordercolor=\"#FFF\" scrolling=\"no\" src=\"{LEFT}\" bordercolor=\"white\" frameborder=\"0\">");
	document.writeln("<frame name=\"right\" id=\"right\" bordercolor=\"#FFF\" scrolling=\"no\" src=\"{RIGHT}\" bordercolor=\"white\" frameborder=\"0\">");		
	document.writeln("</frameset>")
}
     
function initFrame() {
    if (!top.content.left || !top.content.left.left_top || !top.content.left.left_top.document || !top.content.left.left_top.document.body || top.content.left.left_top.document.getElementsByTagName('body')[0].offsetHeight == 0) {
        window.setTimeout("initFrame()", 250);
    } else {
        var iHeight = top.content.left.left_top.document.getElementsByTagName('body')[0].offsetHeight;
        frameResize.resizeTopLeftFrame(iHeight+1);
    }
}


initFrame();
    
</script>

<body bgcolor="#FFFFFF">
</body>
</html>
