<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

<!-- frameset -->

<html>

	<head>

	    <title>:: ::{BACKEND_LABEL}:: :: CONTENIDO {VERSION} {LOCATION}</title>

	    <meta http-equiv="expires" content="0">
	    <meta http-equiv="cache-control" content="no-cache">
	    <meta http-equiv="pragma" content="no-cache">

	    <link rel="SHORTCUT ICON" href="{CONTENIDOPATH}">

	    <style type="text/css">
	        frameset, frame{border: none; margin: 0; padding: 0;}
	    </style>

	</head>

	<frameset rows="82,*" frameborder="0" framespacing="0">

	    <!-- Header -->
	    <frame name="header" src="{HEADER}" scrolling="no" noresize="noresize" frameborder="0">

	    <!-- Content -->
	    <frame name="content" src="{CONTENT}" scrolling="no" noresize="noresize" frameborder="0">

	</frameset>

</html>
