<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.con_left_top.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
    <style type="text/css">
    .page_con_left_top #top_left_container {margin-top:1px;}
    .articleLegend {padding: 5px;}
    </style>
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="scripts/articleObject.js.php?contenido={_SID_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/HTMLObj.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/contenidoConfig.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/cfoldingrow.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/parameterCollector.js)_}"></script>
</head>
<body class="page_con_left_top">

    <div id="top_left_container" data-resizegap="1" data-resizeinitcb="frameLeftTopResizeInitCallback">
        <!-- Article Search -->
        <table class="foldingrow">
            {SEARCH}
        </table>
        <div style="margin-top:1px">
        </div>
        <!-- Linkchecker
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
        {LINKCHECKER}
        </table>--><!--Edit Category -->
        <form name="TemplateSelect" action="">
        <table class="foldingrow">
            {EDIT}
        </table>
        </form>
        <div style="margin-top:1px">
        </div>
        <!--Language Synchonization -->
        <table class="foldingrow">
            {SYNCRONIZATION}
        </table>
        <div style="margin-top:1px">
        </div>
        <!-- Legend -->
        <table class="foldingrow">
            {LEGEND}
        </table>
        <div style="margin-top:1px">
        </div>
        <!-- Expand / Collapse all -->
        <table class="generic" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr height="30">
                <td style="border: 1px solid #B3B3B3;">
                    <div style="padding-left: 17px;">
                        <a target="left_bottom"class="black" data-action="expand_all_categories" href="{EXPAND_LINK}">
                            <img alt="i18n("open all")" title="i18n("Open all categories")" src="images/open_all.gif">&nbsp;i18n("open all")
                        </a>
                        <span style="margin-left: 25px;">
                            <a target="left_bottom" class="black" data-action="collapse_all_categories" href="{COLLAPSE_LINK}">
                                <img alt="i18n("close all")" title="i18n("Close all categories")" src="images/close_all.gif">&nbsp;i18n("close all")
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

<script type="text/javascript">

var cfg = new Con.Config(),
    artObj = new Con.ArticleObject(),
    articleURL = '',
    categoryURL = '',
    linkcheckerURL = '',
    curLanguageSync = {SYNC_LANG};

//This function tries to get recent Information from other frames, if this frame is reloaded
function initData() {
    var left_bottom = Con.getFrame('left_bottom'),
        right_bottom = Con.getFrame('right_bottom'),
        right_top = Con.getFrame('right_top');

    if (left_bottom && typeof(left_bottom.irgendwas) == "function") {
        left_bottom.irgendwas();
    }

    if (right_top && typeof(right_top.refreshArticleProp) == "function") {
        right_top.refreshArticleProp();
    }

    if (right_bottom && typeof(right_bottom.initValues) == "function") {
        right_bottom.initValues();
        if (typeof(right_bottom.initTheOne) == "function") {
            right_bottom.initTheOne();
        }
    }

    if (right_bottom && typeof(right_bottom.refreshArticleSearchForm) == "function") {
        right_bottom.refreshArticleSearchForm('refresh');
    }
}

// Need to insert function in Article Search link
function resizeFrame(arg) {
    if (arg == '') {
        var articleLink = document.getElementById('{ARTICLELINK}'),
            categoryLink = document.getElementById('{CATEGORYLINK}'),
            syncLink = document.getElementById('{SYNCLINK}'),
            legendLink = document.getElementById('{LEGENDLINK}');

        //store current link for later use
        if (articleLink) {
            articleURL = articleLink.href;
            articleLink.href = "javascript:resizeFrame('{ARTICLELINK}');";
        }

        if (categoryLink) {
            categoryURL = categoryLink.href;
            categoryLink.href = "javascript:resizeFrame('{CATEGORYLINK}');";
        }

        if (syncLink) {
            syncURL = syncLink.href;
            syncLink.href = "javascript:resizeFrame('{SYNCLINK}');";
        }

        if (legendLink) {
            legendURL = legendLink.href;
            legendLink.href = "javascript:resizeFrame('{LEGENDLINK}');";
        }
    } else if (arg == '{ARTICLELINK}') {
        window.location.href = articleURL;
    } else if (arg == '{CATEGORYLINK}') {
        window.location.href = categoryURL;
    } else if (arg == '{SYNCLINK}') {
        window.location.href = syncURL;
    } else if (arg == '{LEGENDLINK}') {
        window.location.href = legendURL;
    }

    // resizing frame
    window.setTimeout(function() {
        Con.FrameLeftTop.resize();
    }, 10);
}

/**
 * @deprecated Since 4.10.2, is not needed anymore, see actionUpdateCurrentLanguageSync() below
 */
function updateCurLanguageSync() {
    console.warn('The function updateCurLanguageSync() is deprecated since CONTENIDO 4.10.2, there is no need to use it!');
}

/**
 * @deprecated Since 4.10.2, is not needed anymore, see actionOnSearchDateTypeChange() below
 */
function toggle_tr_visibility(tr_id) {
    console.warn('The function toggle_tr_visibility() is deprecated since CONTENIDO 4.10.2, there is no need to use it!');
}

/**
 * @deprecated Since 4.10.2, is not needed anymore, see actionConfigureCategory() below
 */
function configureCategory() {
    console.warn('The function configureCategory() is deprecated since CONTENIDO 4.10.2, there is no need to use it!');
}

/**
 * @deprecated Since 4.10.2, is not needed anymore, see actionCopyToCurrentLanguage() below
 */
function generateSyncAction(bIsMultiple) {
    console.warn('The function generateSyncAction() is deprecated since CONTENIDO 4.10.2, there is no need to use it!');
}

function resetSearchForm() {
    var $form = $('#backend_search');

    for (var i = 0; i < $form[0].elements.length; i++) {
        var $element = $($form[0].elements[i]);
        if ($element.attr('name').startsWith('bs_search_')) {
            $element.val('');
        }
    }
    $form.find('[name=bs_search_date_type]').trigger('change');
}

/**
 * Take over search form field values.
 * Is called from the right_bottom frame (backend_search), for example.
 *
 * @param {object} data New values to set, where the key is the form field name
 *      and the value the form field value to set.
 */
function refreshSearchForm(data) {
    if (!$.isEmptyObject(data)) {
        var $form = $("#backend_search");
        $.each(data, function(key, value) {
            $form.find('[name=' + key + ']').val(value);
        });
        $form.find('[name=bs_search_date_type]').trigger('change');
    }
}

function frameLeftTopResizeInitCallback() {
    resizeFrame('');
}

cfg.init('oTplSel', 'oOnline', 'oLock', 'oTemplatecfg');
cfg.reset();

// If this frame is reloaded, recall functions in other frames to re-initialize values
initData();

(function(Con, $) {
    $(function() {

        var left_bottom = Con.getFrame('left_bottom');

        /**
         * Action handler to configure the template for a selected category
         */
        function actionConfigureCategory() {
            if (cfg.catId > 0 && cfg.hasRight['template_cfg'] == 1) {
                var sHref = '{CAT_HREF}';
                sHref = sHref + cfg.catId;
                Con.getFrame('right_bottom').document.location.href = sHref;
            }
        }

        /**
         * Action handler to toggle the state of date select boxes in article search form
         * @param [jQuery} $element The changed date-type select box
         */
        function actionOnSearchDateTypeChange($element) {
            if ($element.val() === 'n/a') {
                $('#tr_date_from').removeClass('display');
                $('#tr_date_to').removeClass('display');
            } else {
                $('#tr_date_from').addClass('display');
                $('#tr_date_to').addClass('display');
            }
        }

        /**
         * Action handler to toggle the online status of a selected category
         * @returns {boolean}
         */
        function actionChangeCategoryOnlineState() {
            if (cfg.catId > 0 && cfg.hasRight['online'] == 1) {
                var oldid = cfg.idString;
                var oldobject = left_bottom.$(".con_str_tree li.root ul li#" + oldid);
                var oldlink = left_bottom.$(".con_str_tree li.root ul li#" + oldid + " > div > a");
                var oldclass = oldlink.attr("class");
                var newonline, newclass;
                if (cfg.isOnline == 0) {
                    newonline = 1;
                    newclass = oldclass.replace(/off/, "on");
                } else {
                    newonline = 0;
                    newclass = oldclass.replace(/on/, "off");
                }

                var params = { area: "{AREA}", action: "con_makecatonline", idcat: cfg.catId, online: newonline, contenido: Con.sid };
                $.post("{AJAXURL}", params);

                var newid = cfg.catId + '-' + cfg.tplId + '-' + newonline + '-' + cfg.isPublic + '-'
                    + cfg.hasRight['template'] + '-' + cfg.hasRight['online'] + '-' + cfg.hasRight['public']
                    + '-' + cfg.hasRight['template_cfg']  + '-' + cfg.hasRight['syncable'];
                oldlink.removeClass(oldclass);
                oldlink.addClass(newclass);
                oldobject.attr("id", newid);
                left_bottom.$(".con_str_tree li.root ul li#"+newid+" > div").click();

                return false;
            }
        }

        /**
         * Action handler to toggle the lock status of a selected category
         * @returns {boolean}
         */
        function actionChangeCategoryLockState() {
            var newid = false,
                newpublic;
            if (cfg.catId > 0 && cfg.hasRight['public'] == 1) {
                newpublic = (cfg.isPublic == 0) ? 1 : 0;
                var oldid = cfg.idString;
                var oldobject = left_bottom.$(".con_str_tree li.root ul li#" + oldid);
                var oldlink = left_bottom.$(".con_str_tree li.root ul li#" + oldid + " div > a");
                oldlink.each(function(i) {
                    var oldlinkclass = $(this).attr("class");
                    var oldlinkid = $(this).parent().parent().attr("id");
                    var aOldlinkids = oldlinkid.split("-");
                    var newlinkclass;
                    if (cfg.isPublic == 0) {
                        newlinkclass = oldlinkclass.replace(/_locked/, "");
                    } else {
                        if (oldlinkclass.search(/_locked/) == -1) {
                            newlinkclass = oldlinkclass + "_locked";
                        } else {
                            newlinkclass = oldlinkclass;
                        }
                    }
                    $(this).removeClass(oldlinkclass);
                    $(this).addClass(newlinkclass);
                    var newlinkid = aOldlinkids[0] + '-' + aOldlinkids[1] + '-' + aOldlinkids[2] + '-' + newpublic + '-' + aOldlinkids[4] + '-' + aOldlinkids[5] + '-' + aOldlinkids[6] + '-' + aOldlinkids[7]  + '-' + aOldlinkids[8];
                    $(".con_str_tree li.root ul li#" + oldlinkid).attr("id", newlinkid);
                    if (newid == false) {
                        newid = newlinkid;
                    }
                });

                var params = { area: "{AREA}", action: "con_makepublic", idcat: cfg.catId, public: newpublic, contenido: Con.sid };
                $.post("{AJAXURL}", params);

                cfg.isPublic = newpublic;

                left_bottom.$(".con_str_tree li.root ul li#" + newid + " > div").click();
                cfg.updateScreen();

                return false;
            }
        }

        /**
         * Action handler to change the template of a selected category
         * @returns {boolean}
         */
        function actionChangeCategoryTemplate() {
            if (cfg.catId > 0 && cfg.hasRight['template_cfg'] == 1) {
                var templateselect = document.TemplateSelect.oTplSel.selectedIndex;
                var templateid = document.TemplateSelect.oTplSel.options[templateselect].value;
                $.post("{AJAXURL}", { area: "{AREA}", action: "con_changetemplate", idcat: cfg.catId, idtpl: templateid, contenido: Con.sid });
                initData();
                var oldid = cfg.catId + '-' + cfg.tplId + '-' + cfg.isOnline + '-' + cfg.isPublic + '-' + cfg.hasRight['template'] + '-' + cfg.hasRight['online'] + '-' + cfg.hasRight['public'] + '-' + cfg.hasRight['template_cfg']  + '-' + cfg.hasRight['syncable'];
                var newid = cfg.catId + '-' + templateid + '-' + cfg.isOnline + '-' + cfg.isPublic + '-' + cfg.hasRight['template'] + '-' + cfg.hasRight['online'] + '-' + cfg.hasRight['public'] + '-' + cfg.hasRight['template_cfg']  + '-' + cfg.hasRight['syncable'];
                cfg.tplId = templateid;

                left_bottom.$(".con_str_tree li.root ul li#" + oldid).attr("id", newid);

                var frame = Con.getFrame('right_bottom');
                var href = 'main.php?area={AREA}&frame=4&idcat=' + cfg.catId + '&idtpl=' + templateid + '&contenido=' + Con.sid + '';
                frame.location.href = href;

                return false;
            }
        }

        /**
         * Action handler to collapse all categories
         * @returns {boolean}
         */
        function actionCollapseAllCategories() {
            left_bottom.$(".con_str_tree li.root ul li ul").parent().addClass("collapsed");
            var catlist = left_bottom.scatlist;
            $.post("{AJAXURL}", { area: "{AREA}", action: "collapseall", wholelist: catlist, contenido: Con.sid });
            return false;
        }

        /**
         * Action handler to expand all categories
         * @returns {boolean}
         */
        function actionExpandAllCategories() {
            left_bottom.$(".con_str_tree .root ul li.collapsed").removeClass("collapsed");
            var catlist = left_bottom.scatlist;
            $.post("{AJAXURL}", { area: "{AREA}", action: "expandall", wholelist: catlist, contenido: Con.sid });
            return false;
        }

        /**
         * Action to initialize the synchronization from a language
         */
        function actionUpdateCurrentLanguageSync() {
            var $form = $('#syncfrom');
            var syncValue = $form.find('[name=syncoptions]').val();
            Con.multiLink('left_bottom', Con.UtilUrl.build(
                'main.php', {area: '{AREA}', frame: 2, syncoptions: syncValue, refresh_syncoptions: 'true'}
            ));
        }

        /**
         * Action to copy a selected category from a language
         *
         * @param {Number} alsoSubcategories Flag to copy also subcategories (1) or only the selected category (0)
         */
        function actionCopyToCurrentLanguage(alsoSubcategories) {
            var parameter;
            if (curLanguageSync > 0 && cfg.catId > 0) {
                parameter = {area: '{AREA}', frame: 2, action: 'con_synccat', syncfromlang: curLanguageSync, syncidcat: cfg.catId};
                if (alsoSubcategories === 1) {
                    parameter.multiple = 1;
                } else {
                    parameter.multiple = 0;
                }
                Con.multiLink('left_bottom', Con.UtilUrl.build('main.php', parameter));
            }
        }

        /**
         * Action to run saved/predefined searches or to remove custom saved searches.
         *
         * @param {jQuery} $element
         * @param {String} searchType
         */
        function actionSavedSearch($element, searchType) {
            var frameName = 'right_bottom',
                page = 'backend_search.php',
                parameter = {area: '{AREA}', frame: 4},
                bResetSearchForm = false,
                $row;

            switch (searchType) {
                case 'recent_edited_articles':
                    parameter.recentedit = 'true';
                    bResetSearchForm = true;
                    break;
                case 'my_articles':
                    parameter.myarticles = 'true';
                    bResetSearchForm = true;
                    break;
                case 'lost_and_found':
                    parameter.lostfound = 'true';
                    bResetSearchForm = true;
                    break;
                case 'workflow':
                    page = 'main.php';
                    parameter.area = 'con_workflow';
                    bResetSearchForm = true;
                    break;
                case 'my_saved_search':
                    $row = $element.closest('[data-itemid]');
                    if (!$row.data('itemid') || !$row.data('itemtype')) {
                        return;
                    }
                    parameter.itemid = $row.data('itemid');
                    parameter.itemtype = $row.data('itemtype');
                    break;
                case 'delete_my_saved_search':
                    $row = $element.closest('[data-itemid]');
                    if (!$row.data('itemid') || !$row.data('itemtype')) {
                        return;
                    }

                    frameName = 'left_top';
                    page = 'main.php';
                    parameter.delsavedsearch = 'true';
                    parameter.frame = 1;
                    parameter.itemid = $row.data('itemid');
                    parameter.itemtype = $row.data('itemtype');

                    // Reload empty page at right bottom
                    Con.multiLink('right_bottom', Con.UtilUrl.build('main.php', {area: '{AREA}', frame: 4}));
                    break;
                default:
                    return;
            }

            // console.log({frameName: frameName, page: page, parameter: parameter});
            Con.multiLink(frameName, Con.UtilUrl.build(page, parameter));

            if (bResetSearchForm) {
                resetSearchForm();
            }
        }

        // Action handling for elements in left_top
        $('#top_left_container [data-action]').live('click', function() {
            var $element = $(this),
                action = $element.data('action');

            if (action === 'configure_category') {
                actionConfigureCategory();
            } else if (action === 'change_category_online_state') {
                return actionChangeCategoryOnlineState();
            } else if (action === 'change_category_lock_state') {
                return actionChangeCategoryLockState();
            } else if (action === 'change_category_template') {
                return actionChangeCategoryTemplate();
            } else if (action === 'collapse_all_categories') {
                return actionCollapseAllCategories();
            } else if (action === 'expand_all_categories') {
                return actionExpandAllCategories();
            } else if (action === 'update_current_language_sync') {
                actionUpdateCurrentLanguageSync();
            } else if (action === 'copy_to_current_language') {
                var option = $element.data('option');
                actionCopyToCurrentLanguage(option);
            } else if (action === 'saved_search') {
                var type = $element.data('type');
                actionSavedSearch($element, type);
            }
        });

        // Register change handler for search date type select box and trigger initial change to react on initial set value.
        var $searchDateTypeSelect = $('#backend_search [name=bs_search_date_type]');
        $searchDateTypeSelect.on('change', function(event) {
            var $element = $(event.currentTarget);
            actionOnSearchDateTypeChange($element);
        });
        $searchDateTypeSelect.trigger('change');

    });
})(Con, Con.$);
</script>

</body>
</html>
<!--
template.con_left_top

i18n("open all")
i18n("Open all categories")
i18n("Close all categories")
i18n("close all")

-->
