<div style="height:110px;padding-top:5px; padding-left: 17px; margin-bottom:-1px;">
    i18n("Template:")<br>
    <div class="vAlignMiddle">
        {TEMPLATE_SELECT}
        <a class="vAlignMiddle" style="display: inline-block;" id="changetpl" href="#"><img class="vAlignMiddle" src="images/submit.gif" alt=""></a><br>
    </div>
    <div style="margin: 5px 0 5px 0;">
        <div id="oTemplatecfg_label">
            <a href="javascript:configureCategory();">
                <img class="vAlignMiddle" id="oTemplatecfg" vspace="3" hspace="2" src="images/but_cat_conf2.gif" title="i18n("Configure category")" alt="i18n("Configure Category")">
            </a>
            <a href="javascript:configureCategory();">i18n("Configure category")</a>
        </div>
        <div id="oOnline_label">
            <a href="#">
                <img class="vAlignMiddle" id="oOnline" src="images/offline.gif" vspace="2" hspace="2" title="i18n("Online / Offline")" alt="i18n("Online / Offline")">
            i18n("Online / Offline")
            </a>

        </div>
        <div id="oLock_label">
            <a href="#">
                <img class="vAlignMiddle" id="oLock" src="images/folder_lock.gif" vspace="2" hspace="2"  title="i18n("Lock / Unlock")" alt="i18n("Lock / Unlock")">
                i18n("Lock / Unlock")
            </a>
            <br>
        </div>
    </div>
</div>
<!--
template.con_left_top_cat_edit

i18n("Template:")
i18n("Configure category")
i18n("Online / Offline")
i18n("Lock / Unlock")

-->