<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.grouprights_create.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
    <style type="text/css">
    #contenido_notification {margin-bottom:5px;}
    table.content {
        border: 0 solid;
        border-bottom-width: 1px;
        border-left-width: 1px;
    }
    table.content td {
        border: 1px solid;
        border-bottom-width: 0;
        border-left-width: 0;

    border-color:{BORDERCOLOR}; }
    </style>
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
	<script type="text/javascript">
    (function(Con, $) {
        Con.getFrame('left_bottom').location.reload();
        var createdGroupId = '{GROUPID}';

        if (createdGroupId != '') {
            Con.getFrame('right_top').location = 'main.php?area=groups&frame=3&action=groups_overview&groupid=' + createdGroupId + '&contenido=' + Con.sid;
            Con.getFrame('right_bottom').location = 'main.php?area=groups_overview&frame=4&action=groups_overview&groupid=' + createdGroupId + '&created=1&contenido=' + Con.sid;
        } else {
            Con.getFrame('right_top').location = 'main.php?area=groups_create&frame=3&contenido=' + Con.sid;
        }
    })(Con, Con.$);
    </script>
</head>
<body style="margin:10px">
{NOTIFICATION}
{FORM}
<table class="generic" cellspacing="0" cellpadding="2" border="0">
    <tr>
        <th class="align_top">{PROPERTY}</th>
        <th class="align_top text_left">{VALUE}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr>
        <td class="align_top">{CATNAME}</td>
        <td class="align_top text_left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
    <tr>
        <td class="align_top">&nbsp;</td>
        <td class="align_top text_right">
            <input type="image" src="images/but_ok.gif" alt="{SUBMITTEXT}">
        </td>
    </tr>
</table>
</form>
</body>
</html>
