
<!-- BEGIN:BLOCK -->
<span id="metaRow_{META_NAME}" style="{META_SHOWN}">&lt;<span style="color: darkviolet">meta name</span><span style="color: red">=</span><span style="color: orange">"<span style="font-style: italic;">{META_NAME}</span>"</span><span style="color: darkviolet"> content</span><span style="color: red">=</span><span style="color: orange">"</span><span id="metaContent_{META_NAME}" style="color: orange; font-style: italic;">{META_CONTENT}</span><span style="color: orange">"</span>&nbsp;/&gt;<br></span>
<!-- END:BLOCK -->
