<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.client_edit.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
</head>

<body class="page_generic">

{FORM}
<table class="generic col_md">
    <tr>
        <th class="align_top">{PROPERTY}</th>
        <th class="align_top text_left">{VALUE}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr>
        <td class="align_top">{CATNAME}</td>
        <td class="align_top text_left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
    <tr>
        <td colspan="2" class="align_top text_right">
            <div class="con_form_action_control">
                <input class="con_img_button" id="submit_button" accesskey="s" type="image" src="images/but_ok.gif" alt="{SUBMITTEXT}" title="{SUBMITTEXT}">
                <a class="con_img_button" accesskey="c" href="{CANCELLINK}">
                    <img src="images/but_cancel.gif" alt="{CANCELTEXT}" title="{CANCELTEXT}">
                </a>
            </div>
        </td>
    </tr>
</table>
</form>

<script type="text/javascript">
(function(Con, $) {
    var frame = Con.getFrame('left_bottom'),
        idclient = '{IDCLIENT}';
    if (frame && idclient) {
        frame.location.href = Con.UtilUrl.replaceParams(frame.location.href, {idclient: idclient, action: null});
    }

    $(function() {
        $("#submit_button").click(function(e) {
            if ($("#clientname").val() == "") {
                Con.showNotification("Error", "i18n("The client must have a name!")");
                e.preventDefault();
                return false;
            }
            if ($("#frontendpath").val() == "") {
                Con.showNotification("Error", "i18n("The client must have a frontend path. This is where the client's files will be stored.")");
                e.preventDefault();
                return false;
            }
            if ($("#htmlpath").val() == "") {
                Con.showNotification("Error", "i18n("Please enter a valid URL. It has to start with http://... or https://...")");
                e.preventDefault();
                return false;
            }
            if (!($("#htmlpath").val().indexOf("http://") == 0 || $("#htmlpath").val().indexOf("https://") == 0)) {
                Con.showNotification("Error", "i18n("Please enter a valid URL. It has to start with http://... or https://...")");
                e.preventDefault();
                return false;
            }
            if ($("#htmlpath").val().length < "https://".length) {
                Con.showNotification("Error", "i18n("Please enter a valid URL. It has to start with http://... or https://...")");
                e.preventDefault();
                return false;
            }
        });
    });
})(Con, Con.$);
</script>

</body>
</html>

<!--

i18n("Please enter a valid URL. It has to start with http://... or https://...")
i18n("The client must have a name!")
i18n("The client must have a frontend path. This is where the client's files will be stored.")
 -->

