
<!-- template.con_content_list.html -->
<!-- @TODO Similar to template.con_editcontent.html, merge them -->
<link rel="stylesheet" type="text/css" href="{_PATH_CONTENIDO_FULLHTML_}styles/con_tiny.css">

<!-- tinyMCE -->
{_WYSIWYG_JS_TAGS_}

<script type="text/javascript">

(function(Con, $) {

    // Configuration of tiny, when tiny is opened set event which stores original
    // content to Con.Tiny.editDataOrg
    var wysiwygSettings = {
        document_base_url: '{FRONTEND}',
        {TINY_OPTIONS},
        fullscreen_settings: {
            {TINY_FULLSCREEN}
        }
    };

    // Initialize/setup TinyMCE editor
    Con.Tiny.tinymceInit(tinymce, wysiwygSettings, {
        saveTitle: '{SAVE}',
        saveImage: '{_PATH_CONTENIDO_FULLHTML_}images/but_save_tiny.gif',
        closeTitle: '{CLOSE}',
        closeImage: '{_PATH_CONTENIDO_FULLHTML_}images/but_close_tiny.gif',
        useTiny: '{USE_TINY}',
        clientPlugins: {CLIENT_PLUGINS}
    });

    $(function() {
        // Initialize CONTENIDO tiny module
        Con.Tiny.init({
            fileUrl: '{FILE}',
            imageUrl: '{IMAGE}',
            mediaUrl: '{MEDIA}',
            frontendPath: '{FRONTEND}',
            txtQuestion: '{QUESTION}',
            idartlang: '{IDARTLANG}',
            settings: wysiwygSettings
        });

        // Bind to some events like contenteditables click or window unload
        Con.Tiny.bindEvents({useTiny: '{USE_TINY}'});
    });
})(Con, Con.$);

</script>

{CATEGORY}

<p style="display:block;font-weight:bold;">i18n("Content administration")</p>
<!-- BEGIN:BLOCK -->
<div class="contypeList {EXTRA_CLASS}">
       <div class="headline"><label>{EXPORT_CONTENT_LABEL}</label>{EXPORT_CONTENT} {NAME}<<{ID_TYPE}>>:</div>
    {NAME}[{ID_TYPE}]
</div>
<!-- END:BLOCK -->

<script type='text/javascript'>
(function(Con, $) {
    $(function() {
        $('div#categorypath > a').click(function() {
            var url = $(this).attr('href');
            var params = Con.UtilUrl.getParams(url);
            var path = url.split('?');
            Con.multiLink(
                'right_top', path[0] + '?area=con&frame=3&idcat=' + params.idcat + '&idtpl=' + params.idtpl + '&display_menu=1&syncoptions={SYNCOPTIONS}&contenido=' + Con.sid,
                'right_bottom', url,
                'left_bottom', path[0] + '?area=con&frame=2&idcat=' + params.idcat + '&idtpl=' + params.idtpl + '&contenido=' + Con.sid
            );
            return false;
        });
        $('form[name="exportrawdata"]').submit(function() {
            $('form[name="exportrawdata"] div.rawtypes').html("");
            $('.rawtypes:checked').each(function (index, value) {
                $('form[name="exportrawdata"] div.rawtypes').append($(this).clone());
            });

        });
    });
})(Con, Con.$);
</script>

<form name="editcontent" method="post" action="{_PATH_CONTENIDO_FULLHTML_}main.php?area=con_content_list&action=savecontype&idart={IDART}&idcat={IDCAT}&lang={IDLANG}&idartlang={IDARTLANG}&frame=4&client={IDCLIENT}">
    <input type="hidden" name="changeview" value="edit">
    <input type="hidden" name="data" value="">
</form>
<label class="rawdata">{EXPORT_LABEL}</label>
<div class="contypeList">
<form name="exportrawdata" method="post" action="{_PATH_CONTENIDO_FULLHTML_}main.php?area=con_content_list&action=exportrawcontent&idart={IDART}&idcat={IDCAT}&lang={IDLANG}&idartlang={IDARTLANG}&frame=4&client={IDCLIENT}">
    <div class="rawtypes">

    </div>
    <input type="submit" name="export" value="{EXPORT_RAWDATA}">
</form>
</div>
<label class="rawdata">{IMPORT_LABEL}</label>
<div class="contypeList">
<form name="importrawdata" id="importrawdata" method="post" enctype="multipart/form-data" action="{_PATH_CONTENIDO_FULLHTML_}main.php?area=con_content_list&action=importrawcontent&idart={IDART}&idcat={IDCAT}&lang={IDLANG}&idartlang={IDARTLANG}&frame=4&client={IDCLIENT}">
    <input type="file" name="rawfile" value="" size="40">
    <br />
    <label class="rawdatalabel">{OVERWRITE_DATA_LABEL}</label>
    <input type="checkbox" name="overwritecontent" value="1">
    <br />
    <input type="submit" name="import" value="{IMPORT_RAWDATA}">
</form>
</div>
<!--
template.con_content_list

i18n("You are here")
i18n("Content administration")

-->
