
<!-- template.cms_abstract_tabbed_edit_bottom.html -->
</div>

<script type="text/javascript">
    var initCallBack = function() {
        var contentTypeInstance = new {JS_CLASS_NAME}(
            '#cms_{PREFIX}_{ID}_settings',
            '#cms_{PREFIX}_{ID}',
            Con.cfg.urlBackend,
            '{PATH_FRONTEND}',
            '{IDARTLANG}',
            '{ID}',
            Array({FIELDS}),
            '{PREFIX}',
            Con.sid,
            {SETTINGS}
        );
        setTimeout(function () {
            contentTypeInstance.initialise();
        }, 0);
    };

    if (typeof {JS_CLASS_NAME} === 'undefined' || typeof Con.cContentTypeAbstractTabbed === 'undefined') {
        Con.Loader.get(
            [
                Con.cfg.urlBackend + 'scripts/content_types/cmsAbstractTabbed.js',
                '{JS_CLASS_SCRIPT}'
            ],
            initCallBack
        );
    } else {
        initCallBack();
    }
</script>
<!-- /template.cms_abstract_tabbed_edit_bottom.html -->
