
{CODEMIRROR_SCRIPT}

<form  enctype="multipart/form-data" style="margin:0px" name="file_editor" method="post" action="main.php">
<input id="m4" name="area" type="hidden" value="{AREA}" />
<input id="m5" name="action" type="hidden" value="{ACTION}" />
<input id="m6" name="frame" type="hidden" value="4" />
<input id="m7" name="status" type="hidden" value="send" />
<input id="m8" name="tmp_file" type="hidden" value="{FILENAME}" />
<input id="m9" name="contenido" type="hidden" value="1" />

<table class="generic col_flx_m_50p col_first_100">
    <tr id="m10"><th id="m11" colspan="2" class="align_top">i18n("Edit file")</th></tr>

    <tr id="1">
        <td class="no_wrap align_top">i18n("Name")</td>
        <td class="no_wrap align_top text_left"><input id="m1" name="file" value="{FILENAME}" size="60" type="text" /></td>
    </tr>

    <tr id="2">
        <td class="no_wrap align_top">i18n("Description")</td>
        <td class="no_wrap align_top text_left"><textarea id="m3" name="description" cols="100" rows="5" class="con_code">{DESCRIPTION}</textarea></td>
    </tr>

    <tr id="3">
        <td class="no_wrap align_top">i18n("Source code")</td>
        <td class="no_wrap align_top text_left"><textarea id="code" name="code" cols="100" rows="35" class="con_code" wrap="off">{SOURCE}</textarea></td>
    </tr>

    <tr id="4">
        <td class="no_wrap align_top">&nbsp;</td>
        <td class="no_wrap text_right"><input class="con_img_button" name="submit" type="image" src="{SAVE_BUTTON_IMAGE}" alt="{SAVE_BUTTON_DESC}" title="{SAVE_BUTTON_DESC}" accesskey="s" /></td>
    </tr>
</table>
</form>
<script type="text/javascript">
(function(Con, $) {
    $(function() {
        var subMenu = '0';
        if (false === isNaN(subMenu)) {
            // Old style, menu position as number
            Con.markSubmenuItem('c_' + subMenu);
        } else if ('string' === $.type(subMenu) && subMenu.length > 0) {
            // Old style, area name
            Con.markSubmenuItem(subMenu);
        }
    });
})(Con, Con.$);
</script>
