<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.lay_left_top.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="scripts/cfoldingrow.js"></script>
    <script type="text/javascript" src="scripts/parameterCollector.js"></script>
</head>
<body>

<div id="top_left_container" data-resizegap="1">
    <form method="post" action="" target="blind">
        <div class="leftTopAction">
            {ACTION}
        </div>
        <div class="leftTopAction leftTopActionNext">
            {ACTION2}
        </div>
    </form>
</div>

</body>
</html>
