
<!-- template.con_content_list.html -->
<!-- @TODO Similar to template.con_editcontent.html, merge them -->
<link rel="stylesheet" type="text/css" href="{_PATH_CONTENIDO_FULLHTML_}styles/con_tiny.css">

<script src="{_PATH_CONTENIDO_FULLHTML_}scripts/con_tiny.js" type="text/javascript"></script>
<!-- tinyMCE -->
<script src="{_PATH_CONTENIDO_FULLHTML_}external/wysiwyg/tinymce3/jscripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>

<script type="text/javascript">

(function(Con, $) {

    // Configuration of tiny, when tiny is opened set event which stores original
    // content to Con.Tiny.editDataOrg
    var wysiwygSettings = {
        document_base_url: '{FRONTEND}',
        {TINY_OPTIONS},
        fullscreen_settings: {
            {TINY_FULLSCREEN}
        },
        'setup': function(ed) {
            ed.onSetContent.add(function(ed, o) {
                Con.Tiny.updateContent(ed.getContent());
            });
        }
    };

    // Initilalize/setup TinyMCE editor
    Con.Tiny.tinymceInit(tinymce, wysiwygSettings, {
        saveTitle: '{SAVE}',
        saveImage: '{_PATH_CONTENIDO_FULLHTML_}images/but_save_tiny.gif',
        closeTitle: '{CLOSE}',
        closeImage: '{_PATH_CONTENIDO_FULLHTML_}images/but_close_tiny.gif'
    });

    $(function() {
        // Initialize CONTENIDO tiny module
        Con.Tiny.init({
            fileUrl: '{FILE}',
            imageUrl: '{IMAGE}',
            flashUrl: '{FLASH}',
            mediaUrl: '{MEDIA}',
            frontendPath: '{FRONTEND}',
            txtQuestion: '{QUESTION}',
            idartlang: '{IDARTLANG}',
            settings: wysiwygSettings
        });

        // Bind to some events like contenteditables click or window unload
        Con.Tiny.bindEvents({useTiny: '{USE_TINY}'});
    });
})(Con, Con.$);

</script>

{CATEGORY}
<p style="display:block;font-weight:bold;">Auswahl der Artikelversion</p>
{ARTICLE_VERSION_SELECTION}
<p style="display:block;font-weight:bold;">i18n("Content administration")</p>
<!-- BEGIN:BLOCK -->
<div class="contypeList {EXTRA_CLASS}">
   	<div class="headline"><label>{EXPORT_CONTENT_LABEL}</label>{EXPORT_CONTENT} {NAME}<<{ID_TYPE}>>, {FORMATTED_VERSION}:</div>
    {NAME}[{ID_TYPE}][{VERSION}]
</div>
<!-- END:BLOCK -->
<label class="rawdata">{COPY_LABEL}</label> <!--TODOJ: change class -->
<div class="contypeList">
	{SET_AS_CURRENT_VERSION}
</div>

<script type='text/javascript'>
function loadVersion(){	
	var getUrl = window.location.href+'&idArtLangVersion='+$('#selectVersionElement option:selected').val()+'&text='+$('#selectVersionElement option:selected').text()+'&copyTo='+0+'&action='+'con_content';
	window.location.href = getUrl;
}

function copyTo(){
	var getUrl = window.location.href+'&copyTo='+1+'&idArtLangVersion='+$('#selectVersionElement option:selected').val();
	window.location.href = getUrl;
}

/** 
 * Set version number as post-parameter for rawdata export
 * $_POST['versionnumber] = 'current' if version is current, 
 * else $_POST['versionnumber] = version number
 */
function getVersionNumber(){
		document.getElementById("versionnumber").value = $('#selectVersionElement option:selected').val();
}

(function(Con, $) {
    $(function() {
        $('div#categorypath > a').click(function() {
            var url = $(this).attr('href');
            var params = Con.UtilUrl.getParams(url);
            var path = url.split('?');
            Con.multiLink(
                'right_top', path[0] + '?area=con&frame=3&idcat=' + params.idcat + '&idtpl=' + params.idtpl + '&display_menu=1&syncoptions={SYNCOPTIONS}&contenido=' + Con.sid,
                'right_bottom', url,
                'left_bottom', path[0] + '?area=con&frame=2&idcat=' + params.idcat + '&idtpl=' + params.idtpl + '&contenido=' + Con.sid
            );
            return false;
        });
        $('form[name="exportrawdata"]').submit(function() {
        	$('form[name="exportrawdata"] div.rawtypes').html("");
            $('.rawtypes:checked').each(function (index, value) {
                $('form[name="exportrawdata"] div.rawtypes').append($(this).clone());
            });

        });
    });
})(Con, Con.$);
</script>

<form name="editcontent" method="post" action="{_PATH_CONTENIDO_FULLHTML_}main.php?area=con_content_list&action=savecontype&idart={IDART}&idcat={IDCAT}&lang={IDLANG}&idartlang={IDARTLANG}&frame=4&client={IDCLIENT}">
    <input type="hidden" name="changeview" value="edit">
    <input type="hidden" name="data" value="">
</form>
<label class="rawdata">{EXPORT_LABEL}</label>
<div class="contypeList">
<form name="exportrawdata" method="post" action="{_PATH_CONTENIDO_FULLHTML_}main.php?area=con_content_list&action=exportrawcontent&idart={IDART}&idcat={IDCAT}&lang={IDLANG}&idartlang={IDARTLANG}&frame=4&client={IDCLIENT}">
	<div class="rawtypes">
	</div>	
	<input type="hidden" id="versionnumber" name="versionnumber" value="">
	<input type="submit" name="export" value="{EXPORT_RAWDATA}" onclick="getVersionNumber()">
</form>
</div>
<label class="rawdata">{IMPORT_LABEL}</label>
<div class="contypeList">
<form name="importrawdata" id="importrawdata" method="post" enctype="multipart/form-data" action="{_PATH_CONTENIDO_FULLHTML_}main.php?area=con_content_list&action=importrawcontent&idart={IDART}&idcat={IDCAT}&lang={IDLANG}&idartlang={IDARTLANG}&frame=4&client={IDCLIENT}">
	<input type="file" name="rawfile" value="" size="40" {DISABLED}>
	<br />
	<label class="rawdatalabel">{OVERWRITE_DATA_LABEL}</label>
	<input type="checkbox" name="overwritecontent" value="1" {DISABLED}>
	<br />
	<input type="submit" name="import" value="{IMPORT_RAWDATA}" {DISABLED}>
</form>
</div>
<!--
template.con_content_list

i18n("You are here")
i18n("Content administration")

-->
