<html>
<head>
    <title></title>
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">    
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript">

        //iBox = new infoBox( 2 );

        function artSort(selObj) {

            var url = '{SELF_URL}';
            var i = selObj.selectedIndex;
            var sortkey = selObj.options[i].value;

            window.location.href = url + '&sort=' + sortkey;

        }

	{HELP}
    </script>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body style="margin:10px">
<!--
<p class="text_medium">
{LASTLOGIN}
</p><br>
<p class="text_medium">
<b>i18n("Your clients"):</br>
</p>
<table cellspacing="0" cellpadding="0" border="0">
      <tr><td align="right" class="text_medium"></td><td>
      {CLIENTFORM}
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="middle" class="text_medium">
                    {PULL_DOWN_MANDANTEN}
                </td>
                <td valign="middle">
                   <img src="images/spacer.gif" height="3"><br>
                   <img src="images/spacer.gif" width="5">{OKBUTTON} 
                </td>
            </tr>
         </table>
      </form>


      </td></tr>
      </table>
      <br>
-->
<p class="text_medium">
{LASTARTICLES}
</p>
<table width="100%" cellspacing="0" cellpadding="2" border="0">



    <tr class="textg_medium" style="background-color: #E2E2E2">
        <td class="textg_medium" style="border:1px; border-bottom:0px; border-color:#B3B3B3; border-style:solid" nowrap="nowrap">i18n("Start")</td>
        <td class="textg_medium" style="border:1px; border-bottom:0px; border-left:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">i18n("Title")</td>
        <td class="textg_medium" style="border:1px; border-bottom:0px; border-left:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">i18n("Category")</td>
        <td class="textg_medium" style="border:1px; border-bottom:0px; border-left:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">i18n("Created")</td>
        <td class="textg_medium" style="border:1px; border-bottom:0px; border-left:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">i18n("Modified")</td>
        <td class="textg_medium" style="border:1px; border-bottom:0px; border-left:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">i18n("Template")</td>
        <td class="textg_medium" colspan="4" style="border:1px; border-bottom:0px; border-left:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">i18n("Info")</td>
    </tr>

    <!-- BEGIN:BLOCK -->
    <tr id="{ROWID}" class="text_medium" style="background-color: {BGCOLOR};" >
        <td class="text_medium" style="border:1px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap" align="center">{START}</td>
        <td class="text_medium" width="50%" style="border:1px; border-left:0px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">{ARTICLE}</td>
        <td class="text_medium" width="50%" style="border:1px; border-left:0px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">{CATEGORY}</td>
        <td class="text_medium" style="border:1px; border-left:0px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">{CREATED}</td>
        <td class="text_medium" style="border:1px; border-left:0px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">{LASTMODIFIED}</td>
        <td class="text_medium" style="border:1px; border-left:0px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap">{TPLNAME}</td>
        <td style="border:1px; border-left:0px; border-top:0px; border-right:1px; border-color: #B3B3B3; border-style: solid">{ONLINE}</td>
    </tr>
    <!-- END:BLOCK -->

</table>

</body>
</html>
