<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.rights.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/rights.js)_}"></script>
    <script type="text/javascript">
    {JS_SCRIPT_BEFORE}
    </script>
    {EXTERNAL_SCRIPTS}
</head>
<body class="page_generic">
    {NOTIFICATION_SAVE_RIGHTS}
    <br />
    <form name="rightsform" method="post" action="{ACTION_URL}">
        <input type="hidden" name="action" value="">
        <input type="hidden" name="{TYPE_ID}" value="{USER_ID}">
        <input type="hidden" name="area" value="{AREA}">
        <input type="hidden" name="frame" value="4">

        <div id="filter" style="display:{DISPLAY_FILTER}">
            <div class="con_rights_selection_box">
                <span>i18n("Client / Language"):</span>
                <span>
                    <input type="hidden" name="rights_perms" value="{RIGHTS_PERMS}">
                    {INPUT_SELECT_CLIENT}
                </span>
                <span style="display:{DISPLAY_RIGHTS}">
                    i18n("Rights type"): {INPUT_SELECT_RIGHTS}
                </span>
                <span>
                    <input class="con_img_button" type="image" src="images/submit.gif">
                </span>
            </div>
        </div>

        <div style="width:300px;">
          {NOTIFICATION}
        </div>

        {OB_CONTENT}
        {RIGHTS_CONTENT}
    </form>
</body>
<script type="text/javascript">
{JS_SCRIPT_AFTER}
</script>
</html>
<!--

template.rights

i18n("Client / Language")
i18n("Rights type")

-->