<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript">
        parent.parent.frames["left"].frames['left_bottom'].location.reload();
    </script>
    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
</head>
<body style="margin:10px">

{FORM}
<div style="height:10px;"></div>
<table id="stats" class="generic" cellspacing="0" cellpadding="2" border="0">
    <!-- BEGIN:BLOCK -->
    <tr id="{ROWNAME}" class="{CLASS}" style="background-color: {BGCOLOR};" >
        <td valign="top" style="padding-left:{PADDING_LEFT}px">{CATNAME}</td>
        <td valign="top" style="" align="left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
</table>
</form>
</body>
</html>
