<div style="margin-bottom: 10px; padding: 2px; border: 1px; border-color: #B3B3B3; border-style: solid; background-color: #F4F4F7;">
	<a href="javascript://" onclick="parent.parent.frames['left'].frames['left_top'].document.getElementById('selectedfile').value= '{CATLINK}'; window.returnValue='{CATLINK}'; window.close();">
		<img class="vAlignMiddle" alt="i18n("Use this category")" title="i18n("Use this category")" style="padding-right: 4px;" src="images/folder_movedown.gif">
	</a>
	{CATSTR}
</div>

<table class="generic" width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr>
		<th>i18n("Article")</th>
		<th width="100%">i18n("Title")</th>
		<th>i18n("Modified")</th>
		<th>i18n("Created")</th>
		<th>i18n("Online")</th>
	</tr>
	<!-- BEGIN:BLOCK -->
	<tr style="cursor: pointer;" onclick="parent.parent.frames['left'].frames['left_top'].document.getElementById('selectedfile').value= '{ARTLINK}'; window.returnValue='{ARTLINK}'; window.close();">
		<td class="nowrap">
			<img class="vAlignMiddle" style="text-align: center;" src="images/isstart{ISSTART}.gif">
		</td>
		<td class="nowrap">
			{TITLE}
		</td>
		<td class="nowrap">
			{MODIFIED}
		</td>
		<td class="nowrap">
			{CREATED}
		</td>
		<td class="nowrap">
			<img class="vAlignMiddle" style="text-align: center;" src="images/{ONLINE}.gif">
		</td>
	</tr>
	<!-- END:BLOCK -->
</table>
<!--
template.upl_artlist

i18n("Use this category")
i18n("Article")
i18n("Title")
i18n("Modified")
i18n("Created")
i18n("Online")

-->
