<table class="generic" width="100%" cellspacing="0" cellpadding="5" border="0">
    <tr class="textg_medium" style="background-color: #E2E2E2">
        <th colspan="2" class="textg_medium no_wrap">{HEADLINE}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr class="textg_medium" style="background-color: #fff;" >
        <td width="30%" class="text_medium align_top text_left no_wrap">{NAME}</td>
        <td class="text_medium">{VALUE}</td>
    </tr>
    <!-- END:BLOCK -->
    {ADDITIONAL}
</table>