<table width="100%" cellspacing="0" cellpadding="5" border="0">
	<tr class="textg_medium" style="background-color: #E2E2E2">
		<td colspan="2" class="textg_medium" style="border:1px; border-color:#B3B3B3; border-style:solid;border-bottom: none" nowrap="nowrap">{HEADLINE}</td>
	</tr>
	<!-- BEGIN:BLOCK -->
	<tr class="textg_medium" style="background-color: #fff;" >
		<td width="30%" class="text_medium" style="border:1px; border-top:0px; border-color: #B3B3B3; border-style: solid;" nowrap="nowrap" align="left" valign="top">{NAME}</td>
		<td class="text_medium" style="border:1px; border-left:0px; border-top:0px; border-color: #B3B3B3; border-style: solid">{VALUE}</td>
	</tr>
	<!-- END:BLOCK -->
	{ADDITIONAL}
</table>