<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!-- subnav template -->
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <script type="text/javascript" src="scripts/subnav.js"></script>
</head>
<body>

<div id="navcontainer" style="padding-left: 250px;">
    <ul id="navlist">
        <!-- BEGIN:BLOCK -->
        <li id="{ID}">{CAPTION}</li>
        <!-- END:BLOCK -->
    </ul>
</div>

<script type="text/javascript">
    if (parent.parent.frames[0].name != "header") {
        parent.parent.frameResize.init();
    }

    sub.init();
</script>

</body>
</html>
