<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.grouprights_overview.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
    <style type="text/css">
    #contenido_notification {margin-bottom:5px;}
    table.content {
        border: 0 solid;
        border-bottom-width: 1px;
        border-left-width: 1px;
    }
    table.content td {
        border: 1px solid;
        border-bottom-width: 0;
        border-left-width: 0;
    }
    </style>
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
    <script type="text/javascript">
    (function(Con, $) {
        var frame = Con.getFrame('left_bottom');
        if (frame) {
            frame.location.href = Con.UtilUrl.replaceParams(frame.location.href, {groupid: '{GET_GROUPID}', action: null});;
        }
    })(Con, Con.$);
    </script>
</head>
<body class="page_generic">
{NOTIFICATION}
{FORM}
<table class="generic" cellspacing="0" cellpadding="2" border="0">
    <tr class="text_medium">
        <th class="align_top">{PROPERTY}</th>
        <th class="align_top text_left">{VALUE}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr class="text_medium">
        <td class="align_top">{CATNAME}</td>
        <td class="align_top text_left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
    <tr class="text_medium">
        <td class="align_top" style="border-right-width: 0;">&nbsp;</td>
        <td class="align_top text_right">
            <a href="{CANCELLINK}"><img src="images/but_cancel.gif" alt="{CANCELTEXT}" title="{CANCELTEXT}"></a><img src="images/spacer.gif" width="20"><input type="image" src="images/but_ok.gif" alt="{SUBMITTEXT}" title="{SUBMITTEXT}">
        </td>
    </tr>
</table>
</form>
</body>
</html>
