<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>CONTENIDO Symbolhelp</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
</head>
<body style="margin: 10px;">
<table border="0" cellpadding="2" cellspacing="0" width="70%">
  <tbody>
    <tr>
      <td class="text_medium">
          <b><a name="top">i18n("Table of contents"):</a></b><br>
          <br>
          <b><a href="#Allgemein">i18n("Common")</a></b><br>
          <br>
          <b><a href="#Content">i18n("Content")</a></b><br>
          <a href="#Artikel">i18n("Article")</a><br>
          <a href="#Kategorie">i18n("Category")</a><br>
          <a href="#Upload">i18n("File management")</a><br>
          <br>
          <b><a href="#Style">i18n("Style")</a></b><br>
          <a href="#Layouts">i18n("Layouts")</a><br>
          <a href="#Module">i18n("Modules")</a><br>
          <a href="#Templates">i18n("Templates")</a><br>
          <a href="#Styleeditor">i18n("CSS editor")</a><br>
          <a href="#Skripteditor">i18n("Script editor")</a><br>
          <a href="#Modul-Templates">i18n("Module templates")</a><br>
          <br>
          <b><a href="#Extras">i18n("Extras")</a></b><br>
          <a href="#Mailings">i18n("Newsletter")</a><br>
          <a href="#Empf%E4nger">i18n("Recipients")</a><br>
          <br>
          <b><a href="#Statistik">i18n("Statistics")</a></b><br>
          <a href="#Zugriffe">i18n("Hits")</a><br>
          <br>
          <b><a href="#Administration">i18n("Administration")</a></b><br>
          <a href="#Benutzer">i18n("Users")</a><br>
          <a href="#Gruppen">i18n("Groups")</a><br>
          <a href="#Sprachen">i18n("Languages")</a><br>
          <a href="#Mandanten">i18n("Clients")</a><br>
          <a href="#Frontend">Frontend</a><br>
          <br>
      </td>
    </tr>
    <tr>
      <td class="text_medium" style="border: 0 solid rgb(169, 174, 194);border-top-width: 1px;">
      <br>
      <b>i18n("Table of Contents"):</b><br>
      <br>
      <a name="Allgemein"><b>i18n("Common")</b></a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="6" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/but_ok.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Execute query / Save")<br>
            </td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/but_cancel.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Cancel")<br>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/submit.gif"></td>
            <td>i18n("Submit")</td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/my_contenido.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Change to My CONTENIDO (Personal Settings)") </td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img class="borderless" src="images/info.gif" alt=""></td>
            <td class="text_medium">i18n("Information (legal notice)") </td>
          </tr>
          <tr>
            <td style="text-align: right;"><img src="images/but_logout.gif" alt="" class="borderless"></td>
            <td></td>
            <td class="text_medium">i18n("Logout") </td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td align="right" height="20"><a href="#top"><img src="images/arrow_tipballoon.gif" alt=""></a></td>
    </tr>
    <tr>
      <td class="text_medium" style="border: 0 solid rgb(169, 174, 194);border-top-width: 1px;"><br>
      <a name="Content"><b>i18n("Content")</b></a><br>
      <br>
      <a name="Artikel">i18n("Article")</a><br>
      <table style="background-color: white;" border="0">
        <tbody>
          <tr>
            <td style="height: 6px; width: 65px;"></td>
            <td style="width: 5px;" rowspan="13"></td>
            <td style="width: 381px;"></td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/but_cat_conf.gif" alt="" class="borderless"></td>
            <td style="width: 381px;" class="text_medium">i18n("Configure category")<br>
            </td>
          </tr>
          <tr>
            <td style="text-align: right; width: 65px;"><img class="borderless" alt="" src="images/but_art_new.gif"></td>
            <td style="width: 381px;">i18n("Create new article")</td>
          </tr>
          <tr>
            <td style="text-align: right;" 65px="" width=""><img src="images/isstart1.gif" alt="" class="borderless"><img src="images/isstart0.gif" alt="" class="borderless"></td>
            <td style="width: 381px;">i18n("Article is start article / is not start article")</td>
          </tr>
          <tr>
            <td style="text-align: right; width: 65px;"><img class="borderless" alt="" src="images/but_setreminder.gif"></td>
            <td style="width: 381px;">i18n("Set template / Add to To-Do list")</td>
          </tr>
          <tr>
            <td style="text-align: right; width: 65px;"><img src="images/but_art_conf2.gif" alt="" class="borderless"></td>
            <td style="width: 381px;">i18n("Configure article properties")</td>
          </tr>
          <tr>
            <td style="text-align: right; width: 65px;"><img class="borderless" alt="" src="images/configure.gif"></td>
            <td style="width: 381px;">i18n("Configure template")</td>
          </tr>
          <tr>
            <td style="text-align: right; width: 65px;"><img src="images/online.gif" alt="" class="borderless">&nbsp;<img src="images/offline.gif" alt="" class="borderless"></td>
            <td style="width: 381px;">i18n("Element is online / offline (change through click)")</td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/lock_closed.gif" alt="" class="borderless">&nbsp;<img alt="" src="images/lock_open.gif" class="borderless"></td>
            <td style="width: 381px;" class="text_medium">i18n("Element is protected / accessible (change through click)") </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"> <img class="borderless" alt="" src="images/but_copy.gif"></td>
            <td style="width: 381px;" class="text_medium">i18n("Duplicate article") </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/delete.gif" alt="" class="borderless"></td>
            <td style="width: 381px;" class="text_medium">i18n("Delete article")
            </td>
          </tr>
          <tr>
            <td style="text-align: right; width: 65px;" height="18"> <img src="images/folder_lock.gif" alt="" class="borderless">
            <img src="images/folder_delock.gif" alt="" class="borderless"></td>
            <td style="width: 381px;" class="text_medium">i18n("Lock / unlock folder (change through click)") </td>
          </tr>
          <tr>
            <td style="text-align: right; width: 65px;"><img class="borderless" alt="" src="images/offline.gif"> <img src="images/online.gif" alt=""></td>
            <td style="width: 381px;">i18n("Set folder offline / online (change through click)")</td>
          </tr>
          <tr>
            <td style="width: 381px;" colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Kategorie">i18n("Category")</a><br>
      <table style="background-color: white;" border="0">
        <tbody>
          <tr>
            <td style="height: 15px; width: 65px;"></td>
            <td style="height: 15px; width: 5px;"></td>
            <td style="height: 15px; width: 486px;"></td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/but_cat_conf.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Configure category")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/but_rename.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Rename category")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/folder_new.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Create category")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/online.gif" alt="" class="borderless">&nbsp;<img src="images/offline.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Set category online / offline")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/folder.gif" alt="" class="borderless">&nbsp;<img src="images/folder_locked.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Category is online and unprotected / protected")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/folder_off.gif" alt="" class="borderless">&nbsp;<img src="images/folder_off_locked.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Category is offline and unprotected / protected")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/folder_on_error.gif" alt="" class="borderless">&nbsp;<img src="images/folder_on_error_locked.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Category is online, contains an error and is unprotected / protected")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img src="images/folder_off_error.gif" alt="" class="borderless">&nbsp;<img src="images/folder_off_error_locked.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Category is offline, contains an error and is unprotected / protected")<br>
            </td>
          </tr>
          <tr>
            <td style="height: 24px; text-align: right; width: 65px;"><img class="borderless" alt="" src="images/folder_moveup.gif"></td>
            <td style="width: 5px;"></td>
            <td style="height: 24px; width: 486px;">i18n("Move up one category")</td>
          </tr>
          <tr>
            <td style="height: 19px; width: 65px;" align="right"><img src="images/but_move_subtree.gif" alt="" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="height: 19px; width: 486px;" class="text_medium">i18n("Move category")<br>
            </td>
          </tr>
          <tr>
            <td style="width: 65px;" align="right" height="18"><img style="width: 16px; height: 16px;" alt="" src="images/but_move_subtree_target.gif"> <img src="images/but_move_subtree_main.gif" class="borderless"></td>
            <td style="width: 5px;"></td>
            <td style="width: 486px;" class="text_medium">i18n("Select move target")<br>
            </td>
          </tr>
          <tr>
            <td style="height: 24px; text-align: right; width: 65px;"><img class="borderless" alt="" src="images/folder_duplicate.gif"></td>
            <td style="height: 24px; width: 5px;"></td>
            <td style="height: 24px; width: 486px;">i18n("Duplicate category")</td>
          </tr>
          <tr>
            <td style="height: 23px; width: 65px;" align="right"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td style="height: 23px; width: 5px;"></td>
            <td style="height: 23px; width: 486px;" class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td style="height: 24px; width: 486px;" colspan="3">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <a name="Upload">i18n("File management")</a><br>
      <br>
      <table style="background-color: white;" border="0">
        <tbody>
          <tr>
            <td style="text-align: right; height: 9px; width: 65px;"><img src="images/ordner_oben.gif" alt="" class="borderless"></td>
            <td style="height: 9px; width: 5px;"></td>
            <td style="height: 9px; width: 486px;" class="text_medium">i18n("Root upload folder")<br>
            </td>
          </tr>
          <tr>
            <td style="text-align: right; height: 8px; width: 65px;"><img src="images/folder.gif" alt="" class="borderless"></td>
            <td style="height: 8px; width: 5px;"></td>
            <td style="height: 8px; width: 486px;" class="text_medium">i18n("Regular folder")<br>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td align="right" height="20"><a href="#top"><img src="images/arrow_tipballoon.gif" alt=""></a></td>
    </tr>
    <tr>
      <td class="text_medium" style="border: 0 solid rgb(169, 174, 194);border-top-width: 1px;"><br>
      <a name="Style"><b>i18n("Style")</b></a><br>
      <br>
      <a name="Layouts">i18n("Layouts")</a><br>
      <table style="background-color: white; width: 100%;" border="0">
        <tbody>
          <tr>
            <td style="height: 6px;"></td>
            <td rowspan="4" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="35"><img src="images/exclamation.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Layout in use")<br>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/but_setreminder.gif"></td>
            <td>i18n("Set template / Add to To-Do list")</td>
          </tr>
          <tr>
            <td align="right" height="18" width="35"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Module">i18n("Modules")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="5" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="35"><img src="images/exclamation.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Module in use")<br>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/but_setreminder.gif"></td>
            <td>i18n("Set template / Add to To-Do list")</td>
          </tr>
          <tr>
            <td align="right" height="18" width="35"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Templates">i18n("Templates")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="3" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/but_copy.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Duplicate template")<br>
            </td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Styleeditor">i18n("CSS editor")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="2" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Skripteditor">i18n("Script editor")</a><br>
      <table style="background-color: white; width: 100%;" border="0">
        <tbody>
          <tr>
            <td style="height: 6px;"></td>
            <td rowspan="2" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td style="height: 38px;" colspan="3"></td>
          </tr>
        </tbody>
      </table>
      <a name="Modul-Templates">i18n("Module templates")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="2" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td align="right" height="20"><a href="#top"><img src="images/arrow_tipballoon.gif" alt=""></a></td>
    </tr>
    <tr>
      <td class="text_medium" style="border: 0 solid rgb(169, 174, 194);border-top-width: 1px;">
      <br>
      <a name="Extras"><b>i18n("Extras")</b></a><br>
      <br>
      <a name="Mailings">i18n("Newsletter")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="4" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/newsletter_on.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Create newsletter")<br>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/but_copy.gif"></td>
            <td>i18n("Copy newsletter")</td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" border="0" alt=""></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Recipient">i18n("Recipient")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="7" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/newsletter_recipients_on.gif"></td>
            <td>i18n("Recipient")</td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/users.gif"></td>
            <td>i18n("Create recipient")</td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/users_purge.gif"></td>
            <td>i18n("Remove recipient")</td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/groups.gif"></td>
            <td>i18n("Recipient group")</td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/groups.gif"></td>
            <td>i18n("Create recipient group")</td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td align="right" height="20"><a href="#top"><img src="images/arrow_tipballoon.gif" alt=""></a></td>
    </tr>
    <tr>
      <td class="text_medium" style="border: 0 solid rgb(169, 174, 194);border-top-width: 1px;"><br>
      <a name="Statistik"><b>i18n("Statistics")</b></a><br>
      <br>
      <a name="Zugriffe">i18n("Hits")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="2" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/online.gif" alt="" class="borderless">&nbsp;<img src="images/offline.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Article is online / offline")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td align="right" height="20"><a href="#top"><img src="images/arrow_tipballoon.gif" alt=""></a></td>
    </tr>
    <tr>
      <td class="text_medium" style="border: 0 solid rgb(169, 174, 194);border-top-width: 1px;"><br>
      <a name="Administration"><b>i18n("Administration")</b></a><br>
      <br>
      <a name="Benutzer">i18n("Users")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="2" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Gruppen">i18n("Groups")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="2" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Sprachen">i18n("Languages")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="3" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/online.gif" alt="" class="borderless">&nbsp;<img src="images/offline.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Language active / not active")<br>
            </td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="35"></td>
          </tr>
        </tbody>
      </table>
      <a name="Mandanten">i18n("Clients")</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="2" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </tbody>
      </table>
      <br>
      <a name="Frontend">Frontend</a><br>
      <table bgcolor="white" border="0" width="100%">
        <tbody>
          <tr>
            <td height="6"></td>
            <td rowspan="6" width="5"></td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/users.gif"></td>
            <td>i18n("User")</td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/users.gif"></td>
            <td>i18n("Create user")</td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/groups.gif"></td>
            <td>i18n("User group")</td>
          </tr>
          <tr>
            <td style="text-align: right;"><img class="borderless" alt="" src="images/groups.gif"></td>
            <td>i18n("Create user group")</td>
          </tr>
          <tr>
            <td align="right" height="18" width="40"><img src="images/delete.gif" alt="" class="borderless">&nbsp;<img src="images/delete_inact.gif" alt="" class="borderless"></td>
            <td class="text_medium">i18n("Delete / Delete not available")<br>
            </td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td align="right" height="20"><a href="#top"><img src="images/arrow_tipballoon.gif" alt=""></a></td>
    </tr>
    <tr>
      <td class="text_medium" style="border: 0 solid rgb(169, 174, 194);border-top-width: 1px;"><br>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
<!--
template.symbolhelp

i18n("Table of contents")
i18n("Common")
i18n("Content")
i18n("Article")
i18n("Category")
i18n("File management")
i18n("Style")
i18n("Layouts")
i18n("Modules")
i18n("Templates")
i18n("CSS editor")
i18n("Script editor")
i18n("Module templates")
i18n("Extras")
i18n("Newsletter")
i18n("Recipients")
i18n("Statistics")
i18n("Hits")
i18n("Administration")
i18n("Users")
i18n("Groups")
i18n("Languages")
i18n("Clients")
i18n("Execute query / Save")
i18n("Cancel")
i18n("Submit")
i18n("Change to My CONTENIDO (Personal Settings)")
i18n("Information (legal notice)")
i18n("Logout")
i18n("Configure category")
i18n("Create new article")
i18n("Article is start article / is not start article")
i18n("Set template / Add to To-Do list")
i18n("Configure article properties")
i18n("Configure template")
i18n("Element is online / offline (change through click)")
i18n("Element is protected / accessible (change through click)")
i18n("Duplicate article")
i18n("Delete article")
i18n("Lock / unlock folder (change through click)")
i18n("Set folder offline / online (change through click)")
i18n("Rename category")
i18n("Set category online / offline")
i18n("Category is online and unprotected / protected")
i18n("Category is offline and unprotected / protected")
i18n("Category is online, contains an error and is unprotected / protected")
i18n("Category is offline, contains an error and is unprotected / protected")
i18n("Move up one category")
i18n("Move category")
i18n("Select move target")
i18n("Duplicate category")
i18n("Delete / Delete not available")
i18n("Root upload folder")
i18n("Regular folder")
i18n("Layout in use")
i18n("Set template / Add to To-Do list")
i18n("Delete / Delete not available")
i18n("Module in use")
i18n("Set template / Add to To-Do list")
i18n("Delete / Delete not available")
i18n("Duplicate template")
i18n("Create newsletter")
i18n("Copy newsletter")
i18n("Recipient")
i18n("Create recipient")
i18n("Remove recipient")
i18n("Recipient group")
i18n("Create recipient group")
i18n("Delete / Delete not available")
i18n("Article is online / offline")
i18n("Language active / not active")
i18n("Create user")
i18n("User group")
i18n("Create user group")

-->
