<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.con_subnav.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="scripts/rowMark.js?v=4ff97ee40f1ac052f634e7e8c2f3e37e"></script>
    <script type="text/javascript" src="scripts/subnav.js"></script>
    <script type="text/javascript">
    // @FIXME: No JavaScript in global scope!
    var artObj = null;
    function refreshArticleProp() {
        artObj = Con.getFrame('left_top').artObj;
        if (artObj) {
            artObj.setGlobalVars(Con.sid, {CLIENT}, {LANG});
            artObj.idcat = {IDCAT};
        }
    }
    refreshArticleProp();
    </script>
</head>
<body class="page_subnav">

<div class="navcontainer">
    <div class="frame_handle">
        <img src="images/frame_handle_re.gif" alt="">
        <img id="toggleimage" src="images/toggle_frame_right.gif" style="display:none;" alt="">
    </div>
    <ul id="navlist">
        <!-- BEGIN:BLOCK -->
        <li id="{ID}" data-name="{DATA_NAME}">{CAPTION}</li>
        <!-- END:BLOCK -->
    </ul>
</div>

<script type="text/javascript">
(function(Con, $) {
    $(function() {
        if (parent.parent.frames[0].name != "header") {
            Con.getFrame("content").frameResize.init();
            Con.Subnav.init();
        }
        $("#toggleimage").click(function() {
            Con.getFrame("content").frameResize.toggle();
        });

        var elem = $("#{iID}");
        if (elem) {
            menuItem = elem[0];
            Con.Subnav.clicked(menuItem.firstChild);
        }

        $(elem[0]).click(function() {
            artObj.enableNavForArt();
        });
    });
})(Con, Con.$);
</script>

</body>
</html>