<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.lay_overview.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
    <link rel="stylesheet" type="text/css" href="{_ASSET(styles/jquery/plugins/tipsy.css)_}">
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/jquery/plugins/tipsy.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/registerTipsy.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/parameterCollector.js)_}"></script>
</head>
<body class="page_generic">

<table id="lay_overview_list" class="borderless menu_overview_list" width="100%" cellspacing="0" cellpadding="2" border="0">

    <!-- BEGIN:BLOCK -->
    <tr id="{ID}" data-id="{DATA_ID}" class="row_mark tooltip-north" original-title="{DESCRIPTION}">
        <td data-type="icon"></td>
        <td data-type="item">{NAME}</td>
        <td data-type="actions" align="right" class="nowrap">{INUSE}&nbsp;{TODO}&nbsp;{DELETE}&nbsp;</td>
    </tr>
    <!-- END:BLOCK -->

</table>

<script type="text/javascript">

(function(Con, $) {

    function actionShowLayout($row, id) {
        Con.multiLink(
            'right_top', Con.UtilUrl.build('main.php', {area: 'lay', frame: 3, idlay: id}),
            'right_bottom', Con.UtilUrl.build('main.php', {area: 'lay_edit', frame: 4, idlay: id})
        );
        Con.ParameterCollector.register('idlay', id);
    }

    function actionDeleteLayout($row, id) {
        var deleteMessage = "{DELETE_MESSAGE}",
            name = $row.find('[data-type="item"]').text();
        Con.showConfirmation(deleteMessage.replace('%s', name), function() {
            Con.multiLink(
                'right_top', Con.UtilUrl.build('main.php', {area: 'lay', frame: 3}),
                'right_bottom', Con.UtilUrl.build('main.php', {area: 'lay_edit', action: 'lay_delete', frame: 4, idlay: id})
            );
        });
    }

    function actionInUseLayout($row, id) {
        $.post(
            '{AJAX_URL}',
            { area: '{AREA}', ajax: 'inused_layout', id: id, contenido: Con.sid },
            function(data) {
                var name = $row.find('[data-type="item"]').text(),
                    inUsedTitle = "{BOX_TITLE}";
                Con.showNotification(inUsedTitle.replace('%s', name), data, null, true);
            }
        );
    }

    $(function() {
        $('#lay_overview_list [data-action]').live('click', function() {
            var action = $(this).data('action'),
                $row = $(this).closest('[data-id]'),
                id = $row.data('id');

            if ($row && action && id) {
                if (action === 'show_layout') {
                    actionShowLayout($row, id);
                } else if (action === 'delete_layout') {
                    actionDeleteLayout($row, id);
                } else if (action === 'inused_layout') {
                    actionInUseLayout($row, id);
                } else if (action === 'todo_layout') {
                    // TODO we could implement the action for todo_layout here!
                }
            }
        });

        Con.RowMark.initialize('#lay_overview_list .row_mark', 'row', '#marked');
    });
})(Con, Con.$);

</script>

</body>
</html>