<img id="cms_filelist_{ID}" class="cms_filelist_img cms_filelist_{ID}_EDIT CMS_LINK_EDIT" src="{CON_PATH}images/but_downloadlist.gif" /><br /><br />
<div style="display:none" id="cms_filelist_{ID}_settings" class="cms_filelist">
	<div class="close" id="filelist_close">
		<img src="{CON_PATH}images/but_cancel.gif"/>
	</div>
	<p class="head">{LABEL_FILELIST_SETTINGS}</p>
	
	<ul class="menu">
		<li class="manual">{MANUAL}</li>
		<li class="general">{CONFIGS}</li>
	</ul>
	<div id="tabs">
		<div id="manual">
			<p class="head_sub">{LABEL_MANUAL}</p>
			
			<label for="filelist_manual">{LABEL_MANUAL_FILELIST}</label>
			<input class="no_width" type="checkbox" name="filelist_manual" id="filelist_manual" {FILELIST_MANUAL}>
			
			<div style="clear:both;display:none" id="manual_filelist_setting">
				<div class="head_sub head_sep">{LABEL_EXISTING_FILES}</div>
				{MANUAL_OPTIONS}			
				
				<div class="head_sub head_sep">{LABEL_ADD_FILE}</div>
				<label for="teaser_cat">{LABEL_DIRECTORY}:</label>
				<div id="directoryList">
					<ul id="con_str_tree" dir="ltr">
						<li id="root" class="last">
							<em>Uploads</em>
							{DIRECTORY_LIST}
						</li>
					</ul>
				</div>
				<br />
				<label for="teaser_art" class="small">{LABEL_FILE}:</label>
				{FILE_SELECT}<span>&nbsp;<img id="add_file" src="{CON_PATH}images/but_art_new.gif" alt="" /></span>
			</div>
		</div>
		<div id="general">
			<p class="head_sub">{LABEL_GENERAL}</p>
			
			<label for="filelist_title">{LABEL_FILELIST_TITLE}:</label>
			<input type="text" name="filelist_title" id="filelist_title" value="{FILELIST_TITLE}">

			<label for="filelist_style">{LABEL_STYLE}:</label>
			{STYLE_SELECT}
			
			<label for="filelist_sort">{LABEL_SORT}:</label>
			{SORT_SELECT}
			
			<label for="filelist_sortorder">{LABEL_SORTORDER}:</label>
			{SORTORDER_SELECT}
			
			<div class="head_sub head_sep">&nbsp;</div>
		</div>
	</div>
	
	<div class="toolbar">
		<img class="save_settings" src="{CON_PATH}images/but_ok.gif"/>
		<img class="filelist_cancel" src="{CON_PATH}images/but_cancel.gif"/>
	</div>
</div>

<script type="text/javascript">
	<!--
	var fileListImage{ID} = '#cms_filelist_{ID}';
	var fileListFrame{ID} = '#cms_filelist_{ID}_settings';
	var aFileListData{ID} = Array({FIELDS});
	var dateFields = Array("filelist_creationdatefilter_from", "filelist_creationdatefilter_to", "filelist_modifydatefilter_from", "filelist_modifydatefilter_to");
	var sPath = '{CON_PATH}';
	var sSession = '{CONTENIDO}';
	var iIdArtLang = '{IDARTLANG}';
	var sLabelIgnoreExtensionsOn = '{LABEL_SELECTIONWILLBEIGNORED}';
	var bIgnoreExtensions{ID} = '{IGNOREEXTENSIONS}';

    $(document).ready(function(){
        $.getScript(sPath+'scripts/cmsFileList.js', function() {
            addFileListEvents(fileListFrame{ID}, fileListImage{ID}, sPath, sSession, iIdArtLang, {ID}, aFileListData{ID}, bIgnoreExtensions{ID});
        });
    });
	-->
</script>