    <strong>{HEAD_TYPE}</strong>
    <table cellpadding="3" cellspacing="0" width="100%" class="inuse_tpl">
        <thead>
            <tr>
                <th class="inuse_id">{HEAD_ID}</th>
                <th class="inuse_lang">{HEAD_LANG}</th>
                <th class="inuse_name">{HEAD_NAME}</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN:BLOCK -->
            <tr>
                <td>{ID}</td>
                <td>{LANG}</td>
                <td>{NAME}</td>
            </tr>
            <!-- END:BLOCK -->

        </tbody>
    </table>
