<!-- BEGIN:BLOCK -->
<span id="metaRow_{META_TYPE}" style="{META_SHOWN}">&lt;<span style="color: darkviolet">meta {META_NAME}</span><span style="color: red">=</span><span style="color: orange">"<span style="font-style: italic;">{META_TYPE}</span>"</span><span style="color: darkviolet"> content</span><span style="color: red">=</span><span style="color: orange">"</span><span id="metaContent_{META_TYPE}" style="color: orange; font-style: italic;">{META_CONTENT}</span><span style="color: orange">"</span>&nbsp;/&gt;<br></span>
<!-- END:BLOCK -->
