    <tr name="newMeta" valign="top" style="display: none;">
        <td colspan="4" style="border: 1px; border-left: 0px; border-right: 0px; border-top:0px; border-color: #B3B3B3; border-style: solid; background-color: #FFFFFF" class="text_medium" valign="top"><div class="categorypath">{METATITLE}</div></td>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr name="newMeta" valign="top" style="display: none;">
        <td style="border: 1px; border-right: 0px; border-top:0px; border-color: #B3B3B3; border-style: solid; background-color: #FFFFFF" class="text_medium" valign="top">{METATITLE}</td>
        <td colspan="3" style="border: 1px; border-top:0px; border-color: #B3B3B3; border-style: solid; background-color: #FFFFFF" class="text_medium" valign="top">{METAFIELDTYPE}</td>
    </tr>
    <!-- END:BLOCK -->