<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.mycontenido_start.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
    <script type="text/javascript">
    Con.getFrame('left_bottom').location.reload();
    </script>
</head>
<body class="page_generic">

<!-- BEGIN:BLOCK -->
<p class="text_medium">
{CONTENTTEXT}
</p>
<!-- END:BLOCK -->

</form>
</body>
</html>
