<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <!-- TODO Check if this template is still in use somewhere! -->
    <title>template.files_overview.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
    <link rel="stylesheet" type="text/css" href="{_ASSET(styles/jquery/plugins/tipsy.css)_}">
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/jquery/plugins/tipsy.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/registerTipsy.js)_}"></script>
    <script type="text/javascript">
	function deleteFile(file) {
	    var url = Con.UtilUrl.build("main.php", {
	        area: "{JS_AREA}",
	        action: "{JS_ACTION_DELETE}",
	        frame: 4,
	        delfile: file
	    });
	    Con.getFrame('right_bottom').location.href = url;
	}
</script>
</head>
<body>

<table id="files_list" class="borderless" width="100%" cellspacing="0" cellpadding="0" border="0">
    <!-- BEGIN:BLOCK -->
    <tr class="tooltip-north row_mark" original-title="{DESCRIPTION}" {ID}>
        <td><img alt="" width="10" src="images/spacer.gif"></td>
        <td>
            <table width="100%" cellspacing="0" cellpadding="3" border="0">
                <tr>
                <td width="100%">{FILENAME}</td>
                <td class="text_right">{DELETE}</td>
                </tr>
            </table>
        </td>
        <td><img alt="" width="5" src="images/spacer.gif"></td>
    </tr>
    <!-- END:BLOCK -->
</table>

<script type="text/javascript">
(function(Con, $) {
    $(function() {
        Con.RowMark.initialize('#file_list .row_mark', 'row', '#marked');
    });
})(Con, Con.$);
</script>

</body>
</html>
