<!--
data-action handler are defined in template.con_left_top.html.
-->
<div style="height:110px;padding-top:5px; padding-left: 17px; margin-bottom:-1px;">
    i18n("Template:")<br>
    <div class="vAlignMiddle">
        {TEMPLATE_SELECT}
        <a class="vAlignMiddle" style="display: inline-block;" data-action="change_category_template" href="#"><img class="vAlignMiddle" src="images/submit.gif" alt=""></a><br>
    </div>
    <div style="margin: 5px 0 5px 0;">
        <div id="oTemplatecfg_label" data-action="configure_category">
            <a href="javascript://">
                <img class="vAlignMiddle" id="oTemplatecfg" src="images/but_cat_conf2.gif" title="i18n("Configure category")" alt="i18n("Configure Category")">
                i18n("Configure category")
            </a>
        </div>
        <div id="oOnline_label" data-action="change_category_online_state">
            <a href="javascript://">
                <img class="vAlignMiddle" id="oOnline" src="images/offline.gif" title="i18n("Online / Offline")" alt="i18n("Online / Offline")">
                i18n("Online / Offline")
            </a>
        </div>
        <div id="oLock_label" data-action="change_category_lock_state">
            <a href="javascript://">
                <img class="vAlignMiddle" id="oLock" src="images/folder_lock.gif" title="i18n("Lock / Unlock")" alt="i18n("Lock / Unlock")">
                i18n("Lock / Unlock")
            </a>
            <br>
        </div>
    </div>
</div>
<!--
template.con_left_top_cat_edit

i18n("Template:")
i18n("Configure category")
i18n("Online / Offline")
i18n("Lock / Unlock")

-->