<style>
.cms_debug_output {
    font-size: 11px;
    /*background-color: #fff;*/
    margin: 0;
    padding: 5px;
    color: #000000;
    text-align: left;
}

.cms_debug_footer {
    font-size: 80%;
    margin: 5px 0;
    padding: 5px;
    background-color: #ccc;
    color: #000;
    text-align: left;
}
</style>


<div style="margin:5px 0;padding:5px;background-color: #ffff;border:1px solid #ccc;font-family:Georgia,serif;text-align: left;">
    <p style="font-size:80%;margin: 0;padding:2px 5px;background-color:#ccc;color:#000;font-family:Verdana,sans-serif;text-align: left;">
        <b>DEBUG {VAR_DESCRIPTION}</b>
    </p>
    {VAR_TEXT}
</div>