<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">    
    <script type="text/javascript" src="scripts/HTMLObj.js.php?contenido={SESSID}"></script>
    <script type="text/javascript" src="scripts/contenidoConfig.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script language="JavaScript" src="scripts/cfoldingrow.js"></script>
    <script language="JavaScript" src="scripts/parameterCollector.js"></script>
	
	<script language="javascript">
		var listopURL='';
		var pagingURL='';
		var sid = "{SID}";

		// need to insert function in Article Search link
		function resizeFrame(arg)
		{
			if(arg == '')
			{
				var listopLink = document.getElementById('{LISTOPLINK}');
				var pagingLink = document.getElementById('{PAGINGLINK}');
				
				// store current link for later use
				listopURL = listopLink.href;
				pagingURL = pagingLink.href;
				
				// clicking the link now calls this function
				listopLink.href = "javascript:resizeFrame('{LISTOPLINK}');";
				pagingLink.href = "javascript:resizeFrame('{PAGINGLINK}');";
			}
			else if(arg == '{LISTOPLINK}')
			{
				window.location.href=listopURL;
			}
			else if(arg == '{PAGINGLINK}')
			{
				window.location.href=pagingURL;
			}
			
			// resizing frame
			window.setTimeout("parent.parent.frameResize.resizeTopLeftFrame(document.getElementById('top_left_container').offsetHeight+1)", 10);
		}

		function userChangeRestriction()
		{
			var element = document.getElementsByTagName("SELECT");
			
			url  = "";
            url += "main.php?area=user";
            url += "&frame=2";
			url += "&restriction="+element[0].value
            url += "&contenido=" + sid;

			parent.parent.frames["left"].frames["left_bottom"].location.href = url;
		}
		
    function execFilter()
      {
      var multilink = "main.php?";
      var formelements = document.filter;
    
      for(var i=0; i<formelements.length; i++)
        {
        if(i>0 && formelements[i].name != "" && formelements[i].value != "")
          {
          multilink += "&";
          }
        if(formelements[i].name != "" && formelements[i].value != "")
          {
          multilink += formelements[i].name + "=" + formelements[i].value;
          }
        }
      conMultiLink("left_bottom", multilink);
      }		
	</script>
</head>
<body bgcolor="#FFFFFF" onLoad="resizeFrame('');">

<div id="top_left_container" style="border: 1px solid rgb(179, 179, 179); margin: 1px 0pt 0pt; padding-top: 7px;">
  <span id="infoBox">{CAPTION}</span>
  {NEWUSER}
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    {LISTOPTIONS}
    {PAGING}
  </table>
</div>
</body>
</html>
