<script type="text/javascript">
// Function for deleting frontend groups
function deleteFrontendGroup(idfrontendgroup) {
    var url  = "main.php?area=frontendgroups";
    url += "&action=frontendgroup_delete";
    url += "&frame=4";
    url += "&idfrontendgroup=" + idfrontendgroup;
    url += "&contenido=" + Con.sid;
    Con.getFrame('right_bottom').location.href = url;
}
</script>

{FORM}

<script type="text/javascript">
(function(Con, $) {
    if ($('#marked')) {
        row.markedRow = $('#marked')[0];
    }
})(Con, Con.$);
</script>