<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.lay_left_top.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/cfoldingrow.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/parameterCollector.js)_}"></script>
</head>
<body class="page_top_left">

<div id="top_left_container" data-resizegap="1">
    <form method="post" action="" target="blind">
        <div class="top_left_action">
            {ACTION}
        </div>
        <div class="top_left_action top_left_action_next">
            {ACTION2}
        </div>
    </form>
</div>

</body>
</html>
