{INFO}
<div class="atfilter">
    <div class="right">
        {SEARCH}
    </div>
    {NEWLANG}
</div>
{FORM}
<div class="atpager">
    <div class="right">{ELEMPERPAGE}</div>{PAGER}
</div>
<script type="text/javascript">
(function(Con, $) {
    $(function() {
        $(".in_used_mod").live("click", function() {
            var iId = $(this).attr("rel"),
                modName = $(this).parents("td").prev().text();
            if (iId) {
                $.post("ajaxmain.php", { area: "mod", ajax: "inused_module", id: iId, contenido: Con.sid },
                    function(data) {
                        var inUseTitle = "{MODULEINUSETEXT}";
                        inUseTitle = inUseTitle.replace("%s", modName);
                        Con.showNotification(inUseTitle, data, null, true);
                    }
                );
            }
        });
        $("th .del").parent().before(function() {
            var iId = $(this).find('.del').attr('rel');
            if (iId) {
                return '<a href="{DELLANGHREF}' + iId + '"><img src="{DELLANGIMG}" title="{DELLANGALT}" alt="{DELLANGALT}"></a>';
            }
        });
    });
})(Con, Con.$);
</script>
