<div id="request_layer">
    <div class="request_label_layer" style="display:block;">
        <p style="margin:0; padding:0;"><a href="javascript:void(0)">i18n('Request password?')</a></p>
    </div>
    <div class="request_form_layer" style="display:none;">
        <p style="margin:0; padding:0;">{LABEL}</p>
        <div style="margin:0; padding: 0;">{FORM}</div>
        <p class="message">{MESSAGE}</p>
    </div>
    <div class="reset_form_layer" style="display:none;">
        <p class="message">{RESET_MESSAGE}</p>
        <div style="margin:0; padding: 0;">{RESET_FORM}</div>
    </div>
</div>

<script type="text/javascript">
(function($) {
    $(function() {
        var $requestLayer = $("#request_layer");

        function showRequestLayer() {
            var pos = $requestLayer.position();

            $requestLayer.css({
                position: "absolute",
                top: (pos.top + 1)+ "px",
                left: pos.left + "px"/*,
                height: $("#request_layer .request_form_layer").height() + "px"*/
            });

            $requestLayer.find(".request_form_layer").show();
            $requestLayer.find(".request_label_layer").hide();
            $requestLayer.find(".reset_form_layer").hide();
        };

        $requestLayer.find("a").click(function() {
            showRequestLayer();
            return true;
        });

        function showResetLayer() {
            $requestLayer.find(".reset_form_layer").show();
        };
        {JS_CALL}
    });
})(jQuery);
</script>
<!--
template.request_password

i18n('Request password?')

-->
