<tr name="newMeta" valign="top" style="display: none;">
    <td
        colspan="4"
        style="border-left: none;"
        class="text_medium"
        valign="top"
    >
        <div class="categorypath">
            {METATITLE}
        </div>
    </td>
</tr>
<!-- BEGIN:BLOCK -->
<tr name="newMeta" valign="top" style="display: none;">
    <td style="border-left: none;" class="text_medium" valign="top">{METATITLE}</td>
    <td colspan="3" style="border-left: none;" class="text_medium" valign="top">{METAFIELDTYPE}</td>
</tr>
<!-- END:BLOCK -->