<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.lang_overview.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
    <style type="text/css">
    table tbody {vertical-align: top;}
    </style>
{_JS_HEAD_CONTENIDO_}

    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/parameterCollector.js)_}"></script>
</head>
<body class="page_generic">

{RELOAD_SCRIPT}

{GENERIC_MENU}

<script type="text/javascript">
(function(Con, $) {

    var targetClient = "{TARGETCLIENT}";

    function actionShowLang($row, id) {
        Con.multiLink(
            'right_bottom', Con.UtilUrl.build('main.php', {area: 'lang_edit', frame: 4, targetclient: targetClient, idlang: id})
        );
        Con.ParameterCollector.register('idlang', id);
    }

    function actionActivateLang($row, id) {
        window.location.href = Con.UtilUrl.build('main.php', {area: 'lang', action: 'lang_activatelanguage', frame: 2, targetclient: targetClient, idlang: id});
    }

    function actionDeactivateLang($row, id) {
        window.location.href = Con.UtilUrl.build('main.php', {area: 'lang', action: 'lang_deactivatelanguage', frame: 2, targetclient: targetClient, idlang: id});
    }

    function actionDeleteLang($row, id) {
        var deleteMessage = "{DELETE_MESSAGE}",
            name = $row.find('[data-type="item"] span').text();

        Con.showConfirmation(deleteMessage.replace('%s', name), function() {
            var url = Con.UtilUrl.build('main.php', {
                area: 'lang_edit',
                action: 'lang_deletelanguage',
                frame: 4,
                idlang: id,
                targetclient: targetClient
            });
            Con.getFrame('right_bottom').location.href = url;
        });
    }

    $('table [data-action]').live('click', function() {
        var action = $(this).data('action'),
            $row = $(this).closest('[data-id]'),
            id = $row.data('id');

        if ($row && action && id) {
            if (action === 'show_lang') {
                actionShowLang($row, id);
            } else if (action === 'activate_lang') {
                actionActivateLang($row, id);
            } else if (action === 'deactivate_lang') {
                actionDeactivateLang($row, id);
            } else if (action === 'delete_lang') {
                actionDeleteLang($row, id);
            }
        }
    });

    $(function() {

        function refreshLangCount() {
            Con.getFrame('left_top').iLanguagecount = {LANG_COUNT};
        }

        if (!Con.getFrame('left_top') || !Con.getFrame('left_top').iLanguagecount) {
            window.setTimeout(function() {
                refreshLangCount();
            }, 1000);
        } else {
            refreshLangCount();
        }

        Con.RowMark.initialize('#lang_overview_list .row_mark', 'row', '#marked');
    });
})(Con, Con.$);

</script>
</body>
</html>
