<style>
    #artsearch {
        margin: 0;
        padding: 0 0 10px;
    }
    #artsearch table.borderless td.label {
        padding-left: 15px;
        padding-right: 5px;
    }
    #artsearch div.artikel_search > .title {
        font-weight: bold;
        margin-bottom: 10px;
    }
    #artsearch ul.artikel_search li {
        margin-bottom: 3px;
    }
    #artsearch ul.artikel_search li > a {
        padding-left: 3px;
    }
    #artsearch ul.artikel_search li > a > img {
        vertical-align: middle;
        padding-left: 3px;
    }
</style>
<div id="artsearch">
    <form action="backend_search.php" method="post" name="backend_search" target="right_bottom" id="backend_search">
        <input type="hidden" name="area" value="{AREA}">
        <input type="hidden" name="frame" value="{FRAME}">
        <input type="hidden" name="contenido" value="{_SID_}">
        <input type="hidden" name="speach" value="{LANG}">
        <table class="borderless" dir="{LANGTEXTDIRECTION}">
            <tr>
                <td class="label">
                    i18n("Title/Content")
                </td>
                <td>
                    {TEXTBOX_ARTTITLE}
                </td>
            </tr>
            <tr>
                <td class="label">
                    i18n("Article ID")
                </td>
                <td>
                    {TEXTBOX_ARTID}
                </td>
            </tr>
            <tr>
                <td class="label">
                    i18n("Date")
                </td>
                <td>
                    <nobr>{SELECT_ARTDATE}</nobr>
                </td>
            </tr>
            <tr id="tr_date_from" class="foldingrow_hidden">
                <td class="label"><div>i18n("Date from")</div></td>
                <td><div><nobr>{SELECT_ARTDATEFROM}</nobr></div></td>
            </tr>
            <tr id="tr_date_to" class="foldingrow_hidden">
                <td class="label"><div>i18n("Date to")</div></td>
                <td><div><nobr>{SELECT_ARTDATETO}</nobr></div></td>
            </tr>
            <tr>
                <td class="label">
                    i18n("Author")
                </td>
                <td>
                    <nobr>{SELECT_AUTHOR}</nobr>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{SUBMIT_BUTTON}</td>
            </tr>
        </table>
    </form>
    <div class="artikel_search">
        <div class="title">i18n("Saved searches"):</div>
        <ul class="artikel_search">
            <li>
                <a href="javascript://" data-action="saved_search" data-type="recent_edited_articles">
                    <img alt="" src="images/delete_inact.gif">
                    i18n("Recently edited articles")
                </a>
            </li>
            <li>
                <a href="javascript://" data-action="saved_search" data-type="my_articles">
                    <img alt="" src="images/delete_inact.gif">
                    i18n("My articles")
                </a>
            </li>
            <li>
                <a href="javascript://" data-action="saved_search" data-type="lost_and_found">
                    <img alt="" src="images/delete_inact.gif">
                    i18n("Lost and found")
                </a>
            </li>
            <li style="{DISPLAY}">
                <a href="javascript://" data-action="saved_search" data-type="workflow">
                    <img alt="" src="images/delete_inact.gif">
                    i18n("Workflow")
                </a>
            </li>
            <!-- BEGIN:BLOCK -->
            <li data-itemid="{ITEM_ID}" data-itemtype="{ITEM_TYPE}">
                <a href="javascript://" data-action="saved_search" data-type="delete_my_saved_search">
                    <img src="images/delete.gif">
                </a>
                <a href="javascript://" data-action="saved_search" data-type="my_saved_search">{SEARCH_NAME}</a>
            </li>
            <!-- END:BLOCK -->
        </ul>
    </div>
</div>
