<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript">
        var left_bottom = parent.parent.frames['left'].frames['left_bottom'];
        if (left_bottom) {
            var href = left_bottom.location.href;
            href = href.replace(/&idclient.*/, '');
            left_bottom.location.href = href+'&idclient='+"{IDCLIENT}";
        }
    </script>
    
    <script type="text/javascript">
    	$(document).ready(function() {
			$("#submit_button").mousedown(function() {
				if(!validateURL($("#htmlpath").val())) {
					showNotification("Error", "i18n("Please enter a valid URL. It has to start with http://... or https://...")");
					return;
				}
				if($("#clientname").val() == "") {
					showNotification("Error", "i18n("The client must have a name!")");
					return;
				}
				if($("#frontendpath").val() == "") {
					showNotification("Error", "i18n("The client must have a frontend path. This is where the client's files will be stored.")");
					return;
				}
			});
    	});
    </script>
    
    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
</head>
<body style="margin:10px">

{FORM}
<table class="generic" id="stats" cellspacing="0" cellpadding="2" border="0">
    <tr>
        <th valign="top" style="padding-left:{PADDING_LEFT}px">{PROPERTY}</th>
        <th valign="top" align="left">{VALUE}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr id="{ROWNAME}" >
        <td valign="top" style="padding-left:{PADDING_LEFT}px">{CATNAME}</td>
        <td valign="top" align="left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
    <tr id="{ROWNAME}" >
        <td valign="top" style="border-right-width: 0px; padding-left:{PADDING_LEFT}px">&nbsp;</td>
        <td valign="top" align="right"><a accesskey="c" href="{CANCELLINK}"><img border="0" src="images/but_cancel.gif" alt="{CANCELTEXT}" title="{CANCELTEXT}"></a><img src="images/spacer.gif" width="20"><input id="submit_button" accesskey="s" type="image" src="images/but_ok.gif" alt="{SUBMITTEXT}" title="{SUBMITTEXT}" border="0"></td>
    </tr>
</table>
</form>
</body>
</html>

<!-- 

i18n("Please enter a valid URL. It has to start with http://... or https://...")
i18n("The client must have a name!")
i18n("The client must have a frontend path. This is where the client's files will be stored.")
 -->

