<table class="width100" cellspacing="0" cellpadding="5" border="0">
    <tr class="textg_medium" style="background-color: #E2E2E2">
        <td colspan="2" class="textg_medium borderB3 noborderb" nowrap="nowrap">{HEADLINE}</td>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr class="textg_medium" style="background-color: #fff;" >
        <td class="text_medium borderB3 nobordert width30 tgleft vgtop" nowrap="nowrap">{NAME}</td>
        <td class="text_medium borderB3 nobordert noborderl">{VALUE}</td>
    </tr>
    <!-- END:BLOCK -->
    {ADDITIONAL}
</table>