<html>
<head>
    <title></title>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">    
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body>

<table width="100%" cellspacing="0" cellpadding="2" border="0">
    <tr class="text_medium" style="background-color: {OVERVIEWBGCOLOR};">
        <td style="padding-left:{PADDING_LEFT}px">{OVERVIEWTEXT}</td>
    </tr>
    <tr class="text_medium" style="background-color: {CURRENTBGCOLOR};" onmouseover="row.over(this)" onmouseout="row.out(this)" onclick="row.click(this)">
        <td style="padding-left:{PADDING_LEFT}px">{CURRENTTEXT}</td>
    </tr>
    <tr class="text_medium" style="background-color: #FFFFFF;">
        <td style="padding-left:{PADDING_LEFT}px">&nbsp;</td>
    </tr>
    <tr class="text_medium" style="background-color: {ARCHIVEBGCOLOR};">
        <td style="padding-left:{PADDING_LEFT}px">{ARCHIVETEXT}</td>
    </tr>
    
    <!-- BEGIN:BLOCK -->
    <tr class="text_medium" style="background-color: {BGCOLOR};" onmouseover="row.over(this)" onmouseout="row.out(this)" onclick="row.click(this)">
        <td style="padding-left:{PADDING_LEFT}px">{TEXT}</td>
    </tr>
    <!-- END:BLOCK -->

</table>
</body>
</html>
