<script type="text/javascript">
function deleteFrontenduser(idfrontenduser) {
    var form = Con.getFrame('left_top').document.getElementById("filter");
    var url  = 'main.php?area=frontend';
    url += '&action=frontend_delete';
    url += '&frame=4';
    url += '&idfrontenduser=' + idfrontenduser;
    url += '&contenido=' + Con.sid;
    url += get_registered_parameters();
    url += '&sortby=' +form.sortby.value;
    url += '&sortorder=' +form.sortorder.value;
    url += '&filter=' +form.filter.value;
    url += '&searchin=' +form.searchin.value;
    url += '&elemperpage=' +form.elemperpage.value;
    url += '&restrictgroup=' +form.restrictgroup.value;
    url += '&page={MPAGE}';
    Con.getFrame('right_bottom').location.href = url;
}

(function(Con, $) {
    var sNavigation = '{PAGER_CONTENT}';
    var left_top = Con.getFrame('left_top');
    if (left_top) {
        var oPager = left_top.document.getElementById('25c6a67d-a3f1-4ea4-8391-446c131952c9');
        if (oPager) {
            var oInsert = oPager.firstChild;
            oInsert.innerHTML = sNavigation;
            left_top.iPage = '{PAGE}';
            left_top.toggle_pager('25c6a67d-a3f1-4ea4-8391-446c131952c9');
        }
    }
})(Con, Con.$);
</script>

{FORM}

<script type="text/javascript">
(function(Con, $) {
    if ($('#marked')) {
        row.markedRow = $('#marked')[0];
    }
})(Con, Con.$);
</script>