<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<!-- template.default_subnav, @fixme: merge with template.subnav, template.subnav_blank, template.file_subnav -->
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/subnav.js"></script>
</head>
<body class="page_subnav">

<div id="navcontainer" class="{CLASS}">
    <div class="frame_handle">
        <img src="images/frame_handle_re.gif" alt="">
        <img id="toggleimage" src="images/spacer.gif" alt="">
    </div>
    <ul id="navlist">
        <!-- BEGIN:BLOCK -->
        <li id="{ID}">{CAPTION}</li>
        <!-- END:BLOCK -->
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        if (parent.parent.frames[0].name != "header") {
            parent.parent.frameResize.init();
            sub.init();
        }
        $("#toggleimage").click(function() {
            parent.parent.frameResize.toggle();
        });
    });
</script>

</body>
</html>