<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.js_left_top.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="scripts/HTMLObj.js"></script>
    <script type="text/javascript" src="scripts/contenidoConfig.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
</head>
<body>

<div id="top_left_container" data-resizegap="1">
    {CAPTION}
    {NEWSCRIPT}
</div>

</body>
</html>
