<div id="artsearch" style="margin:0;padding: 0 0 10px;">
    <form action="backend_search.php" method="post" name="backend_search" target="right_bottom" id="backend_search">
        <input type="hidden" name="area" value="{AREA}">
        <input type="hidden" name="frame" value="{FRAME}">
        <input type="hidden" name="contenido" value="{_SID_}">
        <input type="hidden" name="speach" value="{LANG}">
        <table class="borderless" dir="{LANGTEXTDIRECTION}">
            <tr>
                <td style="padding-left: 15px;">
                    i18n("Title/Content")
                </td>
                <td>
                    {TEXTBOX_ARTTITLE}
                </td>
            </tr>
            <tr>
                <td style="padding-left: 15px;">
                    i18n("Article ID")
                </td>
                <td>
                    {TEXTBOX_ARTID}
                </td>
            </tr>
            <tr>
                <td style="padding-left: 15px;">
                    i18n("Date")
                </td>
                <td>
                    <nobr>{SELECT_ARTDATE}</nobr>
                </td>
            </tr>
            <tr id="tr_date_from" style="display:none;">
                <td>
                    i18n("Date from")
                </td>
                <td>
                    <nobr>{SELECT_ARTDATEFROM}</nobr>
                </td>
            </tr>
            <tr id="tr_date_to" style="display:none;">
                <td>
                    i18n("Date to")
                </td>
                <td>
                    <nobr>{SELECT_ARTDATETO}</nobr>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 15px;">
                    i18n("Author")
                </td>
                <td>
                    <nobr>{SELECT_AUTHOR}</nobr>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{SUBMIT_BUTTON}</td>
            </tr>
        </table>
    </form>
    <div class="artikel_search">
        <div style="font-weight:bold; margin-bottom: 10px;">i18n("Saved searches"):</div>
        <ul class="artikel_search">
            <li style="margin-bottom: 3px;">
                <img style="vertical-align:middle; padding-left: 3px;" src="images/delete_inact.gif"><a style="padding-left: 3px;" href="javascript:Con.multiLink('right_bottom', 'backend_search.php?area={AREA}&frame=4&contenido=1&recentedit=true'); resetSearchForm();">i18n("Recently edited articles")</a>
            </li>
            <li style="margin-bottom: 3px;">
                <img style="vertical-align:middle;padding-left: 3px;" src="images/delete_inact.gif"><a style="padding-left: 3px;" href="javascript:Con.multiLink('right_bottom', 'backend_search.php?area={AREA}&frame=4&contenido=1&myarticles=true'); resetSearchForm();">i18n("My articles")</a>
            </li>
            <li style="margin-bottom: 3px;">
                <img style="vertical-align:middle;padding-left: 3px;" src="images/delete_inact.gif"><a style="padding-left: 3px;" href="javascript:Con.multiLink('right_bottom', 'backend_search.php?area={AREA}&frame=4&contenido=1&lostfound=true'); resetSearchForm();">i18n("Lost and found")</a>
            </li>
            <li style="margin-bottom: 3px; {DISPLAY}">
                <img style="vertical-align:middle;padding-left: 3px;" src="images/delete_inact.gif"><a style="padding-left: 3px;" href="javascript:Con.multiLink('right_bottom', 'main.php?area=con_workflow&frame=4&contenido=1'); resetSearchForm();">i18n("Workflow")</a>
            </li>
            <!-- BEGIN:BLOCK -->
            <li style="margin-bottom: 3px;">
                <a  href="javascript:Con.multiLink('left_top', 'main.php?area={AREA}&frame=1&delsavedsearch=true&contenido=1&itemid={ITEM_ID}&itemtype={ITEM_TYPE}')"><img style="padding-left: 3px; vertical-align:middle;" src="images/delete.gif"></a>
                <a style="padding-left: 3px;" href="javascript:Con.multiLink('right_bottom', 'backend_search.php?area={AREA}&frame=4&contenido=1&itemid={ITEM_ID}&itemtype={ITEM_TYPE}')">{SEARCH_NAME}</a>
            </li>
            <!-- END:BLOCK -->
        </ul>
    </div>
</div>