<div class="syncLanguage">
	<input class="vAlignMiddle" id="syncLang_{LANG_ID}" type="checkbox" name="syncingLanguage" value="{LANG_ID}">
	<label class="vAlignMiddle" for="syncLang_{LANG_ID}">{LANG_NAME}</label>
	<input class="vAlignMiddle button" title="{ONLINE_TEXT}" alt="{ONLINE_TEXT}" style="float: right; background-image: url({ONLINE_IMAGE});" name="{BUTTON_NAME}" type="submit" value="{LANG_ID}">
	<input class="vAlignMiddle button" title="{SYNC_TEXT}" alt="{SYNC_TEXT}" style="float: right; background-image: url({SYNC_IMAGE});" name="syncOne" type="submit" value="{LANG_ID}">
</div>