{FORM}

<script type="text/javascript">
(function(Con, $) {
    var sNavigation = '{PAGER_CONTENT}',
        left_top = Con.getFrame('left_top'), oPager, oInsert;
    if (left_top) {
        oPager = left_top.document.getElementById('02420d6b-a77e-4a97-9395-7f6be480f497');
        if (oPager) {
            oInsert = oPager.firstChild;
            oInsert.innerHTML = sNavigation;
            left_top.toggle_pager('02420d6b-a77e-4a97-9395-7f6be480f497');
        }
    }

    function actionShowModule($row, id) {
        Con.multiLink(
            'right_top', Con.UtilUrl.build('main.php', {area: 'mod', frame: 3, idmod: id}),
            'right_bottom', Con.UtilUrl.build('main.php', {area: 'mod_edit', frame: 4, idmod: id})
        );
        Con.ParameterCollector.register('idmod', id);
    }

    function actionDeleteModule($row, id) {
        var deleteMessage = "{DELETE_MESSAGE}",
            name = $row.find('[data-type="item"]').text();

        Con.showConfirmation(deleteMessage.replace('%s', name), function() {
            var $filterForm, formData, parameter;

            $filterForm = Con.getFrame('left_top').$('#filter');
            formData = Con.serializeForm($filterForm);

            // TODO Do we need all the parameter in the right_bottom frame?
            parameter = {
                area: 'mod_edit',
                action: 'mod_delete',
                frame: 4,
                idmod: id,
                sortby: formData.sortby,
                sortorder: formData.sortorder,
                filter: formData.filtertype
            };

            // Merge with registered parameter
            parameter = $.extend(Con.ParameterCollector.getAll(false), parameter);

            Con.multiLink(
                'right_top', Con.UtilUrl.build('main.php', {area: 'mod', frame: 3}),
                'right_bottom', Con.UtilUrl.build('main.php', parameter)
            );
        });
    }

    function actionInUseModule($row, id) {
        $.post("ajaxmain.php", { area: "mod", ajax: "inused_module", id: id, contenido: Con.sid },
            function(data) {
                var name = $row.find('[data-type="item"]').text();
                var inUseTitle = "i18n("The module '%s' is used for following templates")";
                inUseTitle = inUseTitle.replace('%s', name);
                Con.showNotification(inUseTitle, data, null, true);
            }
        );
    }

    $(function() {
        $('table [data-action]').live('click', function() {
            var action = $(this).data('action'),
                $row = $(this).closest('[data-id]'),
                id = $row.data('id');

            if ($row && action && id) {
                if (action === 'show_module') {
                    actionShowModule($row, id);
                } else if (action === 'delete_module') {
                    actionDeleteModule($row, id);
                } else if (action === 'inused_module') {
                    actionInUseModule($row, id);
                } else if (action === 'todo_module') {
                    // TODO we could implement the action for todo_layout here!
                }
            }
        });
    });

})(Con, Con.$);

</script>

<!--

template.mod_overview

i18n("The module '%s' is used for following templates")

-->