<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/jquery/plugins/tipsy.css">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/jquery/plugins/tipsy.js"></script>
    <script type="text/javascript" src="scripts/registerTipsy.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript">
        function resizeFrame() {
            // resizing frame
            parent.parent.frameResize.resizeTopLeftFrame(document.getElementById('top_left_container').offsetHeight+1);
        }
    </script>
</head>

<body onLoad="resizeFrame();">
<!--  <body onLoad="resizeFrame();"> -->

<div id="top_left_container">
    {NOTIFICATION}
    <div class="leftTopAction" style="display:{DISPLAY_SEARCH};">
      <!-- SEARCH -->
      {SEARCHTITLE}:<br>
      {SEARCHFORM}
    </div>
    <!-- CREATE DIR -->
    <div class="leftTopAction" style="display:{DISPLAY_DIR};">
        <form method="POST" {TARGET} name="newdir">
            <input type="hidden" name="path" value="{PATH}">
                   <input type="hidden" name="contenido" value="1">
                   <input type="hidden" name="frame" value="1">
                   <input type="hidden" name="area" value="upl">
            <input name="selectedfile" type="hidden" id="selectedfile" value="">
            i18n("Create directory in"):<br>
            <span id="caption2">{CAPTION2}</span><br>
            <div>
                  <input class="text_small vAlignMiddle" type="text" name="foldername" onChange="document.newdir.submit();">
                  <input class="vAlignMiddle tableElement" type="image" src="images/submit.gif">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    {RESULT}
</script>
</body>
</html>
<!--
template.upl_left_top

i18n("Create directory in")

-->
