<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.rights_left_top.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="scripts/HTMLObj.js"></script>
    <script type="text/javascript" src="scripts/contenidoConfig.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript" src="scripts/cfoldingrow.js"></script>
    <script type="text/javascript" src="scripts/parameterCollector.js?v=4ff97ee40f1ac052f634e7e8c2f3e37e"></script>
</head>

<body>

<div id="top_left_container" data-resizegap="1" data-resizeinitcb="frameLeftTopResizeInitCallback">
    <span id="infoBox">{CAPTION}</span>
    {NEWUSER}
    <table class="foldingrow">
        {LISTOPTIONS}
        {PAGING}
    </table>
</div>

<script type="text/javascript">
var listopURL = '';
var pagingURL = '';
var sDisplay = (Con.isMsie) ? 'block' : 'table-row';

// need to insert function in Article Search link
function resizeFrame(arg, bIgnore) {
    if (arg == '') {
        var listopLink = document.getElementById('{LISTOPLINK}');
        var pagingLink = document.getElementById('{PAGINGLINK}');

        // store current link for later use
        listopURL = listopLink.href;
        if (pagingLink) {
            pagingURL = pagingLink.href;
        }

        // clicking the link now calls this function
        listopLink.href = "javascript:resizeFrame('{LISTOPLINK}');";
        if (pagingLink) {
            pagingLink.href = "javascript:resizeFrame('{PAGINGLINK}');";
        }
    } else if (arg == '{LISTOPLINK}') {
        window.location.href = listopURL;
    } else if (arg == '{PAGINGLINK}' && bIgnore != 1) {
        window.location.href = pagingURL;
    }

    // resizing frame
    window.setTimeout(function () {
        Con.FrameLeftTop.resize();
    }, 10);
}

function userChangeRestriction() {
    var element = document.getElementsByTagName("SELECT");
    var url = Con.UtilUrl.build("main.php", {
        area: "user",
        frame: 2,
        restriction: element[0].value
    });
    Con.getFrame('left_bottom').location.href = url;
}

function execFilter() {
    var multilink = "main.php?";
    var formelements = document.filter;

    for (var i = 0; i < formelements.length; i++) {
        if (i > 0 && formelements[i].name != "" && formelements[i].name != "area" && formelements[i].name != "frame" &&formelements[i].value != "") {
            multilink += "&";
        }
        if (formelements[i].name != "" && formelements[i].value != "" && formelements[i].name != "area" && formelements[i].name != "frame") {
            multilink += formelements[i].name + "=" + formelements[i].value;
        }
    }
    Con.multiLink("left_bottom", multilink+'&area=user&frame=2');
}

function toggle_pager(sId) {
    var oBase = document.getElementById(sId);
    if (oBase) {
        if (oBase.firstChild && oBase.firstChild.firstChild && oBase.firstChild.firstChild) {
            var sExpandstate = document.getElementsByName('expandstate_'+sId)[0].value;
            oBase.previousSibling.style.display = sDisplay;
            if (sExpandstate == 'expanded') {
                oBase.style.display = sDisplay;
            } else {
                oBase.style.display = 'none';
            }
        } else if (oBase) {
            oBase.previousSibling.style.display = 'none';
            oBase.style.display = 'none';
        }
    }

    switch (sId) {
        case '44b41691-0dd4-443c-a594-66a8164e25fd':
            resizeFrame('{PAGINGLINK}', 1);
            break;
    }
}

function frameLeftTopResizeInitCallback() {
    resizeFrame('');
}
</script>

</body>
</html>
