<!-- template.generic_menu.html -->
<table id="{MENU_ID}" class="borderless menu_overview_list" width="100%" cellspacing="0" cellpadding="2">

    <!-- BEGIN:BLOCK -->
    <tr {EXTRA}>
        <td class="text_left" data-type="icon">{ICON}</td>
        <td data-type="item" width="100%" class="text_medium text_left no_wrap">{NAME}</td>
        <td data-type="actions" class="text_right no_wrap align_top">{ACTIONS}</td>
    </tr>
    <!-- END:BLOCK -->

</table>
<!-- /template.generic_menu.html -->
