<img id="cms_teaser_{ID}" class="cms_teaser_img CMS_TEASER_{ID}_EDIT CMS_LINK_EDIT" src="{CON_PATH}images/isstart0.gif" />
<div style="display:none;" id="cms_teaser_{ID}_settings" class="cms_teaser">
	<div class="close" id="teaser_close">
		<img src="{CON_PATH}images/but_cancel.gif"/>
	</div>
	<p class="head">{LABEL_TEASERSETTINGS}</p>
	
	<ul class="menu">
		<li class="general">{GENERAL}</li>
		<li class="advanced">{ADVANCED}</li>
		<li class="manual">{MANUAL}</li>
	</ul>
	<div id="tabs">
		<div id="general">
			<p class="head_sub">{LABEL_GENERAL}</p>
			
			<label for="teaser_title">{LABEL_TEASERTITLE}:</label>
			<input type="text" name="teaser_title" id="teaser_title" value="{TEASER_TITLE}">
			
			<label for="teaser_category">{LABEL_TARGET}:</label>
			{TARGET_SELECT}
			
			<label for="teaser_count">{LABEL_COUNT}:</label>
			{COUNT_SELECT}
			
			<label for="teaser_style">{LABEL_STYLE}:</label>
			{STYLE_SELECT}
			
			<label for="teaser_start">{LABEL_START}:</label>
			<input class="no_width" type="checkbox" name="teaser_start" id ="teaser_start" {START_CHECKED}>
			
			<div class="head_sub head_sep">{LABEL_SOURCE}</div>
			
			<label for="teaser_source_head">{LABEL_SOURCEHEAD}:</label>
			{SOURCEHEAD_SELECT}
			
			<label for="teaser_source_text">{LABEL_SOURCETEXT}:</label>
			{SOURCETEXT_SELECT}
			
			<label for="teaser_source_image">{LABEL_SOURCEIMAGE}:</label>
			{SOURCEIAMGE_SELECT}
		</div>
		<div id="advanced">
			<p class="head_sub">{LABEL_ADVANCED}</p>
		
			<label for="teaser_filter">{LABEL_FILTER}:</label>
			<input type="text" name="teaser_filter" id="teaser_filter" value="{FILTER_VALUE}">
			
			<label for="teaser_sort">{LABEL_SORT}:</label>
			{SORT_SELECT}
			
			<div class="head_sub head_sep">{SIZE_SETTINGS}</div>
			
			<label for="teaser_character_limit">{LABEL_CHARACTER_LIMIT}:</label>
			<input type="text" name="teaser_character_limit" id="teaser_character_limit" value="{CHARACTER_LIMIT}">
			
			<label for="teaser_image_width">{LABEL_IMAGE_WIDTH}:</label>
			<input type="text" name="teaser_image_width" id="teaser_image_width" value="{IMAGE_WIDTH}">
			
			<label for="teaser_image_height">{LABEL_IMAGE_HEIGHT}:</label>
			<input type="text" name="teaser_image_height" id="teaser_image_height" value="{IMAGE_HEIGHT}">
			
			<div class="head_sub head_sep">&nbsp;</div>
		</div>
		<div id="manual">
			<p class="head_sub">{LABEL_MANUAL}</p>
			<label for="teaser_manual">{LABEL_USE_MANUAL}:</label>
			<input class="no_width" type="checkbox" name="teaser_manual" id ="teaser_manual" {MANUAL_CHECKED}>
			
			<div class="head_sub head_sep">{LABEL_EXISTING_ARTICLES}</div>
			<select size="4" name="teaser_manual_art" id="teaser_manual_art" class="manual">{MANUAL_OPTIONS}</select>			
			
			<div class="head_sub head_sep">{LABEL_ADD_ARTICLE}</div>
			<label for="teaser_cat">{LABEL_CAT}:</label>
			{CAT_SELECT}
			<label for="teaser_art">{LABEL_ART}:</label>
			{ART_SELECT}
			<label for="add_art">{LABEL_ADD}:</label>
			<img id="add_art" src="{CON_PATH}images/but_art_new.gif" alt="" />
		</div>
	</div>
	
	<div class="toolbar">
		<img class="save_settings" src="{CON_PATH}images/but_ok.gif"/>
		<img class="teaser_cancel" src="{CON_PATH}images/but_cancel.gif"/>
	</div>
</div>

<script type="text/javascript">
	<!--
	var teaserImage{ID} = '#cms_teaser_{ID}';
	var teaserFrame{ID} = '#cms_teaser_{ID}_settings';
	var aData = Array({FIELDS});
	var sPath = '{CON_PATH}';
	var sSession = '{CONTENIDO}';
	var iIdArtLang = '{IDARTLANG}';
	var iId = '{ID}';
	
	$.getScript(sPath+'scripts/cmsTeaser.js', function() {
		$.getScript(sPath+'scripts/cmsTeaser.js', function() {
			addTeaserEvents(teaserFrame{ID}, teaserImage{ID}, sPath, sSession, iIdArtLang, iId);
		});
	});
	-->
</script>