<div id="cms_dynamic_toolbar_{ID}" class="cms_dynamic_toolbar">
	<form class="cms_dynamic_form" action="" method="post">
	
		<div class="cms_dynamic_toolbar_header">
			<ul class="cms_dynamic_types">
				<li><a href="javascript:;" name="{LINK_NAME_HTMLHEAD}"><span>{LINK_LABEL_HTMLHEAD}</span></a></li>
				<li><a href="javascript:;" name="{LINK_NAME_HEAD}"><span>{LINK_LABEL_HEAD}</span></a></li>
				<li><a href="javascript:;" name="{LINK_NAME_HTML}"><span>{LINK_LABEL_HTML}</span></a></li>
				<li><a href="javascript:;" name="{LINK_NAME_IMG}"><span>{LINK_LABEL_IMG}</span></a></li>
				<li><a href="javascript:;" name="{LINK_NAME_LINK}"><span>{LINK_LABEL_LINK}</span></a></li>
				
			</ul>
			<div class="cms_dynamic_header_action">
				<a href="javascript:;" class="cms_dynamic_add cms_dynamic_link_disabled" title="{TEXT_ADD}"><img src="{CON_PATH}images/but_art_new.gif" /></a>
				<a href="javascript:;" class="cms_dynamic_save cms_dynamic_link_disabled" title="{TEXT_SAVE}"><img src="{CON_PATH}images/but_ok_off.gif" /></a>
			</div>
		 </div>
		<div class="cms_dynamic_config">
			<div class="cms_dynamic_config_element cms_dynamic_toolbar_htmlhead">
				{HTML_TEMPLATE}: <select name="template_htmlhead">
					{OPTIONS_HTMLHEAD}
				</select>
			</div>
			<div class="cms_dynamic_config_element cms_dynamic_toolbar_html">
				{HTML_TEMPLATE}: <select name="template_html">
					{OPTIONS_HTML}
				</select>
			</div>
			<div class="cms_dynamic_config_element cms_dynamic_toolbar_head">
				{HTML_TEMPLATE}: <select name="template_head">
					{OPTIONS_HEAD}
				</select>
			</div>
			<div class="cms_dynamic_config_element cms_dynamic_toolbar_img">
				{HTML_TEMPLATE}: <select name="template_img">
					{OPTIONS_IMG}
				</select>
			</div>
			<div class="cms_dynamic_config_element cms_dynamic_toolbar_link">
				{HTML_TEMPLATE}: <select name="template_link">
					{OPTIONS_LINK}
				</select>
			</div>
			
			<br class="cms_dynamic_clean" />
		</div>
	
		<!-- BEGIN:BLOCK -->
			<div class="cms_dynamic_form_element cms_dynamic_element_index_{ELEMENT_INDEX}">
				<input name="cms_dynamic_type[]" type="hidden" value="{DYN_TYPE}" />
				<input name="cms_dynamic_index[]" type="hidden" value="{DYN_VALUE}" />
		 	</div>	
		<!-- END:BLOCK -->
		
		<input type="hidden" name="cms_dynamic_action" value="save"/>
		<input type="hidden" name="cms_dynamic_add" value=""/>
		<input type="hidden" name="cms_dynamic_id" value="{ID}"/>
		<input type="submit" name="submit" style="display: none;"/>
	</form>
</div>
<script type="text/javascript">
	if (typeof(cmsDynamicTranslations) == 'undefined') {
		var cmsDynamicTranslations = {TRANSLATIONS};
		var cmsDynamicConPath = '{CON_PATH}';
        
        conLoadFile(sPath+'scripts/cmsDynamic.js', 'loadCmsDynamic();');		
	}
</script>
