{FORM}
<table {EXTRAB} id="{ID}" style="border:0px; border-left:1px; border-bottom: 1px; border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">
    {HEADER}
    <!-- BEGIN:BLOCK -->
	{SUBHEADER}
	<tr id="{ROWNAME}" class="textg_medium" style="background-color: {BGCOLOR};{STYLES}">
        <td nowrap="nowrap" valign="top" style="border: 0px; border-bottom:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;padding-left:{PADDING_LEFT}px;white-space:nowrap;" width="1"><nobr>{CATNAME}</nobr></td>
        <td nowrap="nowrap" valign="top" style="border: 0px; border-bottom:1px; border-right:1px; border-color: {BORDERCOLOR}; border-style: solid;" align="left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
    <tr id="{ROWNAME}" class="textg_medium" style="background-color: {BGCOLOR};">
        <td nowrap="nowrap" valign="top" style="border: 0px; border-top:0px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;padding-left:{PADDING_LEFT}px">&nbsp;</td>
        <td nowrap="nowrap" valign="top" style="border: 0px; border-top:0px; border-right:1px; border-color: {BORDERCOLOR}; border-style: solid;" align="right">{CANCELLINK}{EXTRABUTTONS}</td>
    </tr>
</table>
</form>