<span class="con_content_type_controls">
    <img id="{CONTENT_TYPE_ID}" class="con_img_button cms_abstract_img cms_{PREFIX}_img" alt="" src="{_PATH_CONTENIDO_FULLHTML_}{ICON}">
</span>
<div style="display:none;" id="{CONTENT_TYPE_ID}_settings" class="con_content_type_settings cms_abstract cms_{PREFIX}">
    <div class="cms_abstract_header">
        <div class="close">
            <a href="javascript:void(0);" class="con_img_button">
                <img src="{_PATH_CONTENIDO_FULLHTML_}images/but_cancel.gif" alt="">
            </a>
        </div>
        <p class="head">{HEADLINE}</p>
    </div>
