<div style="border: 1px solid #B3B3B3; border-left:none; border-top:none; margin-bottom:1px;">
    <form action="javascript:execFilter('1');" id="filter" name="filter" method="get">
        <input type="hidden" name="area" value="mod">
        <input type="hidden" name="frame" value="1">
        <input type="hidden" name="contenido" value="1">
        <input type="hidden" name="page" value="{PAGE}">
        <table class="borderless">
            <tr>
                <td style="padding-left:15px;" class="no_wrap">i18n("Items / page")</td>
                <td>{ITEMS_PER_PAGE}</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">i18n("Sort by")</td>
                <td>{SORT_BY}</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">i18n("Sort order")</td>
                <td>{SORT_ORDER}</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">i18n("Type filter")</td>
                <td>{TYPE_FILTER}</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">i18n("Search for")</td>
                <td>{SEARCH_FOR}</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">i18n("Search in")</td>
                <td>{SEARCH_IN}</td>
            </tr>
            <tr>
                <td style="padding-left:15px;">&nbsp;</td>
                <td><input type="submit" value="i18n("Apply")"></td>
            </tr>
        </table>
    </form>
</div>
<!--
template.log_main

i18n("Items / page")
i18n("Sort by")
i18n("Sort order")
i18n("Type filter")
i18n("Search for")
i18n("Search in")
i18n("Apply")

-->
