
{CODEMIRROR_SCRIPT}

<form  enctype="multipart/form-data" style="margin:0px" name="file_editor" method="post" action="main.php">
<input id="m4" name="area" type="hidden" value="{AREA}" />
<input id="m5" name="action" type="hidden" value="{ACTION}" />
<input id="m6" name="frame" type="hidden" value="4" />
<input id="m7" name="status" type="hidden" value="send" />
<input id="m8" name="tmp_file" type="hidden" value="{FILENAME}" />
<input id="m9" name="contenido" type="hidden" value="1" />

<table style="width: auto;" class="generic" cellspacing="0" cellpadding="2">
    <tr id="m10"><th id="m11" colspan="2" valign="top">i18n("Edit file")</th></tr>


    <tr id="1">
        <td nowrap="nowrap" valign="top" style="white-space: nowrap;" width="1"><nobr>i18n("Name")</nobr></td>
        <td nowrap="nowrap" valign="top" align="left"><input id="m1" name="file" value="{FILENAME}" size="60" type="text" /></td>
    </tr>


    <tr id="2">
        <td nowrap="nowrap" valign="top" style="white-space: nowrap;" width="1"><nobr>i18n("Description")</nobr></td>
        <td nowrap="nowrap" valign="top" align="left"><textarea id="m3" name="description" cols="100" rows="5" style="font-family: monospace;width: 100%;">{DESCRIPTION}</textarea></td>
    </tr>


    <tr id="3">
        <td nowrap="nowrap" valign="top" style="white-space: nowrap;" width="1"><nobr>i18n("Source code")</nobr></td>
        <td nowrap="nowrap" valign="top" align="left"><textarea id="code" name="code" cols="100" rows="35" style="font-family: monospace;width: 100%;" wrap="off">{SOURCE}</textarea></td>
    </tr>

    <tr id="4">
        <td nowrap="nowrap" valign="top">&nbsp;</td>
        <td nowrap="nowrap" valign="top" style="white-space: nowrap;" align="right"><input id="m12" name="submit" type="image" src="{SAVE_BUTTON_IMAGE}" alt="{SAVE_BUTTON_DESC}" title="{SAVE_BUTTON_DESC}" accesskey="s" onclick="" /></td>
    </tr>
</table>
</form>
<script type="text/javascript">
(function(Con, $) {
    $(function() {
        var subMenu = '0';
        if (false === isNaN(subMenu)) {
            // Old style, menu position as number
            Con.markSubmenuItem('c_' + subMenu);
        } else if ('string' === $.type(subMenu) && subMenu.length > 0) {
            // Old style, area name
            Con.markSubmenuItem(subMenu);
        }
    });
})(Con, Con.$);
</script>
