<div id="request_layer">
    <div id="request_label" style="display:block;">
        <p style="margin:0; padding:0;"><a href="javascript:void(0);">i18n('Request password?')</a></p>
    </div>
    <div id="request_form" style="display:none;">
        <p style="margin:0; padding:0;">{LABEL}</p>
        <div style="margin:0; padding:0;padding: 3px 0;">{FORM}</div>
        <p class="message">{MESSAGE}</p>
    </div>
</div>

<script type="text/javascript">
(function($) {
    $(function() {
        function showRequestLayer() {
            var $requestLayer = $("#request_layer"),
                pos = $requestLayer.position();

            $requestLayer.css({
                position: "absolute",
                top: (pos.top + 1)+ "px",
                left: pos.left + "px"/*,
                height: $("#request_form").height() + "px"*/
            });

            $("#request_form").show();
            $("#request_label").hide();
        }

        $("#request_layer a").click(function() {
            showRequestLayer();
            return true;
        });
        {JS_CALL}
    });
})(jQuery);
</script>
<!--
template.request_password

i18n('Request password?')

-->
