<div id="update_notifier" class="content_box_welcome">
  <h2 class="content_box">i18n('Update Information'):</h2>
  <p style="padding-right:20px;">{UPDATE_MESSAGE}</p>
  
  <hr class="sep"/>
  
  <a href="{URL_UPDATE}"><img style="float:right" title="{LABEL_BUT_UPDATE}" alt="{LABEL_BUT_UPDATE}" src="images/{IMG_BUT_UPDATE}"></a>
  <span class="sep">{UPDATE_ACTIVATION}</span>
  <hr class="sep"/>
</div>

<div id="rss_notifier" class="content_box_welcome">
  <h2 class="content_box">i18n('Contenido RSS'):</h2>
  
  <p style="padding-right:20px;display:{DISPLAY_DISABLED}">{NEWS_NOCONTENT}</p>
  <hr style="display:{DISPLAY_DISABLED}" class="sep"/>
  
  <!-- BEGIN:BLOCK -->
  <span class="sep">{NEWS_DATE}</span><br />
  <a href="{NEWS_URL}" target="_blank" title="{LABEL_MORE}" alt="{LABEL_MORE}" class="blue" style="font-weight:bold">{NEWS_TITLE}</a><br />
  {NEWS_TEXT} <br />
  <a href="{NEWS_URL}" target="_blank" title="{LABEL_MORE}" alt="{LABEL_MORE}" class="blue">{LABEL_MORE}</a>
  <hr class="sep"/>
  <!-- END:BLOCK -->
  
  <a href="{URL_RSS}"><img style="float:right" title="{LABEL_BUT_RSS}" alt="{LABEL_BUT_RSS}" src="images/{IMG_BUT_RSS}"></a>
  <span class="sep">{RSS_ACTIVATION}</span>
  <hr class="sep"/>
</div>