<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.stat_menu.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
</head>
<body class="page_generic">

<table id="stat_menu_list" class="borderless" width="100%" cellspacing="0" cellpadding="2" border="0">
    <tr>
        <th style="padding-left:{PADDING_LEFT}px">{OVERVIEWTEXT}</th>
    </tr>
    <tr data-type="row">
        <td style="padding-left:{PADDING_LEFT}px">{CURRENTTEXT}</td>
    </tr>
    <tr>
        <td style="padding-left:{PADDING_LEFT}px">&nbsp;</td>
    </tr>
    <tr class="text_medium">
        <td style="padding-left:{PADDING_LEFT}px">{ARCHIVETEXT}</td>
    </tr>

    <!-- BEGIN:BLOCK -->
    <tr class="text_medium row_mark" data-type="row">
        <td style="padding-left:{PADDING_LEFT}px">{TEXT}</td>
    </tr>
    <!-- END:BLOCK -->

</table>

<script type="text/javascript">
    (function(Con, $) {
        $(function() {
            Con.RowMark.initialize('#stat_menu_list .row_mark', 'row');
        });
    })(Con, Con.$);
</script>

</body>
</html>
