<div id="request_layer">
    <div class="request_label_layer" style="display:block;">
        <p><a href="javascript:void(0)">i18n('Request password?')</a></p>
    </div>
    <div class="request_form_layer" style="display:none;">
        <p>{LABEL}</p>
        <div>{FORM}</div>
        <p class="message">{MESSAGE}</p>
    </div>
    <div class="reset_form_layer" style="display:none;">
        <p class="message">{RESET_MESSAGE}</p>
        <div>{RESET_FORM}</div>
    </div>
</div>

<script type="text/javascript">
(function($) {
    $(function() {
        var $requestLayer = $("#request_layer");

        function showRequestLayer() {
            $requestLayer.find(".request_form_layer").show();
            $requestLayer.find(".request_label_layer").hide();
            $requestLayer.find(".reset_form_layer").hide();
        }

        function hideRequestLayer() {
            $requestLayer.find(".request_form_layer").hide();
            $requestLayer.find(".request_label_layer").show();
            $requestLayer.find(".reset_form_layer").hide();
        }

        $requestLayer.find("a").click(function() {
            showRequestLayer();
            return true;
        });

        $(document).on('keydown', function(event) {
            var isEscape;
            if ('key' in event) {
                isEscape = (event.key === 'Escape' || event.key === 'Esc');
            } else {
                isEscape = (event.keyCode === 27);
            }
            if (isEscape) {
                hideRequestLayer();
            }
        });

        function showResetLayer() {
            $requestLayer.find(".reset_form_layer").show();
        }

        {JS_CALL}
    });
})(jQuery);
</script>
<!--
template.request_password

i18n('Request password?')

-->
