<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <link rel="stylesheet" type="text/css" href="styles/tree.css">
    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript" src="scripts/browserCheck.js"></script>
    <script type="text/javascript" src="scripts/cfoldingrow.js"></script>
    <script type="text/javascript" src="scripts/parameterCollector.js"></script>
    <script type="text/javascript">
        var catlist = new Array({WHOLELIST});
        var scatlist = catlist.join(',');

        $(document).ready(function() {
            $(function() {
                //If browser is IE, disable BackgroundImageCache
                //if (jQuery.browser.msie)
                //{
                try {
                    document.execCommand("BackgroundImageCache", false, true);
                } catch (err) {}
                //}
            });
            var docwidth = document.body.scrollWidth + 100;
            //$("#con_str_tree li").width(docwidth);

            $("#con_str_tree li:last-child").addClass('last');

            $("#con_str_tree #root li div em a").click(function() {
                $(this).parent().parent().parent().toggleClass("collapsed");
                var sRowid = $(this).parent().parents("li").attr('id');
                var aRowids = sRowid.split("-");
                var iIdcat = aRowids[0];
                $.post("{AJAXURL}", { area: "{AREA}", action: "toggle", idcat: iIdcat, wholelist: scatlist, contenido: "{SESSION}" });
                return false;
            });

            $("#con_str_tree li div > a").click(function() {
              if ($(this).attr('class') != 'off_disabled') {
                  var collapsed = $(this).parent().parent("li").hasClass("collapsed");
                  $(this).parent().parent("li").removeClass("collapsed");
                  $("#con_str_tree li.active").removeClass('active');
                  $(this).parent().parent("li").addClass("active");
                  var sRowid = $(this).parent().parent("li").attr('id');
                  var aRowids = sRowid.split("-");
                  var iIdcat = aRowids[0];
                  var iIdtpl = aRowids[1];
                  conInjectData(this.parentNode.parentNode);
                  conMultiLink('right_top', 'main.php?area={AREA}&frame=3&idcat=' + iIdcat + '&idtpl=' + iIdtpl + '&display_menu=1&syncoptions={SYNCOPTIONS}&contenido={SESSION}', 'right_bottom', 'main.php?area={AREA}&frame=4&idcat=' + iIdcat + '&idtpl=' + iIdtpl + '&syncoptions={SYNCOPTIONS}&contenido={SESSION}');
                  if (collapsed) $.post("{AJAXURL}", { area: "{AREA}", action: "expand", idcat: iIdcat, wholelist: scatlist, contenido: "{SESSION}" });
              }
              return false;
            });

            $("#con_str_tree li div > a.off_disabled").css('cursor', 'default')

            $("#con_str_tree #root li div").hover(function() {
                $(this).addClass('hover');
            }, function() {
                $(this).removeClass('hover');
            });

            $("#con_str_tree #root li div").mousedown(function() {
                $("#con_str_tree #root li div.active").removeClass("active");
                $(this).addClass("active");
            });

            $("#con_str_tree #root li div").click(function() {
                conInjectData(this.parentNode);
            });
        });
    </script>
</head>
<body>

<!--{SYNCRONIZATION}-->
<ul id="con_str_tree" {DIRECTION}>
  <li id="root"><em>Root</em>
    {CATS}
  </li>
</ul>
<!--div style="margin-top:10px"></div-->

<script type="text/javascript">
    // Ugly frame concept seems to lead to ugly timeout problem -> wait some millis
    if (!getReference()) {
        setTimeout("irgendwas()", 1000);
    } else {
        irgendwas();
    }

    function reloadRightFrame() {
        var refCfg = getReference();
        var sRowId = cfg.getRowId();

        top.content.right.right_bottom.location.reload();
        top.content.right.right_top.location.reload();
    }

    function getReference() {
        return top.content.left.left_top.cfg;
    }

    function irgendwas() {
        if (cfg = getReference()) {
            var sRowId = cfg.getRowId();
            var oRow   = document.getElementById(sRowId);
            if (is.NS) {
                window.scrollTo(cfg.scrollX, cfg.scrollY);
            }

            if (oRow) {
                con.overColor = 'transparent';
                con.markedColor = 'transparent';
                con.overMarked = 'transparent';
                con.over(oRow);
                con.click(oRow);
            } else {
                con.reset();
                //cfg.reset();
                refreshSyncScreen(0);
            }
        }
    }

    {RELOAD_RIGHT}
    var frameResize = parent.parent.frameResize;
    var myTable = document.getElementById('con_str_tree');

    frameResize.optimalSize = myTable.offsetWidth;
</script>

</body>
</html>
