<!-- template.generic_menu.html -->
<table id="{MENU_ID}" class="borderless menu_overview_list" width="100%" cellspacing="0" cellpadding="2">

    <!-- BEGIN:BLOCK -->
    <tr {EXTRA}>
        <td align="left" data-type="icon">{ICON}</td>
        <td align="left" data-type="item" width="100%" class="text_medium" style="white-space:nowrap" nowrap="nowrap">{NAME}</td>
        <td valign="top" data-type="actions" align="right" style="white-space:nowrap" nowrap="nowrap">{ACTIONS}</td>
    </tr>
    <!-- END:BLOCK -->

</table>
<!-- /template.generic_menu.html -->
