<!DOCTYPE html>
<!-- template.generic_page_html5.html -->
<html>
<head>
    <title>{PAGENAME}</title>
{_META_HEAD_CONTENIDO_}
    {META}

{_CSS_HEAD_CONTENIDO_}
    <link rel="stylesheet" type="text/css" href="{_ASSET(styles/jquery/plugins/tipsy.css)_}">
    {STYLES}

{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/jquery/plugins/tipsy.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/registerTipsy.js)_}"></script>
    {SCRIPTS}
</head>

<body class="{PAGECLASS}" id="{PAGEID}">

{CONTENT}

<script type="text/javascript">
(function(Con, $) {
    $(function() {
        var subMenu = '{SUBMENU}';
        if (false === isNaN(subMenu)) {
            // Old style, menu position as number
            Con.markSubmenuItem('c_' + subMenu);
        } else if ('string' === $.type(subMenu) && subMenu.length > 0) {
            // Old style, area name
            Con.markSubmenuItem(subMenu);
        }
    });
})(Con, Con.$);
</script>
</body>
</html>
