<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="styles/jquery/plugins/timepicker.css">
    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript" src="scripts/jquery/plugins/timepicker.js"></script>
    <!-- get javascript files for language != en -->
    {CAL_LANG}
    <script type="text/javascript">
        var sid = "{SID}";

        function removeAssignments(idart, idcat) {
            url  = 'main.php?area=con_editart';
            url += '&action=remove_assignments';
            url += '&frame=4';
            url += '&idart=' + idart;
            url += '&idcat=' + idcat;
            url += '&contenido=' + sid;
            window.location.href = url;
        }

        $(document).ready(function() {
            $('#publishing_date').datetimepicker({
                buttonImage: '{PATH_TO_CALENDER_PIC}',
                buttonImageOnly: true,
                showOn: 'both',
                dateFormat: 'yy-mm-dd'
            });
        });

        function disableFunctionsOnTimeControl() {
            // Timecontrol enabled => disable Online and Startaticle
            if (document.getElementById("timemgmt").checked == true) {
                document.getElementById("is_start").checked = false;
                document.getElementById("is_start").disabled = true;
                if (document.getElementById("datestart").value != '') {
                    document.getElementById("online").checked = false;
                    document.getElementById("online").disabled = true;
                }
                $("#timemgmt").parent("td").parent("tr").nextAll("tr").css('display', '');
            } else {
                // Timecontrol disable => enable Online and Startarticle
                document.getElementById("is_start").disabled = false;
                document.getElementById("online").disabled = false;
                $("#timemgmt").parent("td").parent("tr").nextAll("tr").css('display', 'none');
            }

            if (document.getElementById("datestart").value == '') {
                document.getElementById("online").disabled = false;
            }
        }

        $(document).ready(function() {
            $('#datestart').datetimepicker({
                buttonImage: '{PATH_TO_CALENDER_PIC}',
                buttonImageOnly: true,
                showOn: 'both',
                dateFormat: 'yy-mm-dd',
                disabled: {IS_DATETIMEPICKER_DISABLED},
                onClose: function(dateText, inst) {
                    var endDateTextBox = $('#dateend');
                    if (endDateTextBox.val() != '') {
                        var testStartDate = new Date(dateText);
                        var testEndDate = new Date(endDateTextBox.val());
                        if (testStartDate > testEndDate) {
                            endDateTextBox.val(dateText);
                        }
                    } else {
                        endDateTextBox.val(dateText);
                    }
                },
                onSelect: function(selectedDateTime) {
                    var start = $(this).datetimepicker('getDate');
                    $('#dateend').datetimepicker('option', 'minDate', new Date(start.getTime()));
                }
            });

            $('#dateend').datetimepicker({
                buttonImage: '{PATH_TO_CALENDER_PIC}',
                buttonImageOnly: true,
                showOn: 'both',
                dateFormat: 'yy-mm-dd',
                disabled:{IS_DATETIMEPICKER_DISABLED},
                onClose: function(dateText, inst) {
                    var startDateTextBox = $('#datestart');
                    if (startDateTextBox.val() != '') {
                        var testStartDate = new Date(startDateTextBox.val());
                        var testEndDate = new Date(dateText);
                        if (testStartDate > testEndDate) {
                            startDateTextBox.val(dateText);
                        }
                    } else {
                        startDateTextBox.val(dateText);
                    }
                },
                onSelect: function(selectedDateTime) {
                    var end = $(this).datetimepicker('getDate');
                    $('#datestart').datetimepicker('option', 'maxDate', new Date(end.getTime()));
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("div#categorypath > a").click(function() {
                var url = $(this).attr('href');
                var sVal = url.split("idcat=");
                var aVal = sVal[1].split("&");
                var iIdcat = aVal[0];
                sVal = url.split("idtpl=");
                aVal = sVal[1].split("&");
                var iIdtpl = aVal[0];
                conMultiLink(
                    'right_top', 'main.php?area=con&frame=3&idcat=' + iIdcat + '&idtpl=' + iIdtpl + '&display_menu={DISPLAY_MENU}&syncoptions={SYNCOPTIONS}&contenido={SESSION}',
                    'right_bottom', url,
                    'left_bottom', 'main.php?area=con&frame=2&idcat=' + iIdcat + '&idtpl=' + iIdtpl + '&contenido={SESSION}'
                );
                return false;
            });
        });
    </script>
</head>
<body style="margin:10px" onload="disableFunctionsOnTimeControl()">

    {CATEGORY}

    <form method="post" name="art_props" action="{ACTION}">

        <input type="hidden" name="action" value="con_saveart">
        {HIDDENFIELDS}
        <input type="hidden" name="tmp_firstedit" value="{TMP_FIRSTEDIT}">
        <input type="hidden" name="idart" value="{IDART}">
        <input type="hidden" name="idcat" value="{IDCAT}">
        <input type="hidden" name="idartlang" value="{IDARTLANG}">

        {NOTIFICATION}

        <table cellspacing="0" cellpadding="2" class="generic conEditForm">

            <tr valign="top">
                <td class="text_medium" style="border-top:1px solid #B3B3B3;">{TITEL}</td>
                <td colspan="3" class="text_medium" style="border-top:1px solid #B3B3B3;">{TITEL-FIELD}</td>
            </tr>

            <!-- plugin Advanced Mod Rewrite - edit by stese //-->
            <tr valign="top">
                <td class="text_medium">{URLNAME}</td>
                <td colspan="3" class="text_medium">{URLNAME-FIELD}</td>
            </tr>
            <!-- end plugin Advanced Mod Rewrite //-->

            <tr valign="top">
                <td width="25%" class="text_medium">{DIRECTLINKTEXT}</td>
                <td width="75%" colspan="3" class="text_medium">{DIRECTLINK}</td>
            </tr>

            <tr valign="top" style="display:{NEWARTSTYLE};">
                <td width="25%" class="text_medium">{ARTIKELART}</td>
                <td width="75%" colspan="3" class="text_medium">{ARTIKELARTSELECT}</td>
            </tr>

            <tr valign="top" style="display:{NEWARTSTYLE};">
                <td class="text_medium">{ARTIKELID}</td>
                <td class="text_medium">{ARTID}</td>
                <td class="text_medium">{ZUORDNUNGSID}</td>
                <td class="text_medium">{ALLOCID}</td>
            </tr>

            <tr valign="top" style="display:{NEWARTSTYLE};">
                <td class="text_medium">{ERSTELLT}</td>
                <td class="text_medium">{ERSTELLUNGS-DATUM}</td>
                <td class="text_medium">{AUTHOR_CREATOR}</td>
                <td class="text_medium">{AUTOR-ERSTELLUNGS-NAME}</td>
            </tr>

            <tr valign="top" style="display:{NEWARTSTYLE};">
                <td class="text_medium">{LETZTE-AENDERUNG}</td>
                <td class="text_medium">{AENDERUNGS-DATUM}</td>
                <td class="text_medium">{AUTHOR_MODIFIER}</td>
                <td class="text_medium">{AUTOR-AENDERUNG-NAME}</td>
            </tr>

            <tr valign="top" style="display:{NEWARTSTYLE};">
                <td class="text_medium">{PUBLISHING_DATE_LABEL}</td>
                <td class="text_medium"><input type="text" name="publishing_date" id="publishing_date" value="{PUBLISHING_DATE}" size="20" maxlength="40" class="text_medium" style="width: 130px;"></td>
                <td class="text_medium">{PUBLISHER}</td>
                <td class="text_medium">{PUBLISHER_NAME}</td>
            </tr>

            <tr valign="top">
                <td class="text_medium"><label for="checkbox_forwarding">{WEITERLEITUNG}</label></td>
                <td valign="bottom" colspan="3" class="text_medium">
                    {CHECKBOX}{URL}{CHECKBOX-NEWWINDOW}
                </td>
            </tr>

            <tr>
                <td class="text_medium" valign="top">i18n("Time control")</td>
                <td colspan="3" class="text_medium">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top" style="border:none;"><input type="checkbox" onclick="javascript:disableFunctionsOnTimeControl();" name="timemgmt" id="timemgmt" value="1" {TIMEMGMTCHECKED}></td>
                            <td style="width:500px;border:none;" colspan="2" class="text_medium"><label for="timemgmt">i18n("Use time control")</label></td>
                        </tr>
                        <tr>
                            <td valign="top" style="border:none;">&nbsp;</td>
                            <td class="text_medium" style="border:none;">i18n("Start date"):</td>
                            <td style="border:none;"><input type="text" name="datestart" id="datestart" onkeyup="disableFunctionsOnTimeControl();" onchange="disableFunctionsOnTimeControl();" value="{STARTDATE}" {SDOPTS} size="20" maxlength="40" class="text_medium"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="border:none;">&nbsp;</td>
                            <td class="text_medium" style="border:none;">i18n("End date"):</td>
                            <td style="border:none;"><input type="text" name="dateend" id="dateend" value="{ENDDATE}" {EDOPTS} size="20" maxlength="40" class="text_medium"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="border:none;"><input type="checkbox" id="time_move_cat" name="time_move_cat" value="1" {MOVETOCATCHECKED}></td>
                            <td class="text_medium" style="border:none;"><label for="time_move_cat">i18n("When expired, move to category"):</label></td>
                            <td style="border:none;">{MOVETOCATEGORYSELECT}</td>
                        </tr>
                        <tr>
                            <td valign="top" style="border:none;"><input type="checkbox" id="time_online_move" name="time_online_move" value="1" {ONLINEAFTERMOVECHECKED}></td>
                            <td colspan="2" class="text_medium" style="border:none;"><label for="time_online_move">i18n("Make online after move")</label></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr valign="top">
                <td class="text_medium"><label for="online">{ONLINE}</label></td>
                <td class="text_medium">{ONLINE-CHECKBOX}</td>
                <td class="text_medium"><label for="is_start">{STARTARTIKEL}</label></td>
                <td class="text_medium">{STARTARTIKEL-CHECKBOX}</td>
            </tr>

            <tr valign="top">
                <td class="text_medium"><label for="searchable">{SEARCHABLE}</label></td>
                <td colspan="3" class="text_medium">{SEARCHABLE-CHECKBOX}</td>
            </tr>

            <tr valign="top">
                <td class="text_medium">{SORTIERUNG}</td>
                <td colspan="3" class="text_medium">{SORTIERUNG-FIELD}</td>
            </tr>

            {NOTIFICATION_SYNCHRON}

            <tr valign="top">
                <td class="text_medium">{STRUKTUR}</td>
                <td colspan="3" class="text_medium">{STRUKTUR-FIELD}</td>
            </tr>

            <tr valign="top">
                <td class="text_medium">{SUMMARY}</td>
                <td colspan="3" class="text_medium">{SUMMARY-INPUT}</td>
            </tr>

            {ADDITIONAL_ROWS}

            <tr><td colspan="4" class="text_medium" align="right"><input id="saveart" accesskey="s" type="image" {BUTTONDISABLE} src="images/{BUTTONIMAGE}" title="{REASON}"></td></tr>

        </table>

        <br>

    </form>

    <script type="text/javascript">
        var bNoArticle = {bNoArticle};
        if (bNoArticle) {
            $("input#saveart").click(function() {
                conMultiLink('right_top', 'main.php?area=con&frame=3&idcat={iIdcat}&idtpl={iIdtpl}&display_menu={DISPLAY_MENU}&syncoptions={SYNCOPTIONS}&contenido={SESSION}&action=saveart&bNoArticle='+{bNoArticle});
                if (parent.parent.frames["right"].frames["right_top"].document.getElementById('c_1')) {
                    menuItem = parent.parent.frames["right"].frames["right_top"].document.getElementById('c_1');
                    parent.parent.frames["right"].frames["right_top"].menuItem.firstChild;
                }
                return true;
            });
        }

        // Create a reference to the Article Object in frame 'right_top'
        artObj = parent.parent.frames["left"].frames["left_top"].artObj;

        if (parent.parent.frames["right"].frames["right_top"].document.getElementById('c_1')) {
            menuItem = parent.parent.frames["right"].frames["right_top"].document.getElementById('c_1');
            parent.parent.frames["right"].frames["right_top"].sub.clicked(menuItem.firstChild);
        }

        {DATAPUSH}
    </script>
</body>
</html>
<!--
template.con_edit_form

i18n("Time control")
i18n("Use time control")
i18n("Start date")
i18n("End date")
i18n("When expired, move to category")
i18n("Make online after move")

-->
