<script type="text/javascript">
(function(Con, $) {
    var frame = Con.getFrame('left_bottom');
    if ({RELOAD_LEFT_BOTTOM}) {
		var href = 'main.php?area=lang&frame=2&contenido={CONTENIDO}';
        frame.location.href = href;
    }
})(Con, Con.$);
</script>
<script type="text/javascript">
(function(Con, $) {
    if({ADD_LANG}) {
    	Con.getFrame('header').languageSelectAdd("{NEW_LANG}", {IDLANG});
    }
})(Con, Con.$);
</script>
<script type="text/javascript">
(function(Con, $) {
    if({REMOVE_LANG}) {
    	Con.getFrame('header').languageSelectRemove({IDLANG});
    }
})(Con, Con.$);
</script>
<script type="text/javascript">
(function(Con, $) {
    if({UPDATE_LANG}) {
    	Con.getFrame('header').languageSelectUpdate("{NEW_LANG_NAME}", {IDLANG});
    }
})(Con, Con.$);
</script>

{FORM}
