<form enctype="multipart/form-data" style="margin:0" name="translation" method="post" action="main.php">
    <input name="area" type="hidden" value="mod_translate">
    <input name="frame" type="hidden" value="4">
    <input name="idmod" type="hidden" value="{IDMOD}">
    <input name="row" type="hidden" value="{ROW}">
    <input name="action" type="hidden" value="mod_translation_save">
    <input name="contenido" type="hidden" value="1">

    <table id="mod_translate" class="generic col_md">
        <tr>
            <th colspan="2" class="align_top">
                {HEADER}
            </th>
        </tr>

        <tr>
            <td class="no_wrap align_top">
                i18n("String list")
            </td>
            <td class="no_wrap align_top text_left">
                <table class="borderless">
                    <tr>
                        <td class="col_50 pdt0">
                            i18n("Original module string")
                        </td>
                        <td class="col_50 pdt0">
                            {TRANSLATION_FOR}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <iframe style="border:1px solid black;" width="690"
                                    src="main.php?area=mod_translate&frame=5&action=&idmod={IDMOD}&current={CURRENT}&row={ROW}&contenido=1#{ROW}"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea {DISABLED} id="m3" name="t_orig" cols="50" rows="5" style="width:340px;">{LAST_STRING}</textarea>
                        </td>
                        <td>
                            <textarea {DISABLED} id="m4" name="t_trans" cols="50" rows="5" style="width:340px;">{LAST_TRANSLATION}</textarea>
                        </td>
                    </tr>
                </table>
                i18n("Hint: Hit ALT+SHIFT+S to save the translated entry and advance to the next string.")
            </td>
        </tr>

        <tr>
            <td class="no_wrap align_top" style="padding-left: 0;">&nbsp;</td>
            <td class="no_wrap align_top text_right">
                <input class="con_img_button" name="submit" type="image" src="images/but_ok{READONLY}.gif" alt="i18n(" Save changes")"
                title="i18n("Save changes")" accesskey="s" onclick="">
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">document.translation.t_trans.focus();</script>
<!--
template.mod_translate

i18n("String list")
i18n("Original module string")
i18n("Hint: Hit ALT+SHIFT+S to save the translated entry and advance to the next string.")
i18n("Save changes")

-->
