{FORM}

<script type="text/javascript">
function deleteModule(idmod) {
    //console.log(parent.frames[1].document.filter.sortorder);
    var form = document.getElementById("filter");

    var url  = Con.UtilUrl.build('main.php', {
        area: 'mod_edit',
        action: 'mod_delete',
        frame: 4,
        idmod: idmod,
        sortby: parent.frames[1].document.filter.sortby,
        sortorder: parent.frames[1].document.filter.sortorder,
        filter: parent.frames[1].document.filtertype
    });
    url += get_registered_parameters();
    Con.getFrame('right_bottom').location.href = url;
}

(function(Con, $) {
    $(function() {
        $(".in_used_mod").live("click", function() {
            var iId = $(this).attr("rel"),
                modName = $(this).parents().filter('table:first').parent().prev().text();
            if (iId) {
                $.post("ajaxmain.php", { area: "mod", ajax: "inused_module", id: iId, contenido: Con.sid },
                    function(data) {
                        var inUseTitle = "i18n("The module '%s' is used for following templates")";
                        inUseTitle = inUseTitle.replace('%s', modName);
                        Con.showNotification(inUseTitle, data, null, true);
                    }
                );
            }
        });
    });

    if ($('#marked')) {
        row.click($('#marked')[0]);
    }
})(Con, Con.$);
</script>

<!--

template.mod_overview

i18n("The module '%s' is used for following templates")

-->