<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript" src="scripts/contenidoConfig.js"></script>
    <style type="text/css">
    #top_left_container {border: 1px solid #B3B3B3; padding: 5px 0 5px 16px; margin-top: 1px;}
    #top_left_container .sel {clear: both;}
    </style>
    <script type="text/javascript">
var sessid = "{SESSID}";

(function($) {

    function _onCreateClick(e) {
        showConfirmation('i18n("Do you really want to create a new language?")', _confirmCallback);
    }

    function _confirmCallback() {
        var $element = $("#editclient"),
            url = "";
        url = "main.php?" + $.param({
            "area": "lang_edit",
            "action": "lang_newlanguage",
            "frame": "4",
            "targetclient": $element.val(),
            "contenido": sessid
        });
        parent.parent.frames["right"].frames["right_bottom"].location.href = url;
    }

    function _onClientChange(e) {
        var url = "main.php?" + $.param({
            "area": "lang",
            "frame": "2",
            "targetclient": $(this).val(),
            "contenido": sessid
        });
        parent.parent.frames["left"].frames["left_bottom"].location.href = url;
    }

    $(document).ready(function() {
        // Resize frame
        parent.parent.frameResize.resizeTopLeftFrame($("#top_left_container").height() + 13);

        // Bind to create language click
        $("#top_left_container a.addfunction").click(_onCreateClick);

        // Bind to client change
        $("#editclient").change(_onClientChange);
    });

})(jQuery);

</script>
</head>
<body>

<div id="top_left_container">
    {NEWLANG}
    {CLIENTSELECT}
</div>
</body>
</html>
<!--

i18n("Do you really want to create a new language?")

-->