
<!-- template.con_editcontent.html -->
<!-- @TODO Similar to template.con_content_list.html, merge them -->
<style type="text/css">
.defaultSkin table.mceLayout {position: absolute; z-index: 10000;}
.defaultSkin #mce_fullscreen_tbl {z-index: 20000;}
.defaultSkin .mcePlaceHolder {position: absolute; z-index: 10000;}
</style>

{_JS_HEAD_CONTENIDO_FULLHTML_}

{JS_EDITCONTENT}

<script src="{_PATH_CONTENIDO_FULLHTML_}scripts/con_tiny.js" type="text/javascript"></script>
<!-- tinyMCE -->
<script src="{_PATH_CONTENIDO_FULLHTML_}external/wysiwyg/tinymce3/jscripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>

<script type="text/javascript">

(function(Con, $) {

    // Configuration of tiny, when tiny is opened set event which stores original
    // content to Con.Tiny.editDataOrg
    var wysiwygSettings = {
        document_base_url: '{FRONTEND}',
        {TINY_OPTIONS},
        fullscreen_settings: {
            {TINY_FULLSCREEN}
        },
        'setup': function(ed) {
            ed.onSetContent.add(function(ed, o) {
                Con.Tiny.updateContent(ed.getContent());
            });
        }
    };

    // Initialize CONTENIDO tiny module
    Con.Tiny.init({
        fileUrl: '{FILE}',
        imageUrl: '{IMAGE}',
        flashUrl: '{FLASH}',
        mediaUrl: '{MEDIA}',
        frontendPath: '{FRONTEND}',
        txtQuestion: '{QUESTION}',
        idartlang: '{IDARTLANG}',
        settings: wysiwygSettings
    });

    // Create ClosePlugin
    tinymce.create('tinymce.plugins.ClosePlugin', {
        init: function(ed, url) {
            ed.addButton('save', {
                title: '{SAVE}',
                image: '{_PATH_CONTENIDO_FULLHTML_}images/but_save_tiny.gif',
                icons: false,
                onclick: function(ed) {
                    Con.Tiny.setContent(Con.Tiny.idartlang);
                }
            });

            ed.addButton('close', {
                title: '{CLOSE}',
                image: '{_PATH_CONTENIDO_FULLHTML_}images/but_close_tiny.gif',
                icons: false,
                onclick: function(ed) {
                    Con.Tiny.closeTiny();
                }
            });
        }
    });

    // Register plugin with a short name
    tinymce.PluginManager.add('close', tinymce.plugins.ClosePlugin);

    tinymce.settings = wysiwygSettings;

    // Add tiny to elements which contains classname contentEditable
    // tiny toggles on click
    $(function() {
        var useTiny = '{USE_TINY}';
        $('div[contenteditable=true]').each(function() {
            $(this).attr('contentEditable', 'false'); //remove coneditable tags in order to disable special firefox behaviour
            $(this).bind('click', function() {
                if (useTiny) {
                    Con.Tiny.swapTiny(this);
                }
            });
        });
    });

    // Activate save confirmation on page leave
    $(window).unload(function() {
        Con.Tiny.leaveCheck();
    });

})(Con, Con.$);
</script>
