<html>
<head>
    <title></title>
	<meta http-equiv="expires" content="0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">    
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript" src="scripts/messageBox.js.php?contenido={SID}"></script>
	<script type="text/javascript">

		var sid = "{SID}";

		function rcpChangeLimit()
		{
			
			var element = document.getElementsByTagName("SELECT");
			
			url  = "";
            url += "main.php?area=recipients";
            url += "&frame=2";
			url += "&limit="+element[0].value;
			url += "&recipientsStart={RECIPIENTSSTART}";
            url += "&contenido=" + sid;
			parent.parent.frames["left"].frames["left_bottom"].location.href = url;
		}

		function rcpStartSearch()
		{
			
			var element = document.getElementsByTagName("INPUT");
			
			url  = "";
            url += "main.php?area=recipients";
            url += "&frame=2";
			url += "&limit={LIMITTO}";
			url += "&search="+element[0].value;
			url += "&recipientsStart={RECIPIENTSSTART}";
            url += "&contenido=" + sid;
			parent.parent.frames["left"].frames["left_bottom"].location.href = url;
		}
		
		        /* Create messageBox
           instance */
        box = new messageBox("", "", "", 0, 0);

        /* Function for deleting
           modules */

        function deleteRecipient(idrcp) {
            url  = 'main.php?area=recipients';
            url += '&action=recipients_delete';
            url += '&frame=4';
            url += '&newsrcpid=' + idrcp;
            url += '&contenido=' + sid;
            parent.parent.frames["right"].frames["right_bottom"].window.location.href = url;

        }
	</script>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td colspan="3"><img src="images/spacer.gif" height="4"></td>
	</tr>
    <tr>
		<td colspan="3">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td align="left"><img src="images/spacer.gif" width="20" height="10">{LEFT}</td>
					<td align="center" class="text_medium">{PAGESPEC}</td>
					<td align="right">{RIGHT}<img src="images/spacer.gif" width="20" height="10"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;
		</td>
	</tr>
	<tr>
		<td style="padding-left: 4px;" align="left" colspan="3">
    		<table border="0" cellspacing="0" cellpadding="0">
    			<tr>
    				<td class="text_medium">i18n("Limit"):</td>
    				<td colspan="2" class="text_medium">{LIMIT}</td>
    			</tr>
    			<tr>
    				<td class="text_medium">i18n("Search"):</td>
    				<td class="text_medium">{SEARCH}</td>
					<td class="text_medium" valign="center"><img src="images/spacer.gif" width="2">{SEARCHSUBMIT}</td>
    			</tr>
    		</table>
		</td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;
		</td>
	</tr>
<!-- BEGIN:BLOCK -->
    <tr bgcolor="{BGCOLOR}">
	    <td style="padding: 2px; padding-left:4px;" width="10" valign="middle" class="{CLASS}">{ICON}</td>
        <td style="padding-left:4px;padding-top:2px;padding-bottom:2px;" width="143" align="left" valign="top" class="{CLASS}">{RCPNAME}</td>
        <td width="10" align="right">{DELETE}</td>
    </tr>
    <!-- END:BLOCK -->

</table>
</body>
</html>
