<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{PAGENAME}</title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    {META}

    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/jquery/plugins/atooltip.jquery.js"></script>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript" src="scripts/jquery/plugins/tipsy.js"></script>
    <script type="text/javascript" src="scripts/registerTipsy.js"></script>
    <script type="text/javascript">
        conMarkSubmenuItem("c_{SUBMENU}");
    </script>
    {SCRIPTS}

    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/jquery/plugins/tipsy.css">
    <link rel="stylesheet" type="text/css" href="styles/jquery/plugins/atooltip.css">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    {STYLES}
</head>

<body style="margin: 10px;" id="{PAGENAME}">
{CONTENT}
</body>
</html>