<table class="generic">
    <tr>
        <th style="width: 1%;">i18n("No.")</th>
        <th style="width: 97%;">i18n("Search Term")</th>
        <th class="no_wrap" style="width: 1%;">{RESULTS_HEADER}</th>
        <th style="width: 1%;">{ADDITIONAL_INFO}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr>
        <td style="width: 1%;">{NUMBER}</td>
        <td style="width: 97%;">{SEARCH_TERM}</td>
        <td class="no_wrap" style="width: 1%;">{NUMBER_OF_RESULTS}</td>
        <td class="no_wrap" style="width: 1%;">{ADDITIONAL_INFO}</td>
    </tr>
    <!-- END:BLOCK -->
</table>