<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
</head>
<body class="mg10">

{TEMPNOTIFICATION}
<br>
<table class="width100" cellspacing="0" cellpadding="0" border="0">
    <tr class="textg_medium" style="background-color: #E2E2E2">
        <td class="textg_medium pd5 borderB3 noborderb" nowrap="nowrap">
            i18n("CONTENIDO Error Log")
        </td>
    </tr>

    <tr class="text_medium">
        <td class="text_medium borderB3 nobordert tgleft vgtop" nowrap="nowrap">
            <textarea class="txt" readonly="readonly" style="width:99.5%;height:{TXTERRORLOGSIZE}px;" rows="100" cols="100">{ERRORLOG}</textarea>
        </td>
    </tr>
    <tr class="text_medium">
        <td class="text_medium pd5 borderB3 nobordert tgleft vgtop" nowrap="nowrap">
            <a href="{LOGEMPTYURL}">
                <img src="./images/but_delete.gif" alt="i18n("clear error log")" title="i18n("clear error log")" class="vgmiddle">
            </a> <a href="{LOGEMPTYURL}">i18n("clear error log")</a>
        </td>
    </tr>
</table><br>
<table cellspacing="0" cellpadding="1" border="0" class="width100">
    <tr>
        <td class="width50 vgtop">
            {SERVER_CONFIGURATION}<br>
            {SYSTEM_STATISTICS}
        </td>
        <td class="width1"></td>
        <td class="width49 vgtop">
            {INSTALLED_VERSIONS}<br>
            {PHP_CONFIGURATION}
        </td>
    </tr>
</table>
<br>
{CLIENTS}
</body>
</html>