{INFO}
<div class="atfilter">
    <div class="right">
        {SEARCH}
    </div>
    {NEWLANG}
</div>
{FORM}
<div class="atpager">
    <div class="right">{ELEMPERPAGE}</div>{PAGER}
</div>
<script type="text/javascript">
(function(Con, $) {
    $(function() {
        // Translation edit form
        var $form = $('form[name="{FORM_NAME}"]');

        function actionCancel() {
            // Reset action and cancel
            $form.find('input[name="action"]').val('');
            $form[0].reset();
        }

        function actionInUsedModule($element) {
            var id = $element.data('id'),
                moduleName = $element.closest('[data-name]');

            if (id) {
                $.post("ajaxmain.php", { area: "mod", ajax: "inused_module", id: id, contenido: Con.sid },
                    function(data) {
                        var inUseTitle = "{MODULEINUSETEXT}";
                        inUseTitle = inUseTitle.replace("%s", moduleName);
                        Con.showNotification(inUseTitle, data, null, true);
                    }
                );
            }
        }

        function actionDelLang($element) {
            var id = $element.data('id');

            if (id) {
                var $input = $('<input type="hidden" name="dellang" value="' + id + '" />');
                $form.find('input[name="action"]').val('');
                $form.append($input);
                $form.submit();
            }
        }

        $('#con_translate [data-action]').live('click', function() {
            var action = $(this).data('action');

            if (action === 'cancel') {
                actionCancel();
            } else if (action === 'inused_module') {
                actionInUsedModule($(this));
            } else if (action === 'dellang') {
                actionDelLang($(this));
            }
        });

    });
})(Con, Con.$);
</script>
