<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <script type="text/javascript" src="scripts/jquery/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript" src="scripts/general.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
    <script type="text/javascript">
        parent.parent.frames["left"].frames["left_bottom"].location.reload();
    </script>
    <style type="text/css">
        #contenido_notification {margin-bottom:5px;}
        table.content { border:0px; border-left:1px; border-bottom:1px; border-style:solid; }
        table.content td { border:0px; border-top:1px; border-right:1px; border-style:solid; border-color:{BORDERCOLOR}; }
    </style>
</head>
<body style="margin:10px">
{NOTIFICATION}
{FORM}
<table class="generic" cellspacing="0" cellpadding="2" border="0">
    <tr>
        <th valign="top">{PROPERTY}</th>
        <th valign="top" align="left">{VALUE}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr>
        <td valign="top">{CATNAME}</td>
        <td valign="top" align="left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
    <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top" align="right">
            <input type="image" src="images/but_ok.gif" alt="{SUBMITTEXT}" border="0">
        </td>
    </tr>
</table>
</form>
</body>
</html>
