<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.log_main.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
{_JS_HEAD_CONTENIDO_}
    <script type="text/javascript" src="{_ASSET(scripts/rowMark.js)_}"></script>
    <script type="text/javascript" src="{_ASSET(scripts/infoBox.js)_}"></script>
</head>

<body class="page_generic">

{FORM}
<table class="generic col_md" id="optionselect">
    <tr>
        <th class="align_top">i18n("Filter")</th>
        <th class="align_top">i18n("Value")</th>
    </tr>
    <tr>
        <td class="align_top">i18n("Client"):</td>
        <td class="align_top"><select name="idqclient">{CLIENTS}</select></td>
    </tr>

     <tr>
        <td class="align_top">i18n("Language"):</td>
        <td class="align_top">{LANGUAGE}</td>
    </tr>
    <tr>
        <td class="align_top">i18n("User"):</td>
        <td class="align_top"><select name="idquser">{USERS}</select></td>
    </tr>
    <tr>
        <td class="align_top">i18n("Action"):</td>
        <td class="align_top"><select name="idqaction">{ACTION}</select></td>
    </tr>
    <tr>
        <td class="align_top">i18n("Start date"):</td>
        <td class="align_top">
            {FROMDAY}
            {FROMMONTH}
            {FROMYEAR}
        </td>
     </tr>
      <tr>
        <td class="align_top">i18n("End date"):</td>
        <td class="align_top">
            {TODAY}
            {TOMONTH}
            {TOYEAR}
        </td>
     </tr>
     <tr>
        <td class="align_top">i18n("Limit"):</td>
        <td class="align_top">{LIMIT}</td>
    </tr>
    <tr>
        <td class="align_top text_right" colspan="5">
            <input class="con_img_button" type="image" src="images/but_ok.gif" alt="{SUBMITTEXT}" title="{SUBMITTEXT}">
        </td>
    </tr>
</table>
<br>
<table class="generic" id="results">
    <tr>
        <th class="align_top">{LABEL_CLIENT}</th>
        <th class="align_top">{LABEL_LANG}</th>
        <th class="align_top">{LABEL_DATE}</th>
        <th class="align_top">{LABEL_USER}</th>
        <th class="align_top">{LABEL_ACTION}</th>
        <th class="align_top">{LABEL_CATEGORY}</th>
        <th class="align_top">{LABEL_ARTICLE}</th>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr id="{ROWNAME}">
        <td class="align_top">{RCLIENT}</td>
        <td class="align_top">{RLANG}</td>
        <td class="align_top">{RDATETIME}</td>
        <td class="align_top">{RUSER}</td>
        <td class="align_top">{RACTION}</td>
        <td class="align_top">{RSTR}</td>
        <td class="align_top">{RPAGE}</td>
    </tr>
    <!-- END:BLOCK -->
    {NORESULTS}
</table>
</form>
</body>
</html>
<!--
template.log_main

i18n("Filter")
i18n("Value")
i18n("Client")
i18n("Language")
i18n("Action")
i18n("Start date")
i18n("End date")
i18n("Limit")

-->
