
<td class="no_wrap">
    i18n("Mass Synchronize")
    {SYNCLISTINFO}
</td>
<td class="pdt0 pdb0">
    <div class="con_sync_list">
        {SYNCLANGLIST}

        <div class="buttonRow">
            <fieldset class="border_b3">
                <legend>i18n("For selected:")</legend>
                <input title="i18n("Synchronize this article to all selected languages")" alt="i18n("Synchronize this article to all selected languages")" class="con_img_button syncAllButton" style="background-image: url(images/but_sync_art.gif);" type="submit" name="syncAll">
                <input title="i18n("Bring this article in the selected languages online")" alt="i18n("Bring this article in the selected languages online")" class="con_img_button onlineAllButton" style="background-image: url(images/online.gif);" type="submit" name="onlineAll">
                <input title="i18n("Take this article in the selected languages offline")" alt="i18n("Take this article in the selected languages offline")" class="con_img_button onlineAllButton" style="background-image: url(images/offline.gif);" type="submit" name="offlineAll">
            </fieldset>
        </div>
    </div>
</td>
