
<div style="text-align: center; width: 100%;">
    <b>i18n("Search Terms: ")</b>
</div>

<table class="borderless" style="width: 100%;">
    <tr onmouseover="row.over(this)" onmouseout="row.out(this)"
        onclick="row.click(this)">
        <td style="padding-left: 17px"><a target="right_bottom"
            href="main.php?area=stat_search&frame=4&action=show_all_terms">
            i18n("Show all Search Terms")
        </a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr onmouseover="row.over(this)" onmouseout="row.out(this)"
        onclick="row.click(this)">
        <td style="padding-left: 17px"><a target="right_bottom"
            href="main.php?area=stat_search&frame=4&action=show_single_term&term={SEARCHTERM_URL}">{SEARCHTERM}</a>
        </td>
    </tr>
    <!-- END:BLOCK -->
</table>