<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>template.system_variables.html</title>
{_META_HEAD_CONTENIDO_}
{_CSS_HEAD_CONTENIDO_}
</head>
<body style="margin:10px">

{TEMPNOTIFICATION}
<!--br>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr class="textg_medium" style="background-color: #E2E2E2">
        <td class="textg_medium" style="padding:5px;border:1px; border-color:#B3B3B3; border-style:solid;border-bottom: none" nowrap="nowrap">
            i18n("CONTENIDO error log")
        </td>
    </tr>

    <tr class="text_medium">
        <td class="text_medium" style="border:1px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap" align="left" valign="top">
            <textarea class="txt" readonly="readonly" style="resize:none;width:99.5%;height:{TXTERRORLOGSIZE}px;" rows="100" cols="100">{ERRORLOG}</textarea>
        </td>
    </tr>
    <tr class="text_medium">
        <td class="text_medium" style="padding:5px;border:1px; border-top:0px; border-color: #B3B3B3; border-style: solid" nowrap="nowrap" align="left" valign="top">
            <a href="{LOGEMPTYURL}">
                <img src="./images/but_delete.gif" alt="i18n("Clear error log")" title="i18n("clear error log")" class="vAlignMiddle">
            </a> <a href="{LOGEMPTYURL}">i18n("clear error log")</a>
        </td>
    </tr>
</table><br-->
<table cellspacing="0" cellpadding="1" border="0" width="100%">
    <tr>
        <td width="50%" valign="top">
            {SERVER_CONFIGURATION}<br />
			{DATABASE_CONFIGURATION}<br />
            {SYSTEM_STATISTICS}
        </td>
        <td width="1%"></td>
        <td width="49%" valign="top">
			{INSTALLED_VERSIONS}<br />
            {PHP_CONFIGURATION}
        </td>
    </tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			{CLIENTS}
		</td>
	</tr>
</table>
<br>
</body>
</html>
<!--
template.system_variables

i18n("CONTENIDO error log")
i18n("Clear error log")

-->
